<div class="row">
    <div class="col-xl-5">
        <div class="card card-box bg-primary border-primary p-4 text-white mb-5">
            <span class="ribbon-angle ribbon-angle--top-right ribbon-success"><small>Best</small></span>
            <h5 class="display-5 font-weight-bold mb-5">
                Active subscription
            </h5>
            <div class="no-gutters row">
                <div class="col-md-6 d-flex align-items-center flex-column">
                    <div class="divider-v bg-white opacity-3 divider-v-lg"></div>
                    <div>
                        <div class="mb-3">
                            <span class="display-2 font-weight-bold">$29</span>
                            <span class="opacity-8">/ month</span>
                        </div>
                        <ul class="p-0 opacity-7 m-0">
                            <li>
                                Commercial license
                            </li>
                            <li>
                                Multiple developers
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center justify-content-center">
                    <div class="text-center">
                        <div class="mb-3 font-size-lg font-weight-bold">
                            <b>65</b> days ago
                        </div>

                        <button class="btn btn-danger px-3 py-1 font-size-xs font-weight-bold text-uppercase">
                            <small>
                                Renew now
                            </small>
                        </button>
                    </div>
                </div>
            </div>

            <div class="divider opacity-5 my-4"></div>

            <div class="text-center">
                <button class="btn btn-sm btn-secondary shadow-none">
                    View license details
                </button>
            </div>
        </div>
        <div class="card card-box bg-midnight-bloom p-4 mb-5">
            <div class="d-flex justify-content-between">
                <div class="pr-5">
                    <div class="bg-first text-center text-white font-size-xl d-50 rounded-circle mb-4 mt-1">
                        <fa-icon [icon]="['far', 'object-group']"></fa-icon>
                    </div>
                    <h4 class="font-size-xl text-white font-weight-bold mb-2">He lay on his armour-like back, and if he lifted his head.</h4>
                    <button class="btn text-white-50 text-uppercase px-0 font-size-sm">
                    <span class="btn-wrapper--label">
                        <small class="font-weight-bold">View details</small>
                    </span>
                        <span class="btn-wrapper--icon">
                        <small>
                            <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
                        </small>
                    </span>
                    </button>
                </div>
                <div class="w-43 d-flex align-items-center">
                    <img alt="..." class="d-block img-fluid" src="assets/images/illustrations/maps.svg">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-7">
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-box mb-5">
                    <div class="card-header-alt d-flex justify-content-between p-4">
                        <div>
                            <h6 class="font-weight-bold font-size-lg mb-1 text-black">Storage status</h6>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="btn-group" dropdown placement="bottom right">
                                <button class="btn btn-link btn-link-second p-0 text-muted dropdown-toggle no-caret"
                                        dropdownToggle
                                        type="button">
                                    <fa-icon [icon]="['fas', 'ellipsis-h']"></fa-icon>
                                </button>
                                <div *dropdownMenu
                                     class="dropdown-menu dropdown-menu-right dropdown-menu-xxl overflow-hidden p-0">
                                    <ul class="nav nav-dark flex-column py-2">
                                        <li class="nav-item">
                                            <a [routerLink]="" class="nav-link">
                                                <div class="nav-link-icon">
                                                    <fa-icon [icon]="['far', 'building']"></fa-icon>
                                                </div>
                                                <span>Dashboard</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a [routerLink]="" class="nav-link active">
                                                <div class="nav-link-icon">
                                                    <fa-icon [icon]="['far', 'question-circle']"></fa-icon>
                                                </div>
                                                <span>Layouts</span>
                                                <div class="ml-auto badge badge-warning">512</div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a [routerLink]="" class="nav-link disabled">
                                                <div class="nav-link-icon">
                                                    <fa-icon [icon]="['far', 'user-circle']"></fa-icon>
                                                </div>
                                                <span>Reports</span>
                                            </a>
                                        </li>
                                        <li class="nav-item nav-item--header">
                                            <span>Others</span>
                                        </li>
                                        <li class="nav-item">
                                            <a [routerLink]="" class="nav-link">
                                                <div class="nav-link-icon">
                                                    <fa-icon [icon]="['far', 'object-group']"></fa-icon>
                                                </div>
                                                <span>Components</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a [routerLink]="" class="nav-link">
                                                <div class="nav-link-icon">
                                                    <fa-icon [icon]="['far', 'chart-bar']"></fa-icon>
                                                </div>
                                                <span>Services</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto">
                        <ngx-gauge append="%" backgroundColor="#d1d2db" cap="round" class="img-fluid"
                                   foregroundColor="#f4772e" max="120" min="0"
                                   size="218" thick="12"
                                   type="arch" value="68.4">
                        </ngx-gauge>
                    </div>

                    <div class="px-4 pb-4">
                        <div class="row no-gutters text-uppercase font-size-sm mb-4">
                            <div class="col-md-6 d-flex align-items-center justify-content-end">
                                <span>Available</span>
                                <span class="badge badge-circle badge-success mx-2">available</span>
                            </div>
                            <div class="col-md-6 d-flex align-items-center text-left">
                                <span class="badge badge-circle badge-danger mx-2">total</span>
                                <span>Total</span>
                            </div>
                        </div>
                        <button class="btn btn-block btn-primary text-uppercase font-size-sm font-weight-bold">
                            Increase limit
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-box p-4 mb-5">
                    <div class="card-header-alt d-flex justify-content-between pb-4">
                        <div>
                            <h6 class="font-weight-bold font-size-lg mb-1 text-black">Available storage</h6>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="btn-group" dropdown placement="bottom right">
                                <button class="btn btn-link btn-link-second p-0 text-muted dropdown-toggle no-caret"
                                        dropdownToggle
                                        type="button">
                                    <fa-icon [icon]="['fas', 'ellipsis-h']"></fa-icon>
                                </button>
                                <div *dropdownMenu
                                     class="dropdown-menu dropdown-menu-right dropdown-menu-xxl overflow-hidden p-0">
                                    <ul class="nav nav-dark flex-column py-2">
                                        <li class="nav-item">
                                            <a [routerLink]="" class="nav-link">
                                                <div class="nav-link-icon">
                                                    <fa-icon [icon]="['far', 'building']"></fa-icon>
                                                </div>
                                                <span>Dashboard</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a [routerLink]="" class="nav-link active">
                                                <div class="nav-link-icon">
                                                    <fa-icon [icon]="['far', 'question-circle']"></fa-icon>
                                                </div>
                                                <span>Layouts</span>
                                                <div class="ml-auto badge badge-warning">512</div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a [routerLink]="" class="nav-link disabled">
                                                <div class="nav-link-icon">
                                                    <fa-icon [icon]="['far', 'user-circle']"></fa-icon>
                                                </div>
                                                <span>Reports</span>
                                            </a>
                                        </li>
                                        <li class="nav-item nav-item--header">
                                            <span>Others</span>
                                        </li>
                                        <li class="nav-item">
                                            <a [routerLink]="" class="nav-link">
                                                <div class="nav-link-icon">
                                                    <fa-icon [icon]="['far', 'object-group']"></fa-icon>
                                                </div>
                                                <span>Components</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a [routerLink]="" class="nav-link">
                                                <div class="nav-link-icon">
                                                    <fa-icon [icon]="['far', 'chart-bar']"></fa-icon>
                                                </div>
                                                <span>Services</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-start">
                        <fa-icon [icon]="['far', 'object-group']" class="display-1"></fa-icon>
                        <div class="flex-grow-1 pl-4">
                            <div class="d-block mb-2 mt-1"><b>5GB</b> used out of <b>25GB</b></div>
                            <progressbar [animate]="true" [value]="39" class="progress-animated-alt" type="danger">39%
                            </progressbar>
                        </div>
                    </div>
                    <small class="d-block mt-3">
                <span class="d-block pb-3">
                    Get <b>1 GB</b> of free storage if you take advantage of our premium plans.
                </span>
                        <a [routerLink]="" class="btn p-0 font-weight-bold font-size-xs btn-link btn-link-first" title="View details">View
                            details</a>
                    </small>
                </div>
                <div class="card card-box p-3 mb-5">
                    <div class="d-flex align-items-center">
                        <ngx-gauge backgroundColor="#edeef1" cap="round" class="img-fluid mr-2" foregroundColor="#1bc943"
                                   max="100" min="0" size="84"
                                   thick="6"
                                   type="full" value="76">
                        </ngx-gauge>
                        <div>
                            <div class="text-black-50">Stocks trading</div>
                            <div class="font-weight-bold display-4 py-1 text-success">
                                $<span [countUp]="687"></span>
                            </div>
                            <div class="text-black-50 font-size-sm">
                                <fa-icon [icon]="['fas', 'chevron-up']" class="font-size-sm pr-1"></fa-icon>
                                15% increase this month
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card p-3 mb-5">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6">
                    <div class="text-black-50 font-weight-bold pb-4">Project management</div>
                    <div class="d-flex justify-content-center">
                        <div>
                            <div class="text-center font-size-lg px-5">
                        <span class="font-weight-bold">
                            456
                        </span>
                                <small class="text-black-50 d-block">Visitors</small>
                            </div>
                        </div>
                        <div>
                            <div class="text-center font-size-lg px-5">
                        <span class="font-weight-bold">
                            56%
                        </span>
                                <small class="text-black-50 d-block">Increase</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="text-black-50 font-weight-bold pb-4">Current progress</div>
                    <progressbar [animate]="true" [value]="34" class="progress-animated-alt" type="success">34%</progressbar>
                    <div class="align-box-row mt-1 text-muted">
                        <div class="font-weight-bold">Orders</div>
                        <div class="ml-auto">
                            <div class="font-size-lg font-weight-bold text-success">
                                348
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
