<div class="row">
    <div class="col-md-3">
        <div class="color-swatch">
            <div class="color-swatch--bg bg-neutral-primary"></div>
            <h6 class="color-swatch--title">bg-neutral-primary</h6>
        </div>
    </div>
    <div class="col-md-3">
        <div class="color-swatch">
            <div class="color-swatch--bg bg-neutral-first"></div>
            <h6 class="color-swatch--title">bg-neutral-first</h6>
        </div>
    </div>
    <div class="col-md-3">
        <div class="color-swatch">
            <div class="color-swatch--bg bg-neutral-second"></div>
            <h6 class="color-swatch--title">bg-neutral-second</h6>
        </div>
    </div>
    <div class="col-md-3">
        <div class="color-swatch">
            <div class="color-swatch--bg bg-neutral-success"></div>
            <h6 class="color-swatch--title">bg-neutral-success</h6>
        </div>
    </div>
    <div class="col-md-3">
        <div class="color-swatch">
            <div class="color-swatch--bg bg-neutral-warning"></div>
            <h6 class="color-swatch--title">bg-neutral-warning</h6>
        </div>
    </div>
    <div class="col-md-3">
        <div class="color-swatch">
            <div class="color-swatch--bg bg-neutral-danger"></div>
            <h6 class="color-swatch--title">bg-neutral-danger</h6>
        </div>
    </div>
    <div class="col-md-3">
        <div class="color-swatch">
            <div class="color-swatch--bg bg-neutral-info"></div>
            <h6 class="color-swatch--title">bg-neutral-info</h6>
        </div>
    </div>
    <div class="col-md-3">
        <div class="color-swatch">
            <div class="color-swatch--bg bg-neutral-dark"></div>
            <h6 class="color-swatch--title">bg-neutral-dark</h6>
        </div>
    </div>
</div>
