<div class="row">
    <div class="col-xl-4">
        <a [routerLink]="" class="card btn rounded text-left mb-5 p-4">
            <div class="d-flex align-items-center">
                <div class="d-70 rounded-circle bg-success text-white mr-3 text-center">
                    <fa-icon [icon]="['far', 'user']" class="font-size-lg"></fa-icon>
                </div>
                <div class="flex-grow-1">
                    <div class="text-black-50 pb-1">Project management</div>
                    <div class="text-success">+ 5,72%</div>
                </div>
                <div class="font-size-sm opacity-5">
                    <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-4">
        <a [routerLink]="" class="card btn rounded text-left mb-5 p-4">
            <div class="d-flex align-items-center">
                <div class="d-70 rounded-circle bg-warning text-white mr-3 text-center">
                    <fa-icon [icon]="['far', 'bell']" class="font-size-lg"></fa-icon>
                </div>
                <div class="flex-grow-1">
                    <div class="text-black-50 pb-1">Analytics statistics</div>
                    <div class="text-warning">457 new users</div>
                </div>
                <div class="font-size-sm opacity-5">
                    <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-4">
        <a [routerLink]="" class="card btn rounded text-left mb-5 p-4">
            <div class="d-flex align-items-center">
                <div class="d-70 rounded-circle bg-neutral-first text-first mr-3 text-center">
                    <fa-icon [icon]="['far', 'lightbulb']" class="font-size-lg"></fa-icon>
                </div>
                <div class="flex-grow-1">
                    <div class="text-black-50 pb-1">Tasks overview</div>
                    <div class="text-danger">
                        <div class="badge badge-danger mr-1">23 tasks</div>
                        due today
                    </div>
                </div>
                <div class="font-size-sm opacity-5">
                    <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
                </div>
            </div>
        </a>
    </div>
</div>
