<div class="row">
    <div class="col-xl-6">
        <div class="heading-3 text-center">Three column grids</div>
        <div class="card card-box shadow-none rounded-0 border-2 mb-3 mx-3">
            <div class="grid-menu grid-menu-3col">
                <div class="no-gutters row">
                    <div class="col-sm-6 col-xl-4">
                        <button class="btn border-0 w-100 btn-transition-none rounded-0 shadow-none btn-outline-light py-4 px-1"
                                type="button">
                            <fa-icon [icon]="['far', 'comment-dots']" class="h2 d-block mb-2 mt-1 text-dark"></fa-icon>
                            <div class="font-weight-bold text-first">Profiles</div>
                            <div class="font-size-md mb-1 text-dark">Clients Details</div>
                        </button>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <button class="btn border-0 w-100 btn-transition-none rounded-0 shadow-none btn-outline-light py-4 px-1"
                                type="button">
                            <fa-icon [icon]="['far', 'keyboard']" class="h2 d-block mb-2 mt-1 text-dark"></fa-icon>
                            <div class="font-weight-bold text-first">Accounts</div>
                            <div class="font-size-md mb-1 text-black-50">Statistics</div>
                        </button>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <button class="btn border-0 w-100 btn-transition-none rounded-0 shadow-none btn-outline-light py-4 px-1"
                                type="button">
                            <fa-icon [icon]="['far', 'object-group']" class="h2 d-block mb-2 mt-1 text-dark"></fa-icon>
                            <div class="font-weight-bold text-first">Servers</div>
                            <div class="font-size-md mb-1 text-black-50">Uptime Status</div>
                        </button>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <button class="btn border-0 w-100 btn-transition-none rounded-0 shadow-none btn-outline-light py-4 px-1"
                                type="button">
                            <fa-icon [icon]="['far', 'user-circle']" class="h2 d-block mb-2 mt-1 text-dark"></fa-icon>
                            <div class="font-weight-bold text-first">Deliveries</div>
                            <div class="font-size-md mb-1 text-black-50">Status Report</div>
                        </button>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <button class="btn border-0 w-100 btn-transition-none rounded-0 shadow-none btn-outline-light py-4 px-1"
                                type="button">
                            <fa-icon [icon]="['far', 'question-circle']"
                                     class="h2 d-block mb-2 mt-1 text-dark"></fa-icon>
                            <div class="font-weight-bold text-first">Car Fleet</div>
                            <div class="font-size-md mb-1 text-black-50">View Details</div>
                        </button>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <button class="btn border-0 w-100 btn-transition-none rounded-0 shadow-none btn-outline-light py-4 px-1"
                                type="button">
                            <fa-icon [icon]="['far', 'building']" class="h2 d-block mb-2 mt-1 text-dark"></fa-icon>
                            <div class="font-weight-bold text-first">Income</div>
                            <div class="font-size-md mb-1 text-black-50">Annual Report</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="heading-3 text-center">Two column grids</div>
        <div class="card card-box shadow-none rounded-0 border-2 mb-3 mx-3">
            <div class="grid-menu grid-menu-2col">
                <div class="no-gutters row">
                    <div class="col-sm-6">
                        <button class="btn border-0 w-100 btn-transition-none rounded-0 shadow-none btn-outline-gray py-4 px-1"
                                type="button">
                            <fa-icon [icon]="['far', 'bell']" class="h2 d-block mb-2 mt-1 text-warning"></fa-icon>
                            <div class="font-weight-bold text-black">Reports</div>
                            <div class="font-size-md mb-1 text-black-50">Monthly Stats</div>
                        </button>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn border-0 w-100 btn-transition-none rounded-0 shadow-none btn-outline-gray py-4 px-1"
                                type="button">
                            <fa-icon [icon]="['far', 'file-excel']" class="h2 d-block mb-2 mt-1 text-warning"></fa-icon>
                            <div class="font-weight-bold text-black">Statistics</div>
                            <div class="font-size-md mb-1 text-black-50">Customers stats</div>
                        </button>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn border-0 w-100 btn-transition-none rounded-0 shadow-none btn-outline-gray py-4 px-1"
                                type="button">
                            <fa-icon [icon]="['far', 'eye']" class="h2 d-block mb-2 mt-1 text-warning"></fa-icon>
                            <div class="font-weight-bold text-black">Projects</div>
                            <div class="font-size-md mb-1 text-black-50">Manage servers</div>
                        </button>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn border-0 w-100 btn-transition-none rounded-0 shadow-none btn-outline-gray py-4 px-1"
                                type="button">
                            <fa-icon [icon]="['far', 'chart-bar']" class="h2 d-block mb-2 mt-1 text-warning"></fa-icon>
                            <div class="font-weight-bold text-black">Tasks</div>
                            <div class="font-size-md mb-1 text-black-50">Pending items</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divider my-4"></div>
<div class="row">
    <div class="col-xl-6">
        <div class="d-flex flex-wrap">
            <div class="w-50 p-3">
                <button class="btn btn-gradient bg-night-sky text-left px-4 py-3 w-100 rounded-lg" type="button">
                    <div>
                        <i-feather class="h1 d-block mb-4 text-warning line-height-1"
                                   name="settings"></i-feather>
                        <div class="font-weight-bold font-size-lg">Reports</div>
                        <div class="font-size-md mb-1 opacity-8">Monthly Stats</div>
                    </div>
                </button>
            </div>
            <div class="w-50 p-3">
                <button class="btn btn-gradient bg-midnight-bloom text-left px-4 py-3 w-100 rounded-lg" type="button">
                    <div>
                        <i-feather class="h1 d-block mb-4 text-success line-height-1"
                                   name="grid"></i-feather>
                        <div class="font-weight-bold font-size-lg">Statistics</div>
                        <div class="font-size-md mb-1 opacity-8">Customers stats</div>
                    </div>
                </button>
            </div>
            <div class="w-50 p-3">
                <button class="btn btn-gradient bg-vicious-stance text-left px-4 py-3 w-100 rounded-lg" type="button">
                    <div>
                        <i-feather class="h1 d-block mb-4 text-danger line-height-1"
                                   name="users"></i-feather>
                        <div class="font-weight-bold font-size-lg">Projects</div>
                        <div class="font-size-md mb-1 opacity-8">Manage servers</div>
                    </div>
                </button>
            </div>
            <div class="w-50 p-3">
                <button class="btn btn-gradient bg-royal text-left px-4 py-3 w-100 rounded-lg" type="button">
                    <div>
                        <i-feather class="h1 d-block mb-4 text-first line-height-1"
                                   name="layers"></i-feather>
                        <div class="font-weight-bold font-size-lg">Tasks</div>
                        <div class="font-size-md mb-1 opacity-8">Pending items</div>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="d-flex flex-wrap">
            <div class="w-50 p-3">
                <button class="btn card card-box text-left d-flex justify-content-center px-4 py-3 w-100"
                        type="button">
                    <div>
                        <i-feather class="h1 d-block mb-4 text-warning line-height-1"
                                   name="settings"></i-feather>
                        <div class="font-weight-bold font-size-lg text-black">Reports</div>
                        <div class="font-size-md mb-1 text-black-50">Monthly Stats</div>
                    </div>
                </button>
            </div>
            <div class="w-50 p-3">
                <button class="btn card card-box text-left d-flex justify-content-center px-4 py-3 w-100"
                        type="button">
                    <div>
                        <i-feather class="h1 d-block mb-4 text-success line-height-1"
                                   name="grid"></i-feather>
                        <div class="font-weight-bold font-size-lg text-black">Statistics</div>
                        <div class="font-size-md mb-1 text-black-50">Customers stats</div>
                    </div>
                </button>
            </div>
            <div class="w-50 p-3">
                <button class="btn card card-box text-left d-flex justify-content-center px-4 py-3 w-100"
                        type="button">
                    <div>
                        <i-feather class="h1 d-block mb-4 text-danger line-height-1"
                                   name="users"></i-feather>
                        <div class="font-weight-bold font-size-lg text-black">Projects</div>
                        <div class="font-size-md mb-1 text-black-50">Manage servers</div>
                    </div>
                </button>
            </div>
            <div class="w-50 p-3">
                <button class="btn card card-box text-left d-flex justify-content-center px-4 py-3 w-100"
                        type="button">
                    <div>
                        <i-feather class="h1 d-block mb-4 text-first line-height-1"
                                   name="layers"></i-feather>
                        <div class="font-weight-bold font-size-lg text-black">Tasks</div>
                        <div class="font-size-md mb-1 text-black-50">Pending items</div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
