<div class="icon-demo-box">
  <div class="card p-2 text-primary">
    <span class="pe-7s-rocket font-size-xxl"></span>
  </div>
  <div class="card p-2 text-success">
    <span class="pe-7s-hourglass font-size-xxl"></span>
  </div>
  <div class="card p-2 text-warning">
    <span class="pe-7s-settings font-size-xxl"></span>
  </div>
  <div class="card p-2 text-danger">
    <span class="pe-7s-leaf font-size-xxl"></span>
  </div>
  <div class="card p-2 text-dark">
    <span class="pe-7s-piggy font-size-xxl"></span>
  </div>
  <div class="card p-2 text-info">
    <span class="pe-7s-id font-size-xxl"></span>
  </div>
  <div class="card p-2 text-first">
    <span class="pe-7s-world font-size-xxl"></span>
  </div>
  <div class="card p-2 text-second">
    <span class="pe-7s-cloud-download font-size-xxl"></span>
  </div>
  <div class="card p-2">
    <span class="pe-7s-umbrella font-size-xxl"></span>
  </div>
  <div class="card p-2">
    <span class="pe-7s-shield font-size-xxl"></span>
  </div>
  <div class="card p-2">
    <span class="pe-7s-radio font-size-xxl"></span>
  </div>
  <div class="card p-2">
    <span class="pe-7s-medal font-size-xxl"></span>
  </div>
</div>
