<bar-rating [(rate)]="ratingH2" [titles]="['Bad', 'Mediocre' , 'Good', 'Awesome']"  disabled [theme]="'rating-horizontal-alternate'" [showText]="true" class="rating-success" [max]="4"></bar-rating>

<bar-rating [(rate)]="ratingH2" [titles]="['Bad', 'Mediocre' , 'Good', 'Awesome']"  disabled [theme]="'rating-horizontal-alternate'" [showText]="true" class="rating-first" [max]="4"></bar-rating>

<bar-rating [(rate)]="ratingH2" [titles]="['Bad', 'Mediocre' , 'Good', 'Awesome']"  disabled [theme]="'rating-horizontal-alternate'" [showText]="true" class="rating-danger" [max]="4"></bar-rating>

<bar-rating [(rate)]="ratingH2" [titles]="['Bad', 'Mediocre' , 'Good', 'Awesome']"  disabled [theme]="'rating-horizontal-alternate'" [showText]="true" class="rating-warning" [max]="4"></bar-rating>
