<accordion [isAnimated]="true" class="accordion mb-5">
    <accordion-group class="card card-box">
        <button accordion-heading class="btn btn-link btn-lg d-flex align-items-center justify-content-between"
                type="button">
            <span class="font-weight-bold font-size-sm">Accordion collapse 1</span>
            <fa-icon [icon]="['fas', 'chevron-up']" class="text-dark opacity-6"></fa-icon>
        </button>
        <div class="p-3">This is just some content to illustrate fancy headings.</div>
    </accordion-group>
    <accordion-group class="card card-box">
        <button accordion-heading class="btn btn-link btn-lg d-flex align-items-center justify-content-between"
                type="button">
            <span class="font-weight-bold font-size-sm">Accordion collapse 2</span>
            <fa-icon [icon]="['fas', 'chevron-up']" class="text-dark opacity-6"></fa-icon>
        </button>
        <div class="p-3">This is just some content to illustrate fancy headings.</div>
    </accordion-group>
    <accordion-group class="card card-box">
        <button accordion-heading class="btn btn-link btn-lg d-flex align-items-center justify-content-between"
                type="button">
            <span class="font-weight-bold font-size-sm">Accordion collapse 3</span>
            <fa-icon [icon]="['fas', 'chevron-up']" class="text-dark opacity-6"></fa-icon>
        </button>
        <div class="p-3">This is just some content to illustrate fancy headings.</div>
    </accordion-group>
</accordion>
