<app-page-title titleDescription='This is a dashboard page example built using this template.' titleHeading='Default'></app-page-title>



<app-dashboard-default-section-1></app-dashboard-default-section-1>
<app-dashboard-default-section-2></app-dashboard-default-section-2>
<app-dashboard-default-section-3></app-dashboard-default-section-3>
<app-dashboard-default-section-4></app-dashboard-default-section-4>
<app-dashboard-default-section-5></app-dashboard-default-section-5>
<app-dashboard-default-section-6></app-dashboard-default-section-6>
<app-dashboard-default-section-7></app-dashboard-default-section-7>
<app-dashboard-default-section-8></app-dashboard-default-section-8>



