<div class="p-3">
    <div class="card card-box w-100 shadow-none demo-box-positions bg-neutral-dark border-dark badge-wrapper badge-wrapper">
        <span class="badge badge-position badge-position--top-left badge-circle badge-danger" tooltip="Badge top left">Badge top left</span>
        <span class="badge badge-position badge-position--top-center badge-circle badge-success" tooltip="Badge top center">Badge top center</span>
        <span class="badge badge-position badge-position--top-right badge-circle badge-info" tooltip="Badge top right">Badge top right</span>

        <span class="badge badge-position badge-position--bottom-left badge-circle badge-warning" tooltip="Badge bottom left">Badge bottom left</span>
        <span class="badge badge-position badge-position--bottom-center badge-circle badge-first" tooltip="Badge bottom center">Badge bottom center</span>
        <span class="badge badge-position badge-position--bottom-right badge-circle badge-primary" tooltip="Badge bottom right">Badge bottom right</span>
    </div>
</div>

<div class="divider my-3"></div>

<div class="p-3">
    <div class="card card-box w-100 shadow-none demo-box-positions bg-neutral-dark border-dark badge-wrapper badge-wrapper">
        <span class="badge badge-position badge-position--top-left badge-circle-inner badge-success" tooltip="Badge top left">Badge top left</span>
        <span class="badge badge-position badge-position--top-center badge-circle-inner badge-danger" tooltip="Badge top center">Badge top center</span>
        <span class="badge badge-position badge-position--top-right badge-circle-inner badge-warning" tooltip="Badge top right">Badge top right</span>

        <span class="badge badge-position badge-position--bottom-left badge-circle-inner badge-info" tooltip="Badge bottom left">Badge bottom left</span>
        <span class="badge badge-position badge-position--bottom-center badge-circle-inner badge-first" tooltip="Badge bottom center">Badge bottom center</span>
        <span class="badge badge-position badge-position--bottom-right badge-circle-inner badge-second" tooltip="Badge bottom right">Badge bottom right</span>
    </div>
</div>
