<button class="btn m-2 btn-primary" type="button">Button</button>
<button class="btn m-2 btn-primary" type="button">
    <span class="btn-wrapper--icon">
        <fa-icon [icon]="['far', 'lightbulb']"></fa-icon>
    </span>
    <span class="btn-wrapper--label">Left icon</span>
</button>
<button class="btn m-2 btn-primary" type="button">
    <span class="btn-wrapper--label">Right icon</span>
    <span class="btn-wrapper--icon">
        <fa-icon [icon]="['far', 'keyboard']"></fa-icon>
    </span>
</button>
<button class="btn m-2 btn-primary" type="button">
    <span class="btn-wrapper--icon">
        <fa-icon [icon]="['fas', 'cog']"></fa-icon>
    </span>
</button>
