<div class="bg-light py-3 py-xl-5">
    <div class="container py-3 py-xl-5">
        <div class="d-block d-xl-flex mb-5 justify-content-between">
            <div>
                <h1 class="display-3 text-dark mb-2 font-weight-bold">
                    Plans & pricing
                </h1>
                <p class="font-size-lg text-black">
                    Indignation and dislike men who are so beguiled and demoralized.
                </p>
            </div>
            <div class="d-flex align-items-center">
                <div role="group" class="btn-group-lg nav btn-group">
                    <a [routerLink]="" class="active btn btn-pill btn-outline-second">Monthly</a>
                    <a [routerLink]="" class="btn btn-pill btn-outline-second">Yearly</a>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-xl-4">
                <div class="card mb-5 card-box-hover-rise card-box-hover">
                    <div class="card-body px-4 pb-4 pt-3 text-center">
                        <h3 class="display-4 my-3 font-weight-bold text-dark">
                            Standard
                        </h3>
                        <span class="display-2 font-weight-bold">
                            <small class="font-size-lg">$</small>
                            69
                        </span>
                        <p class="text-black-50 mb-0">
                            monthly fee, for a single user
                        </p>
                        <a [routerLink]="" class="btn font-weight-bold text-uppercase btn-lg my-4 btn-outline-success btn-block">
                            Buy now
                        </a>
                        <ul class="list-unstyled text-left mb-3 font-weight-bold font-size-sm">
                            <li class="px-4 py-2">
                                <span class="badge badge-circle-inner badge-success mr-2">Success</span>
                                Unlimited Tasks
                            </li>
                            <li class="px-4 py-2">
                                <span class="badge badge-circle-inner badge-success mr-2">Success</span>
                                Unlimited Teams
                            </li>
                            <li class="px-4 py-2">
                                <span class="badge badge-circle-inner badge-success mr-2">Success</span>
                                All Integrations
                            </li>
                            <li class="px-4 py-2 text-black-50">
                                <span class="badge badge-circle-inner badge-danger mr-2">Danger</span>
                                Premium support
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card card-box shadow-xxl border-3 border-success mb-5">
                    <div class="card-body px-5 pb-5 pt-4 text-center">
                        <h3 class="display-3 my-3 font-weight-bold text-black">
                            Business
                        </h3>
                        <span class="display-2 font-weight-bold">
                            <small class="font-size-lg">$</small>
                            139
                        </span>
                        <p class="text-black-50 mb-0">
                            monthly fee, for a single user
                        </p>
                        <a [routerLink]="" class="btn font-weight-bold text-uppercase btn-lg my-4 btn-success btn-block">
                            Buy now
                        </a>
                        <ul class="list-unstyled text-left mb-3 font-weight-bold font-size-sm">
                            <li class="px-4 py-2">
                                <span class="badge badge-circle-inner badge-success mr-2">Success</span>

                                Unlimited Tasks
                            </li>
                            <li class="px-4 py-2">
                                <span class="badge badge-circle-inner badge-success mr-2">Success</span>
                                Unlimited Teams
                            </li>
                            <li class="px-4 py-2">
                                <span class="badge badge-circle-inner badge-success mr-2">Success</span>
                                All Integrations
                            </li>
                            <li class="px-4 py-2 text-black-50">
                                <span class="badge badge-circle-inner badge-danger mr-2">Danger</span>
                                Premium support
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card mb-5 card-box-hover-rise card-box-hover">
                    <div class="card-body px-4 pb-4 pt-3 text-center">
                        <h3 class="display-4 my-3 font-weight-bold text-dark">
                            Enterprise
                        </h3>
                        <span class="display-2 font-weight-bold">
                            <small class="font-size-lg">$</small>
                            99
                        </span>
                        <p class="text-black-50 mb-0">
                            monthly fee, for a single user
                        </p>
                        <a [routerLink]="" class="btn font-weight-bold text-uppercase btn-lg my-4 btn-outline-success btn-block">
                            Buy now
                        </a>
                        <ul class="list-unstyled text-left mb-3 font-weight-bold font-size-sm">
                            <li class="px-4 py-2">
                                <span class="badge badge-circle-inner badge-success mr-2">Success</span>

                                Unlimited Tasks
                            </li>
                            <li class="px-4 py-2">
                                <span class="badge badge-circle-inner badge-success mr-2">Success</span>
                                Unlimited Teams
                            </li>
                            <li class="px-4 py-2">
                                <span class="badge badge-circle-inner badge-success mr-2">Success</span>
                                All Integrations
                            </li>
                            <li class="px-4 py-2 text-black-50">
                                <span class="badge badge-circle-inner badge-danger mr-2">Danger</span>
                                Premium support
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
