<div class="d-flex flex-row flex-wrap justify-content-center">
    <div class="m-2">
        <ui-switch class="toggle-switch-primary" checked></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch class="toggle-switch-danger" checked></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch class="toggle-switch-warning" checked></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch class="toggle-switch-success" checked></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch class="toggle-switch-info" checked></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch class="toggle-switch-second" checked></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch class="toggle-switch-first" checked></ui-switch>
    </div>
</div>

<div class="divider my-4"></div>

<div class="d-flex flex-row flex-wrap justify-content-center">
    <div class="m-2">
        <ui-switch class="toggle-switch-line toggle-switch-primary" checked></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch class="toggle-switch-line toggle-switch-danger" checked></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch class="toggle-switch-line toggle-switch-warning" checked></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch class="toggle-switch-line toggle-switch-success" checked></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch class="toggle-switch-line toggle-switch-info" checked></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch class="toggle-switch-line toggle-switch-second" checked></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch class="toggle-switch-line toggle-switch-first" checked></ui-switch>
    </div>
</div>

<div class="divider my-4"></div>

<div class="d-flex flex-row flex-wrap justify-content-center">
    <div class="m-2">
        <ui-switch class="toggle-switch-line toggle-switch-primary" size="small" checked></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch class="toggle-switch-line toggle-switch-danger" checked></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch class="toggle-switch-line toggle-switch-warning" size="large" checked></ui-switch>
    </div>
</div>
