<div class="bg-premium-dark py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-xl-4">
                <div class="text-center text-xl-right pt-0 pt-xl-4 pb-5 pb-xl-0">
                    <h1 class="display-2 text-white mb-3 font-weight-bold">
                        Our customer stories
                    </h1>
                    <p class="font-size-xl mb-5 text-white-50">
                        Read how customers around the world use our services to build their projects
                    </p>
                    <a [routerLink]="" class="btn btn-first btn-lg">
                        Read the stories
                    </a>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="pl-0 pl-xl-5">
                    <div class="card mb-5">
                        <div class="card-body">
                            <div class="align-box-row align-items-start">
                                <div>
                                    <div class="card card-transparent">
                                        <a [routerLink]="" class="card-img-wrapper rounded">
                                            <img src="assets/images/stock-photos/people-2.jpg" class="card-img-top rounded-circle" style="width: 80px" alt="...">
                                        </a>
                                    </div>
                                </div>
                                <div class="pl-4">
                                    <div class="mb-3 text-warning font-size-lg">
                                        <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                        <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                        <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                        <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                        <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                    </div>
                                    <blockquote class="my-3 text-black-50 blockquote">
                                        But who has any right to find fault with a man who chooses to enjoy a pleasure that has.
                                    </blockquote>
                                    <div class="font-size-lg font-weight-bold">
                                        Alexandros Hebert,
                                        <small class="text-black-50">Bailey Company</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-5">
                        <div class="card-body">
                            <div class="align-box-row align-items-start">
                                <div>
                                    <div class="card card-transparent">
                                        <a [routerLink]="" class="card-img-wrapper rounded">
                                            <img src="assets/images/stock-photos/people-3.jpg" class="card-img-top rounded-circle" style="width: 80px" alt="...">
                                        </a>
                                    </div>
                                </div>
                                <div class="pl-4">
                                    <div class="mb-3 text-warning font-size-lg">
                                        <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                        <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                        <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                        <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                        <fa-icon [icon]="['fas', 'star-half-alt']"></fa-icon>
                                    </div>
                                    <blockquote class="my-3 text-black-50 blockquote">
                                        Nor again is there anyone who loves or pursues or desires to obtain pain of itself.
                                    </blockquote>
                                    <div class="font-size-lg font-weight-bold">
                                        Jimi Tomlinson,
                                        <small class="text-black-50">Wood Company</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
