<div class="card card-box mb-5">
    <div class="card-header">
        <div class="card-header--title">
            <small>Messenger</small>
            <b>Talking to Kate</b>
        </div>
        <div class="card-header--actions">
            <a [routerLink]="" class="btn btn-sm btn-first" tooltip="Send new message"
            >
                <fa-icon [icon]="['fas', 'plus']" class="font-size-sm"></fa-icon>
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="chat-wrapper">
            <div class="chat-item p-2 mb-2">
                <div class="align-box-row">
                    <div class="avatar-icon-wrapper avatar-icon-lg align-self-start">
                        <div class="avatar-icon rounded border-0">
                            <img alt="..." src="assets/images/avatars/avatar7.jpg"/>
                        </div>
                    </div>
                    <div>
                        <div class="chat-box bg-first text-white">
                            <p>Hello, John.</p>
                            <p>This is Kenny. How are you?</p>
                        </div>
                        <small class="mt-2 d-block text-black-50">
                            <fa-icon [icon]="['far', 'clock']" class="mr-1 opacity-5"></fa-icon>
                            11:01 AM | Yesterday
                        </small>
                    </div>
                </div>
            </div>
            <div class="chat-item chat-item-reverse p-2 mb-2">
                <div class="align-box-row flex-row-reverse">
                    <div class="avatar-icon-wrapper avatar-icon-lg align-self-start">
                        <div class="avatar-icon rounded border-0">
                            <img alt="..." src="assets/images/avatars/avatar3.jpg"/>
                        </div>
                    </div>
                    <div>
                        <div class="chat-box bg-first text-white">
                            <p>Hey, Kate.</p>
                            <p>I'm attaching the pictures you requested below:</p>
                            <div class="card mt-3 mb-2 py-2 text-center">
                                <div>
                                    <a [routerLink]=""><img alt="Rounded image"
                                                            class="img-fluid rounded m-1 shadow-sm"
                                                            src="assets/images/stock-photos/people-1.jpg"
                                                            width="54"></a>
                                    <a [routerLink]=""><img alt="Rounded image"
                                                            class="img-fluid rounded m-1 shadow-sm"
                                                            src="assets/images/stock-photos/people-2.jpg"
                                                            width="54"></a>
                                </div>
                            </div>
                        </div>
                        <small class="mt-2 d-block text-black-50">
                            <fa-icon [icon]="['far', 'clock']" class="mr-1 opacity-5"></fa-icon>
                            11:01 AM | Yesterday
                        </small>
                    </div>
                </div>
            </div>
            <div class="chat-item p-2 mb-2">
                <div class="align-box-row">
                    <div class="avatar-icon-wrapper avatar-icon-lg align-self-start">
                        <div class="avatar-icon rounded border-0">
                            <img alt="..." src="assets/images/avatars/avatar7.jpg"/>
                        </div>
                    </div>
                    <div>
                        <div class="chat-box bg-first text-white">
                            <p>Thanks.</p>
                            <p>Really appreciate it!</p>
                        </div>
                        <small class="mt-2 d-block text-black-50">
                            <fa-icon [icon]="['far', 'clock']" class="mr-1 opacity-5"></fa-icon>
                            11:01 AM | Yesterday
                        </small>
                    </div>
                </div>
            </div>
            <div class="chat-item p-2 mb-2">
                <div class="align-box-row">
                    <div class="avatar-icon-wrapper avatar-icon-lg align-self-start">
                        <div class="avatar-icon rounded border-0">
                            <img alt="..." src="assets/images/avatars/avatar7.jpg"/>
                        </div>
                    </div>
                    <div>
                        <div class="chat-box bg-first text-white">
                            <p>Bye for now, talk to you later.</p>
                        </div>
                        <small class="mt-2 d-block text-black-50">
                            <fa-icon [icon]="['far', 'clock']" class="mr-1 opacity-5"></fa-icon>
                            11:01 AM | Yesterday
                        </small>
                    </div>
                </div>
            </div>
            <div class="chat-item chat-item-reverse p-2 mb-2">
                <div class="align-box-row flex-row-reverse">
                    <div class="avatar-icon-wrapper avatar-icon-lg align-self-start">
                        <div class="avatar-icon rounded border-0">
                            <img alt="..." src="assets/images/avatars/avatar3.jpg">
                        </div>
                    </div>
                    <div>
                        <div class="chat-box bg-first text-white">
                            <p>Almost forgot about your tasks.</p>
                            <p><b>Check the links below:</b></p>
                            <div class="card bg-premium-dark p-2 mt-3 mb-2">
                                <div class="text-center py-2">
                                    <a [routerLink]=""
                                       class="m-1 btn btn-link p-0 bg-grow-early d-inline-block text-center text-white font-size-xl d-40 rounded-circle card-box-hover-rise-alt"

                                       tooltip="Menu Example">
                                        <fa-icon [icon]="['fas', 'lemon']"></fa-icon>
                                    </a>
                                    <a [routerLink]=""
                                       class="m-1 btn btn-link p-0 bg-ripe-malin d-inline-block text-center text-white font-size-xl d-40 rounded-circle card-box-hover-rise-alt"

                                       tooltip="Menu Example">
                                        <fa-icon [icon]="['far', 'building']"></fa-icon>
                                    </a>
                                    <a [routerLink]=""
                                       class="m-1 btn btn-link p-0 bg-plum-plate d-inline-block text-center text-white font-size-xl d-40 rounded-circle card-box-hover-rise-alt"

                                       tooltip="Menu Example">
                                        <fa-icon [icon]="['far', 'gem']"></fa-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <small class="mt-2 d-block text-black-50">
                            <fa-icon [icon]="['far', 'clock']" class="mr-1 opacity-5"></fa-icon>
                            11:03 AM | Yesterday
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer bg-light p-4">
        <div>
            <input class="form-control" placeholder="Write your message and hit enter to send...">
        </div>
        <div class="align-box-row mt-3">
            <div class="align-items-center">
                <a [routerLink]=""
                   class="btn btn-link btn-link-primary p-0 text-success"
                   tooltip="Add audio file">
                    <fa-icon [icon]="['far', 'file-audio']" class="font-size-xl"></fa-icon>
                </a>
                <a [routerLink]=""
                   class="btn btn-link btn-link-primary p-0 mr-2 ml-2 text-danger"
                   tooltip="Add video file">
                    <fa-icon [icon]="['far', 'file-video']" class="font-size-xl"></fa-icon>
                </a>
                <a [routerLink]=""
                   class="btn btn-link btn-link-primary p-0 text-info"
                   tooltip="Upload documents">
                    <fa-icon [icon]="['far', 'file-excel']" class="font-size-xl"></fa-icon>
                </a>
            </div>
            <div class="ml-auto">
                <a [routerLink]="" class="btn btn-primary">
                    Send
                </a>
            </div>
        </div>
    </div>
</div>
