<div class="row">
    <div class="col-xl-4">
        <div class="card card-box mb-5">
            <div class="card-header bg-secondary">
                <div class="card-header--title">
                    <h5 class="mb-0 py-2 font-weight-bold">
                        Pricing Plans
                    </h5>
                </div>
                <div class="card-header--actions">
                    <button class="btn btn-sm btn-success py-1 px-3 text-uppercase" type="button">
                        <small>Add new</small>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="list-group my-3 list-group-flush">
                    <div class="list-group-item list-group-item-action hover-show-hide-container d-flex justify-content-between align-items-center py-3 border-0">
                        <div class="badge badge-success badge-circle mt-2 mr-2 align-self-start">Basic</div>
                        <div class="font-weight-bold flex-grow-1">
                            <div class="text-second font-size-lg">
                                Basic
                            </div>
                            <span class="opacity-8">
                                <fa-icon [icon]="['far', 'user']" class="mr-1"></fa-icon>
                                <b>3847</b>
                                subscribers
                            </span>
                        </div>
                        <div class="text-right hover-hide-wrapper">
                            <div class="font-weight-bold text-second">$176.00</div>
                            <span class="opacity-7">per month</span>
                        </div>
                        <div class="text-right hover-show-wrapper">
                            <button class="btn bg-white text-first d-40 rounded-circle p-0 ml-1"
                                    containerClass="tooltip-first"
                                    tooltip="View details" type="button">
                                <fa-icon [icon]="['far', 'user']" class="font-size-md mx-auto"></fa-icon>
                            </button>
                            <button class="btn bg-white text-danger d-40 rounded-circle p-0 ml-1"
                                    containerClass="tooltip-danger"
                                    tooltip="Remove" type="button">
                                <fa-icon [icon]="['fas', 'times']" class="font-size-md mx-auto"></fa-icon>
                            </button>
                        </div>
                    </div>
                    <div class="list-group-item list-group-item-action hover-show-hide-container d-flex justify-content-between align-items-center py-3 border-0">
                        <div class="badge badge-danger badge-circle mt-2 mr-2 align-self-start">Basic</div>
                        <div class="font-weight-bold flex-grow-1">
                            <div class="text-second font-size-lg">
                                Premium
                            </div>
                            <span class="opacity-8">
                                <fa-icon [icon]="['far', 'user']" class="mr-1"></fa-icon>
                                <b>346</b>
                                subscribers
                            </span>
                        </div>
                        <div class="text-right hover-hide-wrapper">
                            <div class="font-weight-bold text-second">$567.00</div>
                            <span class="opacity-7">per month</span>
                        </div>
                        <div class="text-right hover-show-wrapper">
                            <button class="btn bg-white text-first d-40 rounded-circle p-0 ml-1"
                                    containerClass="tooltip-first"
                                    tooltip="View details" type="button">
                                <fa-icon [icon]="['far', 'user']" class="font-size-md mx-auto"></fa-icon>
                            </button>
                            <button class="btn bg-white text-danger d-40 rounded-circle p-0 ml-1"
                                    containerClass="tooltip-danger"
                                    tooltip="Remove" type="button">
                                <fa-icon [icon]="['fas', 'times']" class="font-size-md mx-auto"></fa-icon>
                            </button>
                        </div>
                    </div>
                    <div class="list-group-item list-group-item-action hover-show-hide-container d-flex justify-content-between align-items-center py-3 border-0">
                        <div class="badge badge-first badge-circle mt-2 mr-2 align-self-start">Basic</div>
                        <div class="font-weight-bold flex-grow-1">
                            <div class="text-second font-size-lg">
                                Ultra
                            </div>
                            <span class="opacity-8">
                                <fa-icon [icon]="['far', 'user']" class="mr-1"></fa-icon>
                                <b>1,659</b>
                                subscribers
                            </span>
                        </div>
                        <div class="text-right hover-hide-wrapper">
                            <div class="font-weight-bold text-second">$893.00</div>
                            <span class="opacity-7">per month</span>
                        </div>
                        <div class="text-right hover-show-wrapper">
                            <button class="btn bg-white text-first d-40 rounded-circle p-0 ml-1"
                                    containerClass="tooltip-first"
                                    tooltip="View details" type="button">
                                <fa-icon [icon]="['far', 'user']" class="font-size-md mx-auto"></fa-icon>
                            </button>
                            <button class="btn bg-white text-danger d-40 rounded-circle p-0 ml-1"
                                    containerClass="tooltip-danger"
                                    tooltip="Remove" type="button">
                                <fa-icon [icon]="['fas', 'times']" class="font-size-md mx-auto"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-box mb-5">
            <div class="no-gutters row">
                <div class="col-lg-4 p-3">
                    <div class="divider-v divider-v-md"></div>
                    <div class="row">
                        <div class="col">
                            <div class="text-center">
                                <div>
                                    <fa-icon [icon]="['far', 'envelope']" class="font-size-xxl text-info"></fa-icon>
                                </div>
                                <div class="mt-2 line-height-sm">
                                    <b class="font-size-lg">$693</b>
                                    <span class="text-black-50 d-block">revenue</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-3">
                    <div class="divider-v divider-v-md"></div>
                    <div class="row">
                        <div class="col">
                            <div class="text-center">
                                <div>
                                    <fa-icon [icon]="['far', 'lightbulb']" class="font-size-xxl text-success"></fa-icon>
                                </div>
                                <div class="mt-2 line-height-sm">
                                    <b class="font-size-lg">345</b>
                                    <span class="text-black-50 d-block">users</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-3">
                    <div class="row">
                        <div class="col">
                            <div class="text-center">
                                <div>
                                    <fa-icon [icon]="['far', 'keyboard']" class="font-size-xxl text-danger"></fa-icon>
                                </div>
                                <div class="mt-2 line-height-sm">
                                    <b class="font-size-lg">124</b>
                                    <span class="text-black-50 d-block">orders</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-box mb-5">
            <div class="no-gutters row">
                <div class="col-lg-6 p-3">
                    <div class="divider-v divider-v-md"></div>
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <div class="d-flex p-3">
                                <fa-icon [icon]="['far', 'envelope']" class="display-4 text-info"></fa-icon>
                                <div class="ml-4 line-height-sm">
                                    <b class="font-size-xxl">$369</b>
                                    <span class="text-black-50 d-block">revenue</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 p-3">
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <div class="d-flex p-3">
                                <fa-icon [icon]="['far', 'lightbulb']" class="display-4 text-success"></fa-icon>
                                <div class="ml-4 line-height-sm">
                                    <b class="font-size-xxl">245</b>
                                    <span class="text-black-50 d-block">users</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-xl-8">
        <div class="card mb-5">
            <div class="card-img-wrapper">
                <div class="card-badges card-badges-top">
                    <span class="badge badge-pill badge-info">NEW</span>
                </div>
                <div class="bg-composed-wrapper bg-vicious-stance border-0">
                    <div class="bg-composed-img-3 bg-composed-wrapper--image"></div>
                    <div class="bg-composed-wrapper--content text-center text-light p-5">
                        <h1 class="display-4 pt-3 pb-1 font-weight-bold mb-0">
                            Users statistics
                        </h1>
                        <p class="text-white-50 mb-3">Example heading description line here...</p>
                    </div>
                </div>
            </div>
            <div class="card-body text-center card-body-button">
                <div class="card-body-button-wrapper">
                    <button class="btn btn-lg btn-success btn-pill text-nowrap px-5 shadow-none border-3 border-white">
                        Send us a message
                    </button>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="bg-secondary p-3 text-center rounded">
                            <div>
                                <fa-icon [icon]="['far', 'user']" class="font-size-xxl text-warning"></fa-icon>
                            </div>
                            <div class="mt-2 line-height-sm">
                                <b class="font-size-lg">2,345</b>
                                <span class="text-black-50 d-block">users</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="bg-secondary p-3 text-center rounded">
                            <div>
                                <fa-icon [icon]="['fas', 'lemon']" class="font-size-xxl text-success"></fa-icon>
                            </div>
                            <div class="mt-2 line-height-sm">
                                <b class="font-size-lg">$3,586</b>
                                <span class="text-black-50 d-block">sales</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="bg-secondary p-3 text-center rounded">
                            <div>
                                <fa-icon [icon]="['far', 'chart-bar']" class="font-size-xxl text-info"></fa-icon>
                            </div>
                            <div class="mt-2 line-height-sm">
                                <b class="font-size-lg">$9,693</b>
                                <span class="text-black-50 d-block">revenue</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table text-left text-nowrap mt-4 table-alternate table-hover mb-0 table-borderless">
                        <tbody>
                        <tr>
                            <td>
                                <div class="d-flex">
                                    <div class="custom-checkbox custom-control align-self-center">
                                        <input class="custom-control-input" id="inputCheckbox188" type="checkbox">
                                        <label class="custom-control-label" for="inputCheckbox188">&nbsp;</label>
                                    </div>
                                    <div><a [routerLink]="" class="font-weight-bold text-black" title="...">Inez
                                        Conley</a><span
                                            class="text-black-50 d-block">Project Manager</span></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span class="font-weight-bold">$18,386</span>
                            </td>
                            <td class="text-center">
                                <span class="text-danger font-weight-bold">-6,310</span>
                            </td>
                            <td class="text-center">
                                <span class="badge badge-warning">Pending</span>
                            </td>
                            <td class="text-right">
                                <div class="d-flex align-items-center justify-content-end">
                                    <div [countUp]="584" class="font-weight-bold font-size-lg pr-2"></div>
                                    <fa-icon [icon]="['fas', 'arrow-down']"
                                             class="font-size-sm opacity-5"></fa-icon>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex">
                                    <div class="custom-checkbox custom-control align-self-center">
                                        <input class="custom-control-input" id="inputCheckbox177" type="checkbox">
                                        <label class="custom-control-label" for="inputCheckbox177">&nbsp;</label>
                                    </div>
                                    <div><a [routerLink]="" class="font-weight-bold text-black" title="...">Adyan
                                        Sosa</a><span
                                            class="text-black-50 d-block">User Experience Designer</span></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span class="font-weight-bold">$6,356</span>
                            </td>
                            <td class="text-center">
                                <span class="text-warning">-374</span>
                            </td>
                            <td class="text-center">
                                <span class="badge badge-first">Waiting</span>
                            </td>
                            <td class="text-right">
                                <div class="d-flex align-items-center justify-content-end">
                                    <div [countUp]="483" class="font-weight-bold font-size-lg pr-2"></div>
                                    <fa-icon [icon]="['fas', 'arrow-up']"
                                             class="font-size-sm opacity-5"></fa-icon>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex">
                                    <div class="custom-checkbox custom-control align-self-center">
                                        <input class="custom-control-input" id="inputCheckbox166" type="checkbox">
                                        <label class="custom-control-label" for="inputCheckbox166">&nbsp;</label>
                                    </div>
                                    <div><a [routerLink]="" class="font-weight-bold text-black" title="...">Beck
                                        Simpson</a><span class="text-black-50 d-block">Senior Consultant</span></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span class="font-weight-bold">$16,281</span>
                            </td>
                            <td class="text-center">
                                <span class="text-success">+684</span>
                            </td>
                            <td class="text-center">
                                <span class="badge badge-success">Done</span>
                            </td>
                            <td class="text-right">
                                <div class="d-flex align-items-center justify-content-end">
                                    <div class="font-weight-bold font-size-lg pr-2"> $12,23M</div>
                                    <fa-icon [icon]="['fas', 'arrow-up']"
                                             class="font-size-sm opacity-5"></fa-icon>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex">
                                    <div class="custom-checkbox custom-control align-self-center">
                                        <input class="custom-control-input" id="inputCheckbox166" type="checkbox">
                                        <label class="custom-control-label" for="inputCheckbox166">&nbsp;</label>
                                    </div>
                                    <div><a [routerLink]="" class="font-weight-bold text-black" title="...">Niyah
                                        Crossley</a><span class="text-black-50 d-block">Development Team Lead</span></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span class="font-weight-bold">$5,373</span>
                            </td>
                            <td class="text-center">
                                <span class="text-success">+47</span>
                            </td>
                            <td class="text-center">
                                <span class="badge badge-danger">Failed</span>
                            </td>
                            <td class="text-right">
                                <div class="d-flex align-items-center justify-content-end">
                                    <div class="font-weight-bold font-size-lg pr-2"> $346,457</div>
                                    <fa-icon [icon]="['fas', 'arrow-up']"
                                             class="font-size-sm opacity-5"></fa-icon>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
