<progressbar type="info" [animate]="true" [striped]="true" [value]="55" class="mb-4 progress-bar-rounded">55%</progressbar>
<progressbar type="warning" [animate]="true" [striped]="true" [value]="65" class="mb-4">Warning</progressbar>
<div class="divider mb-4"></div>
<progressbar type="dark" [animate]="true" [value]="75" class="progress-animated-alt mb-4">75%</progressbar>
<progressbar type="first" [animate]="true" [value]="85" class="progress-bar-rounded progress-animated-alt mb-4">85%</progressbar>
