<div class="row">
    <div class="col-xl-6">
        <button class="btn m-2 btn-primary" type="button">
            <span class="btn-wrapper--icon">
                <i class="ion-md-gift"></i>
            </span>
            <span class="btn-wrapper--label">Primary</span>
        </button>
        <button class="btn m-2 btn-first" type="button">
            <span class="btn-wrapper--label">Primary Alt</span>
            <span class="btn-wrapper--icon">
                <i class="ion-md-umbrella"></i>
            </span>
        </button>
        <button class="btn m-2 btn-second" type="button">
            <span class="btn-wrapper--icon">
                <i class="ion-md-alarm"></i>
            </span>
            <span class="btn-wrapper--label">Secondary Alt</span>
            <span class="btn-wrapper--icon">
                <i class="ion-md-heart"></i>
            </span>
        </button>
        <button class="btn m-2 btn-info" type="button">
            <span class="btn-wrapper--icon">
                <i class="ion-md-options"></i>
            </span>
        </button>

        <div class="divider my-3"></div>

        <button class="btn btn-sm btn-pill m-2 btn-primary" type="button">
            <span class="btn-wrapper--icon font-size-md">
                <i class="ion-md-gift"></i>
            </span>
        </button>
        <button class="btn btn-pill m-2 btn-first" type="button">
            <span class="btn-wrapper--icon font-size-lg">
                <i class="ion-md-umbrella"></i>
            </span>
        </button>
        <button class="btn btn-lg btn-pill m-2 btn-second" type="button">
            <span class="btn-wrapper--icon font-size-xl">
                <i class="ion-md-heart"></i>
            </span>
        </button>

        <div class="divider my-3"></div>

        <div class="d-flex align-items-center">
            <button class="btn d-40 p-0 btn-pill m-2 btn-success" type="button">
                <span class="btn-wrapper--icon">
                    <i class="ion-md-gift"></i>
                </span>
            </button>
            <button class="btn d-50 p-0 btn-pill m-2 btn-danger" type="button">
                <span class="btn-wrapper--icon">
                    <i class="ion-md-umbrella"></i>
                </span>
            </button>
            <button class="btn d-60 p-0 btn-pill m-2 btn-warning" type="button">
                <span class="btn-wrapper--icon">
                    <i class="ion-md-heart"></i>
                </span>
            </button>
            <button class="btn d-70 p-0 btn-pill m-2 btn-info" type="button">
                <span class="btn-wrapper--icon">
                    <fa-icon [icon]="['far', 'building']" class="font-size-lg"></fa-icon>
                </span>
            </button>
            <button class="btn d-80 p-0 btn-pill m-2 btn-dark" type="button">
                <span class="btn-wrapper--icon">
                    <fa-icon [icon]="['far', 'keyboard']" class="font-size-xl"></fa-icon>
                </span>
            </button>
            <button class="btn d-90 p-0 btn-pill m-2 btn-second" type="button">
                <span class="btn-wrapper--icon">
                     <fa-icon [icon]="['far', 'gem']" class="font-size-xxl"></fa-icon>
                </span>
            </button>
        </div>

        <div class="divider my-3"></div>

        <div class="heading-3 pt-3">Animated</div>
        <div class="d-flex align-items-center">
            <button class="btn d-40 p-0 btn-animated-icon btn-animated-icon--success btn-pill m-2" type="button">
                <span class="btn-wrapper--icon">
                    <i class="ion-md-gift"></i>
                </span>
            </button>
            <button class="btn d-50 p-0 btn-animated-icon btn-animated-icon--danger btn-pill m-2" type="button">
                <span class="btn-wrapper--icon">
                    <i class="ion-md-umbrella"></i>
                </span>
            </button>
            <button class="btn d-60 p-0 btn-animated-icon btn-animated-icon--warning btn-pill m-2" type="button">
                <span class="btn-wrapper--icon">
                    <i class="ion-md-heart"></i>
                </span>
            </button>
            <button class="btn d-70 p-0 btn-animated-icon btn-animated-icon--info btn-pill m-2" type="button">
                <span class="btn-wrapper--icon">
                    <fa-icon [icon]="['far', 'building']" class="font-size-lg"></fa-icon>
                </span>
            </button>
            <button class="btn d-80 p-0 btn-animated-icon btn-animated-icon--dark btn-pill m-2" type="button">
                <span class="btn-wrapper--icon">
                    <fa-icon [icon]="['far', 'keyboard']" class="font-size-xl"></fa-icon>
                </span>
            </button>
            <button class="btn d-90 p-0 btn-animated-icon btn-animated-icon--second btn-pill m-2" type="button">
                <span class="btn-wrapper--icon">
                     <fa-icon [icon]="['far', 'gem']" class="font-size-xxl"></fa-icon>
                </span>
            </button>
        </div>
    </div>
    <div class="col-xl-6">
        <button class="btn m-2 btn-neutral-primary" type="button">
            <span class="btn-wrapper--icon">
                <i class="ion-md-gift"></i>
            </span>
            <span class="btn-wrapper--label">Primary</span>
        </button>
        <button class="btn m-2 btn-neutral-first" type="button">
            <span class="btn-wrapper--label">Primary Alt</span>
            <span class="btn-wrapper--icon">
                <i class="ion-md-umbrella"></i>
            </span>
        </button>
        <button class="btn m-2 btn-neutral-second" type="button">
            <span class="btn-wrapper--icon">
                <i class="ion-md-alarm"></i>
            </span>
            <span class="btn-wrapper--label">Secondary Alt</span>
            <span class="btn-wrapper--icon">
                <i class="ion-md-heart"></i>
            </span>
        </button>
        <button class="btn m-2 btn-neutral-info" type="button">
            <span class="btn-wrapper--icon">
                <i class="ion-md-options"></i>
            </span>
        </button>

        <div class="divider my-3"></div>

        <button class="btn btn-sm btn-pill m-2 btn-neutral-primary" type="button">
            <span class="btn-wrapper--icon font-size-md">
                <i class="ion-md-gift"></i>
            </span>
        </button>
        <button class="btn btn-pill m-2 btn-neutral-first" type="button">
            <span class="btn-wrapper--icon font-size-lg">
                <i class="ion-md-umbrella"></i>
            </span>
        </button>
        <button class="btn btn-lg btn-pill m-2 btn-neutral-second" type="button">
            <span class="btn-wrapper--icon font-size-xl">
                <i class="ion-md-heart"></i>
            </span>
        </button>

        <div class="divider my-3"></div>

        <div class="d-flex align-items-center">
            <button class="btn d-40 p-0 btn-pill m-2 btn-neutral-success" type="button">
                <span class="btn-wrapper--icon">
                    <i class="ion-md-gift"></i>
                </span>
            </button>
            <button class="btn d-50 p-0 btn-pill m-2 btn-neutral-danger" type="button">
                <span class="btn-wrapper--icon">
                    <i class="ion-md-umbrella"></i>
                </span>
            </button>
            <button class="btn d-60 p-0 btn-pill m-2 btn-neutral-warning" type="button">
                <span class="btn-wrapper--icon">
                    <i class="ion-md-heart"></i>
                </span>
            </button>
            <button class="btn d-70 p-0 btn-pill m-2 btn-neutral-info" type="button">
                <span class="btn-wrapper--icon">
                    <fa-icon [icon]="['far', 'building']" class="font-size-lg"></fa-icon>
                </span>
            </button>
            <button class="btn d-80 p-0 btn-pill m-2 btn-neutral-dark" type="button">
                <span class="btn-wrapper--icon">
                    <fa-icon [icon]="['far', 'keyboard']" class="font-size-xl"></fa-icon>
                </span>
            </button>
            <button class="btn d-90 p-0 btn-pill m-2 btn-neutral-second" type="button">
                <span class="btn-wrapper--icon">
                     <fa-icon [icon]="['far', 'gem']" class="font-size-xxl"></fa-icon>
                </span>
            </button>
        </div>

        <div class="divider my-3"></div>

        <div class="heading-3 pt-3">Animated</div>
        <div class="d-flex align-items-center">
            <button class="btn d-40 p-0 btn-animated-icon btn-animated-icon--success btn-neutral-success m-2" type="button">
                <span class="btn-wrapper--icon">
                    <i class="ion-md-gift"></i>
                </span>
            </button>
            <button class="btn d-50 p-0 btn-animated-icon btn-animated-icon--danger btn-neutral-danger m-2" type="button">
                <span class="btn-wrapper--icon">
                    <i class="ion-md-umbrella"></i>
                </span>
            </button>
            <button class="btn d-60 p-0 btn-animated-icon btn-animated-icon--warning btn-neutral-warning m-2" type="button">
                <span class="btn-wrapper--icon">
                    <i class="ion-md-heart"></i>
                </span>
            </button>
            <button class="btn d-70 p-0 btn-animated-icon btn-animated-icon--info btn-neutral-info m-2" type="button">
                <span class="btn-wrapper--icon">
                    <fa-icon [icon]="['far', 'building']" class="font-size-lg"></fa-icon>
                </span>
            </button>
            <button class="btn d-80 p-0 btn-animated-icon btn-animated-icon--dark btn-neutral-dark m-2" type="button">
                <span class="btn-wrapper--icon">
                    <fa-icon [icon]="['far', 'keyboard']" class="font-size-xl"></fa-icon>
                </span>
            </button>
            <button class="btn d-90 p-0 btn-animated-icon btn-animated-icon--second btn-neutral-second m-2" type="button">
                <span class="btn-wrapper--icon">
                     <fa-icon [icon]="['far', 'gem']" class="font-size-xxl"></fa-icon>
                </span>
            </button>
        </div>
    </div>
</div>
