<div class="text-center">
    <button containerClass="tooltip-primary" class="btn m-2 btn-primary" type="button" tooltip="This tooltip example has a primary color state!">Primary</button>
    <button containerClass="tooltip-secondary" class="btn m-2 btn-secondary" type="button" tooltip="This tooltip example has a secondary color state!">Secondary</button>
    <button containerClass="tooltip-first" class="btn m-2 btn-first" type="button" tooltip="This tooltip example has a first color state!">Primary Alt</button>
    <button containerClass="tooltip-second" class="btn m-2 btn-second" type="button" tooltip="This tooltip example has a second color state!">Secondary Alt</button>
    <button containerClass="tooltip-info" class="btn m-2 btn-info" type="button" tooltip="This tooltip example has a info color state!">Info</button>
    <button containerClass="tooltip-success" class="btn m-2 btn-success" type="button" tooltip="This tooltip example has a success color state!">Success</button>
    <button containerClass="tooltip-warning" class="btn m-2 btn-warning" type="button" tooltip="This tooltip example has a warning color state!">Warning</button>
    <button containerClass="tooltip-danger" class="btn m-2 btn-danger" type="button" tooltip="This tooltip example has a danger color state!">Danger</button>
    <button containerClass="tooltip-dark" class="btn m-2 btn-dark" type="button" tooltip="This tooltip example has a dark color state!">Dark</button>
</div>
