<div class="row">
    <div class="col-lg-5 col-xl-4">
        <div class="card card-box mb-5">
            <div class="card-header-alt d-flex justify-content-between p-4">
                <div>
                    <h6 class="font-weight-bold font-size-lg mb-1 text-black">Projects status</h6>
                </div>
                <div class="d-flex align-items-center">
                    <div class="btn-group" dropdown placement="bottom right">
                        <button class="btn btn-link btn-link-second p-0 text-muted dropdown-toggle no-caret"
                                dropdownToggle
                                type="button">
                            <fa-icon [icon]="['fas', 'ellipsis-h']"></fa-icon>
                        </button>
                        <div *dropdownMenu
                             class="dropdown-menu dropdown-menu-right dropdown-menu-xxl overflow-hidden p-0">
                            <ul class="nav nav-dark flex-column py-2">
                                <li class="nav-item">
                                    <a [routerLink]="" class="nav-link">
                                        <div class="nav-link-icon">
                                            <fa-icon [icon]="['far', 'building']"></fa-icon>
                                        </div>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a [routerLink]="" class="nav-link active">
                                        <div class="nav-link-icon">
                                            <fa-icon [icon]="['far', 'question-circle']"></fa-icon>
                                        </div>
                                        <span>Layouts</span>
                                        <div class="ml-auto badge badge-warning">512</div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a [routerLink]="" class="nav-link disabled">
                                        <div class="nav-link-icon">
                                            <fa-icon [icon]="['far', 'user-circle']"></fa-icon>
                                        </div>
                                        <span>Reports</span>
                                    </a>
                                </li>
                                <li class="nav-item nav-item--header">
                                    <span>Others</span>
                                </li>
                                <li class="nav-item">
                                    <a [routerLink]="" class="nav-link">
                                        <div class="nav-link-icon">
                                            <fa-icon [icon]="['far', 'object-group']"></fa-icon>
                                        </div>
                                        <span>Components</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a [routerLink]="" class="nav-link">
                                        <div class="nav-link-icon">
                                            <fa-icon [icon]="['far', 'chart-bar']"></fa-icon>
                                        </div>
                                        <span>Services</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters text-uppercase font-size-sm my-2">
                <div class="col-md-6 d-flex align-items-center justify-content-end">
                    <span>Available</span>
                    <span class="badge badge-circle badge-success mx-2">completed</span>
                </div>
                <div class="col-md-6 d-flex align-items-center text-left">
                    <span class="badge badge-circle badge-dark mx-2">total projects</span>
                    <span>Total</span>
                </div>
            </div>
            <div class="mx-auto">
                <ngx-gauge append="%" backgroundColor="#1bc943" cap="round" class="img-fluid"
                           foregroundColor="#070919" max="100" min="0"
                           size="180" thick="16"
                           type="full" value="65.3">
                </ngx-gauge>
            </div>
            <div class="divider my-3"></div>
            <div class="text-center mb-3">
                <button type="button" class="btn btn-sm btn-primary">
                    View all projects
                </button>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-xl-4">
        <div class="card card-box p-4 mb-5">
            <div class="card-header-alt d-flex justify-content-between pb-4">
                <div>
                    <h6 class="font-weight-bold font-size-lg mb-1 text-black">Available storage</h6>
                </div>
                <div class="d-flex align-items-center">
                    <div class="btn-group" dropdown placement="bottom right">
                        <button class="btn btn-link btn-link-second p-0 text-muted dropdown-toggle no-caret"
                                dropdownToggle
                                type="button">
                            <fa-icon [icon]="['fas', 'ellipsis-h']"></fa-icon>
                        </button>
                        <div *dropdownMenu
                             class="dropdown-menu dropdown-menu-right dropdown-menu-xxl overflow-hidden p-0">
                            <ul class="nav nav-dark flex-column py-2">
                                <li class="nav-item">
                                    <a [routerLink]="" class="nav-link">
                                        <div class="nav-link-icon">
                                            <fa-icon [icon]="['far', 'building']"></fa-icon>
                                        </div>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a [routerLink]="" class="nav-link active">
                                        <div class="nav-link-icon">
                                            <fa-icon [icon]="['far', 'question-circle']"></fa-icon>
                                        </div>
                                        <span>Layouts</span>
                                        <div class="ml-auto badge badge-warning">512</div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a [routerLink]="" class="nav-link disabled">
                                        <div class="nav-link-icon">
                                            <fa-icon [icon]="['far', 'user-circle']"></fa-icon>
                                        </div>
                                        <span>Reports</span>
                                    </a>
                                </li>
                                <li class="nav-item nav-item--header">
                                    <span>Others</span>
                                </li>
                                <li class="nav-item">
                                    <a [routerLink]="" class="nav-link">
                                        <div class="nav-link-icon">
                                            <fa-icon [icon]="['far', 'object-group']"></fa-icon>
                                        </div>
                                        <span>Components</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a [routerLink]="" class="nav-link">
                                        <div class="nav-link-icon">
                                            <fa-icon [icon]="['far', 'chart-bar']"></fa-icon>
                                        </div>
                                        <span>Services</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-start">
                <fa-icon [icon]="['far', 'object-group']" class="display-1"></fa-icon>
                <div class="flex-grow-1 pl-4">
                    <div class="d-block mb-2 mt-1"><b>5GB</b> used out of <b>25GB</b></div>
                    <progressbar [animate]="true" [value]="39" class="progress-animated-alt" type="danger">39%
                    </progressbar>
                </div>
            </div>
            <small class="d-block mt-3">
                <span class="d-block pb-3">
                    Get <b>1 GB</b> of free storage if you take advantage of our premium plans.
                </span>
                <a [routerLink]="" class="btn p-0 font-weight-bold font-size-xs btn-link btn-link-first" title="View details">View
                    details</a>
            </small>
            <div class="rounded-sm mt-3 bg-secondary p-3 d-flex align-items-center">
                <ngx-gauge backgroundColor="#edeef1" cap="round" class="img-fluid mr-2" foregroundColor="#1bc943"
                           max="100" min="0" size="84"
                           thick="6"
                           type="full" value="76">
                </ngx-gauge>
                <div>
                    <div class="text-black-50">Stocks trading</div>
                    <div class="font-weight-bold display-4 py-1 text-success">
                        $<span [countUp]="687"></span>
                    </div>
                    <div class="text-black-50 font-size-sm">
                        <fa-icon [icon]="['fas', 'chevron-up']" class="font-size-sm pr-1"></fa-icon>
                        15% increase this week
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-xl-4">
        <div class="card card-box mb-5">
            <div class="card-body pb-1">
                <div class="row">
                    <div class="col">
                        <div class="text-center">
                            <div>
                                <fa-icon [icon]="['far', 'user']" class="font-size-xxl text-success"></fa-icon>
                            </div>
                            <div class="mt-3 line-height-sm">
                                <b class="font-size-lg">2,345</b>
                                <span class="text-black-50 d-block">users</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <div>
                                <fa-icon [icon]="['far', 'keyboard']" class="font-size-xxl text-danger"></fa-icon>
                            </div>
                            <div class="mt-3 line-height-sm">
                                <b class="font-size-lg">3,568</b>
                                <span class="text-black-50 d-block">clicks</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <div>
                                <fa-icon [icon]="['far', 'chart-bar']" class="font-size-xxl text-info"></fa-icon>
                            </div>
                            <div class="mt-3 line-height-sm">
                                <b class="font-size-lg">$9,693</b>
                                <span class="text-black-50 d-block">revenue</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-4 pr-4 pl-4">
                    <apx-chart
                            [chart]="{
                                        type: 'line',
                                        height: '95',
                                        sparkline: {
                                            enabled: true
                                        }
                                    }"
                            [colors]="['#f4772e']"
                            [markers]="{
                                        size: 0
                                    }"
                            [series]="[
                                      {
                                        name: 'Sales',
                                        data: [47, 38, 56, 24, 45, 54, 38, 47, 38, 56, 24, 56, 24, 65]
                                      }
                                    ]"
                            [stroke]="{
                                            color: '#4191ff',
                                            curve: 'smooth',
                                            width: 3
                                    }"
                            [xaxis]="{
                                        crosshairs: {
                                            width: 1
                                        }
                                    }"
                            [yaxis]="{
                                        min: 0
                                    }"
                    ></apx-chart>
                </div>
            </div>
            <div class="divider"></div>
            <div class="my-2 text-center">
                <fa-icon [icon]="['fas', 'arrow-up']" class="text-danger"></fa-icon>
                <span class="text-danger px-1">15.4%</span>
                <span class="text-black-50">new sales today</span>
            </div>
            <div class="card-footer bg-light p-4 text-center">
                <button class="btn btn-first" type="button">
                        <span class="btn-wrapper--icon">
                            <fa-icon [icon]="['far', 'eye']"></fa-icon>
                        </span>
                    <span class="btn-wrapper--label">
                        View latest sales
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
