<div class="hero-wrapper bg-composed-wrapper bg-white">
    <div class="header-nav-wrapper header-nav-wrapper-lg w-100 navbar-dark">
        <div class="text-center w-100 d-block font-weight-bold text-white-50 text-uppercase">Header menu placeholder</div>
    </div>
    <div class="flex-grow-1 w-100 d-flex align-items-center">
        <div class="bg-composed-wrapper--image bg-composed-filter-rm opacity-9" style="background-image: url('assets/images/hero-bg/hero-7.jpg');"></div>
        <div class="bg-composed-wrapper--content py-5">
            <div class="container pb-5">
                <div class="row">
                    <div class="col-xl-6 d-flex align-items-center">
                        <div>
                            <div class="d-flex align-items-center">
                                <span class="badge badge-pill badge-success px-4 h-auto py-1">New version</span>
                                <span class="text-black-50 ml-3" tooltip="More info placeholder!">
                                <fa-icon [icon]="['far', 'question-circle']"></fa-icon>
                            </span>
                            </div>
                            <div class="text-black mt-3">
                                <h1 class="display-2 mb-3 font-weight-bold">
                                    Bamburgh Angular Admin Dashboard with NGX Bootstrap PRO
                                </h1>
                                <p class="font-size-lg text-black-50">
                                    Bamburgh is a <b>Free Bootstrap 4 UI Kit</b> that enhances the standard Bootstrap styles and components.
                                </p>
                                <p class="text-black-50">In addition, it contains extra customized widgets, pages and multiple landing pages.</p>
                                <div class="divider border-2 border-dark my-4 border-light opacity-2 rounded-circle w-25"></div>
                                <div>
                                    <a [routerLink]="" class="btn btn-lg btn-second d-block d-sm-inline-block">
                                        <span class="btn-wrapper--label">
                                            Browse gallery
                                        </span>
                                        <span class="btn-wrapper--icon">
                                            <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
                                        </span>
                                    </a>
                                    <a [routerLink]="" class="btn btn-lg btn-outline-second d-block d-sm-inline-block ml-0 mt-3 mt-sm-0 ml-sm-3">
                                        <span>
                                            Plans & pricing
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 px-0 d-none d-xl-flex align-items-center">
                        <img src="assets/images/illustrations/tree_swing.svg" class="w-100 mx-auto d-block img-fluid" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-footer pt-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-4">
                    <div class="card-box-hover-rise card-box-hover card card-box-alt card-border-top border-success mb-5 pb-4">
                        <h3 class="font-size-lg font-weight-bold mt-5 mb-4">Lightweight</h3>
                        <p class="card-text px-4 mb-4">
                            Insects and flies, then I feel the presence of the indescribable forms Almighty, who formed us in his own image.
                        </p>
                        <a [routerLink]="" class="btn btn-link btn-link-first mb-2 p-0" title="Find out more">
                            <span>Find out more</span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card-box-hover-rise card-box-hover card card-box-alt card-border-top border-first mb-5 pb-4">
                        <h3 class="font-size-lg font-weight-bold mt-5 mb-4">Simple to use</h3>
                        <p class="card-text px-4 mb-4">
                            When, while the lovely valley teems with vapour present moment around me, and the meridian sun strike.
                        </p>
                        <a [routerLink]="" class="btn btn-link btn-link-first mb-2 p-0" title="Find out more">
                            <span>Find out more</span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card-box-hover-rise card-box-hover card card-box-alt card-border-top border-warning mb-5 pb-4">
                        <h3 class="font-size-xl font-weight-bold mt-5 mb-4">Starter Templates</h3>
                        <p class="card-text px-4 mb-4">
                            Exquisite sense of mere tranquil existence, that I neglect my foliage world  trickling tree artist talents.
                        </p>
                        <a [routerLink]="" class="btn btn-link btn-link-first mb-2 p-0" title="Find out more">
                            <span>Find out more</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
