<div class="row">
    <div class="col-xl-4">
        <div class="heading-3 text-center">Default style</div>
        <div class="card card-box shadow-none rounded-0 border-2 mb-3">
            <ul class="nav flex-column py-2">
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link">
                        <div class="nav-link-icon">
                            <fa-icon [icon]="['far', 'building']"></fa-icon>
                        </div>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link active">
                        <div class="nav-link-icon">
                            <fa-icon [icon]="['far', 'question-circle']"></fa-icon>
                        </div>
                        <span>Layouts</span>
                        <div class="ml-auto badge badge-warning">512</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link disabled">
                        <div class="nav-link-icon">
                            <fa-icon [icon]="['far', 'user-circle']"></fa-icon>
                        </div>
                        <span>Reports</span>
                    </a>
                </li>
                <li class="nav-item nav-item--header">
                    <span>Others</span>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link">
                        <div class="nav-link-icon">
                            <fa-icon [icon]="['far', 'object-group']"></fa-icon>
                        </div>
                        <span>Components</span>
                    </a>
                </li>
                <li class="dropdown-divider"></li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link">
                        <div class="nav-link-icon">
                            <fa-icon [icon]="['far', 'chart-bar']"></fa-icon>
                        </div>
                        <span>Services</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="heading-3 text-center">Alternate style</div>
        <div class="card card-box shadow-none rounded-0 border-2 mb-3">
            <ul class="nav nav-pills flex-column p-3">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="">
                        <span>My Account</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="">
                        <span>Profile settings</span>
                        <div class="ml-auto badge badge-first">23</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="">
                        <span>Active tasks</span>
                    </a>
                </li>
                <li class="nav-item nav-item--header">
                    <span>Heading</span>
                </li>

                <li class="nav-item">
                    <a [routerLink]="" class="nav-link">
                        <div class="nav-link-icon">
                            <fa-icon [icon]="['far', 'bell']"></fa-icon>
                        </div>
                        <span>Customers</span>
                    </a>
                </li>
                <li class="dropdown-divider"></li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link">
                        <div class="nav-link-icon">
                            <fa-icon [icon]="['far', 'eye']"></fa-icon>
                        </div>
                        <span>Statistics</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="heading-3 text-center">Rounded corners</div>
        <div class="card card-box shadow-none rounded-0 border-2 mb-3">
            <ul class="nav nav-pills nav-pills-rounded flex-column p-3">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="">
                        <span>My Account</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="">
                        <span>Profile settings</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="">
                        <span>Active tasks</span>
                        <div class="ml-auto badge badge-success">New</div>
                    </a>
                </li>
                <li class="nav-item nav-item--header">
                    <span>Heading</span>
                </li>

                <li class="nav-item">
                    <a [routerLink]="" class="nav-link">
                        <div class="nav-link-icon">
                            <fa-icon [icon]="['far', 'bell']"></fa-icon>
                        </div>
                        <span>Customers</span>
                    </a>
                </li>
                <li class="dropdown-divider"></li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link">
                        <div class="nav-link-icon">
                            <fa-icon [icon]="['far', 'eye']"></fa-icon>
                        </div>
                        <span>Statistics</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
