  <div class="mb-3">
    <div class="avatar-icon-wrapper avatar-icon-xl">
      <div class="avatar-icon rounded"><img src="assets/images/avatars/avatar1.jpg" alt="..." /></div>
    </div>
    <div class="avatar-icon-wrapper avatar-icon-lg">
      <div class="avatar-icon rounded"><img src="assets/images/avatars/avatar7.jpg" alt="..." /></div>
    </div>
    <div class="avatar-icon-wrapper">
      <div class="avatar-icon rounded"><img src="assets/images/avatars/avatar1.jpg" alt="..." /></div>
    </div>
    <div class="avatar-icon-wrapper avatar-icon-sm">
      <div class="avatar-icon rounded"><img src="assets/images/avatars/avatar2.jpg" alt="..." /></div>
    </div>
    <div class="avatar-icon-wrapper avatar-icon-xs">
      <div class="avatar-icon rounded"><img src="assets/images/avatars/avatar3.jpg" alt="..." /></div>
    </div>
  </div>
  <div>
    <div class="avatar-icon-wrapper avatar-icon-xl">
      <div class="avatar-icon"><img src="assets/images/avatars/avatar1.jpg" alt="..." /></div>
    </div>
    <div class="avatar-icon-wrapper avatar-icon-lg">
      <div class="avatar-icon"><img src="assets/images/avatars/avatar7.jpg" alt="..." /></div>
    </div>
    <div class="avatar-icon-wrapper">
      <div class="avatar-icon"><img src="assets/images/avatars/avatar1.jpg" alt="..." /></div>
    </div>
    <div class="avatar-icon-wrapper avatar-icon-sm">
      <div class="avatar-icon"><img src="assets/images/avatars/avatar2.jpg" alt="..." /></div>
    </div>
    <div class="avatar-icon-wrapper avatar-icon-xs">
      <div class="avatar-icon"><img src="assets/images/avatars/avatar3.jpg" alt="..." /></div>
    </div>
  </div>
