<div class="container py-5">
    <div class="text-center">
        <h1 class="display-2 text-black mb-3 font-weight-bold">
            Our customer stories
        </h1>
        <p class="font-size-xl mb-0 mb-lg-5 text-black-50">
            Read how customers around the world use our services to build their projects
        </p>
    </div>
    <ngx-slick-carousel [config]='
                {
                    "slidesToShow": 2,
                    "slidesToScroll": 2,
                    "dots": true,
                    "prevArrow": "<button type=\"button\" class=\"slick-prev\"><i class=\"ion-ios-arrow-back font-size-xl\"></i></button>",
                    "nextArrow": "<button type=\"button\" class=\"slick-next\"><i class=\"ion-ios-arrow-forward font-size-xl\"></i></fa-icon></button>",
                    "responsive": [{"breakpoint": 1100,"settings": {"slidesToShow": 1,"slidesToScroll": 1}}] }'
    class="w-100 p-2">
        <div ngxSlickItem>
            <div class="card m-5">
                <div class="card-body">
                    <div class="align-box-row align-items-start">
                        <div>
                            <div class="card card-transparent">
                                <a [routerLink]="" class="card-img-wrapper rounded">
                                    <img src="assets/images/stock-photos/people-1.jpg" class="card-img-top rounded-circle" style="width: 80px" alt="...">
                                </a>
                            </div>
                        </div>
                        <div class="pl-4">
                            <fa-icon [icon]="['fas', 'quote-right']" class="text-primary font-size-xxl"></fa-icon>
                            <div class="my-3 text-warning font-size-lg">
                                <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                <fa-icon [icon]="['fas', 'star-half-alt']"></fa-icon>
                            </div>
                            <blockquote class="my-3 text-black-50 blockquote">
                                I will give you a complete account of the system, and expound the actual teachings.
                            </blockquote>
                            <div class="font-size-lg font-weight-bold">
                                John Doe,
                                <small class="text-black-50">ACME Company</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ngxSlickItem>
            <div class="card m-5">
                <div class="card-body">
                    <div class="align-box-row align-items-start">
                        <div>
                            <div class="card card-transparent">
                                <a [routerLink]="" class="card-img-wrapper rounded">
                                    <img src="assets/images/stock-photos/people-2.jpg" class="card-img-top rounded-circle" style="width: 80px" alt="...">
                                </a>
                            </div>
                        </div>
                        <div class="pl-4">
                            <fa-icon [icon]="['fas', 'quote-right']" class="text-primary font-size-xxl"></fa-icon>
                            <div class="my-3 text-warning font-size-lg">
                                <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                <fa-icon [icon]="['fas', 'star']"></fa-icon>
                            </div>
                            <blockquote class="my-3 text-black-50 blockquote">
                                But who has any right to find fault with a man who chooses to enjoy a pleasure that has.
                            </blockquote>
                            <div class="font-size-lg font-weight-bold">
                                Alexandros Hebert,
                                <small class="text-black-50">Bailey Company</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ngxSlickItem>
            <div class="card m-5">
                <div class="card-body">
                    <div class="align-box-row align-items-start">
                        <div>
                            <div class="card card-transparent">
                                <a [routerLink]="" class="card-img-wrapper rounded">
                                    <img src="assets/images/stock-photos/people-3.jpg" class="card-img-top rounded-circle" style="width: 80px" alt="...">
                                </a>
                            </div>
                        </div>
                        <div class="pl-4">
                            <fa-icon [icon]="['fas', 'quote-right']" class="text-primary font-size-xxl"></fa-icon>
                            <div class="my-3 text-warning font-size-lg">
                                <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                <fa-icon [icon]="['fas', 'star-half-alt']"></fa-icon>
                            </div>
                            <blockquote class="my-3 text-black-50 blockquote">
                                Nor again is there anyone who loves or pursues or desires to obtain pain of itself.
                            </blockquote>
                            <div class="font-size-lg font-weight-bold">
                                Jimi Tomlinson,
                                <small class="text-black-50">Wood Company</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ngxSlickItem>
            <div class="card m-5">
                <div class="card-body">
                    <div class="align-box-row align-items-start">
                        <div>
                            <div class="card card-transparent">
                                <a [routerLink]="" class="card-img-wrapper rounded">
                                    <img src="assets/images/stock-photos/people-1.jpg" class="card-img-top rounded-circle" style="width: 80px" alt="...">
                                </a>
                            </div>
                        </div>
                        <div class="pl-4">
                            <fa-icon [icon]="['fas', 'quote-right']" class="text-primary font-size-xxl"></fa-icon>
                            <div class="my-3 text-warning font-size-lg">
                                <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                <fa-icon [icon]="['fas', 'star']"></fa-icon>
                            </div>
                            <blockquote class="my-3 text-black-50 blockquote">
                                I will give you a complete account of the system, and expound the actual teachings.
                            </blockquote>
                            <div class="font-size-lg font-weight-bold">
                                Kaylee Magana,
                                <small class="text-black-50">Espinosa Company</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ngx-slick-carousel>
</div>
