<button class="btn m-2 btn-outline-primary" type="button">Primary</button>
<button class="btn m-2 btn-outline-first" type="button">Primary Alt</button>
<button class="btn m-2 btn-outline-second" type="button">Secondary Alt</button>

<button class="btn m-2 btn-outline-info" type="button">Info</button>
<button class="btn m-2 btn-outline-success" type="button">Success</button>
<button class="btn m-2 btn-outline-warning" type="button">Warning</button>
<button class="btn m-2 btn-outline-danger" type="button">Danger</button>
<button class="btn m-2 btn-outline-dark" type="button">Dark</button>
