<div class="icon-demo-box">
  <div class="card p-2 text-primary">
    <i-feather name="bell" class="font-size-xxl line-height-1"></i-feather>
  </div>
  <div class="card p-2 text-success">
    <i-feather name="settings" class="font-size-xxl line-height-1"></i-feather>
  </div>
  <div class="card p-2 text-warning">
    <i-feather name="search" class="font-size-xxl line-height-1"></i-feather>
  </div>
  <div class="card p-2 text-danger">
    <i-feather name="grid" class="font-size-xxl line-height-1"></i-feather>
  </div>
  <div class="card p-2 text-dark">
    <i-feather name="users" class="font-size-xxl line-height-1"></i-feather>
  </div>
  <div class="card p-2 text-info">
    <i-feather name="life-buoy" class="font-size-xxl line-height-1"></i-feather>
  </div>
  <div class="card p-2 text-first">
    <i-feather name="cloud-drizzle" class="font-size-xxl line-height-1"></i-feather>
  </div>
  <div class="card p-2 text-second">
    <i-feather name="coffee" class="font-size-xxl line-height-1"></i-feather>
  </div>
  <div class="card p-2">
    <i-feather name="box" class="font-size-xxl line-height-1"></i-feather>
  </div>
  <div class="card p-2">
    <i-feather name="briefcase" class="font-size-xxl line-height-1"></i-feather>
  </div>
  <div class="card p-2">
    <i-feather name="layers" class="font-size-xxl line-height-1"></i-feather>
  </div>
  <div class="card p-2">
    <i-feather name="printer" class="font-size-xxl line-height-1"></i-feather>
  </div>
</div>
