<div class="avatar-wrapper-overlap mb-3">
    <div class="avatar-icon-wrapper avatar-icon-xl">
        <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar1.jpg"/></div>
    </div>
    <div class="avatar-icon-wrapper avatar-icon-xl">
        <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar7.jpg"/></div>
    </div>
    <div class="avatar-icon-wrapper avatar-icon-xl">
        <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar1.jpg"/></div>
    </div>
    <div class="avatar-icon-wrapper avatar-icon-xl">
        <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar2.jpg"/></div>
    </div>
    <div class="avatar-icon-wrapper avatar-icon-xl">
        <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar6.jpg"/></div>
    </div>
</div>
<div class="avatar-wrapper-overlap mb-3">
    <div class="avatar-icon-wrapper avatar-icon-lg">
        <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar1.jpg"/></div>
    </div>
    <div class="avatar-icon-wrapper avatar-icon-lg">
        <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar7.jpg"/></div>
    </div>
    <div class="avatar-icon-wrapper avatar-icon-lg">
        <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar1.jpg"/></div>
    </div>
    <div class="avatar-icon-wrapper avatar-icon-lg">
        <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar2.jpg"/></div>
    </div>
    <div class="avatar-icon-wrapper avatar-icon-lg">
        <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar6.jpg"/></div>
    </div>
</div>
<div class="avatar-wrapper-overlap mb-3">
    <div class="avatar-icon-wrapper">
        <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar1.jpg"/></div>
    </div>
    <div class="avatar-icon-wrapper">
        <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar7.jpg"/></div>
    </div>
    <div class="avatar-icon-wrapper">
        <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar1.jpg"/></div>
    </div>
    <div class="avatar-icon-wrapper">
        <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar2.jpg"/></div>
    </div>
    <div class="avatar-icon-wrapper">
        <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar6.jpg"/></div>
    </div>
</div>
<div class="avatar-wrapper-overlap mb-3">
    <div class="avatar-icon-wrapper avatar-icon-sm">
        <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar1.jpg"/></div>
    </div>
    <div class="avatar-icon-wrapper avatar-icon-sm">
        <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar7.jpg"/></div>
    </div>
    <div class="avatar-icon-wrapper avatar-icon-sm">
        <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar1.jpg"/></div>
    </div>
    <div class="avatar-icon-wrapper avatar-icon-sm">
        <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar2.jpg"/></div>
    </div>
    <div class="avatar-icon-wrapper avatar-icon-sm">
        <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar6.jpg"/></div>
    </div>
</div>
