<apx-chart
        [chart]="{
                                type: 'bar',
                                height: '350'
                            }"
        [colors]="['#4191ff', '#f83245']"
        [plotOptions]="{
          bar: {
              horizontal: true
            }
          }"
        [dataLabels]="{
                              enabled: false
                            }"
        [fill]="{
                              opacity: 0.85,
                              colors: ['#4191ff', '#4191ff']
                            }"
        [grid]="{
                    strokeDashArray: '5',
                    borderColor: 'rgba(125, 138, 156, 0.3)'
                }"
        [series]="[
                    {
                     data: [400, 430, 448, 470, 540, 580, 690, 1100, 1200, 1380]
                    }
                  ]"
        [xaxis]="{
            categories: ['South Korea', 'Canada', 'United Kingdom', 'Netherlands', 'Italy', 'France', 'Japan', 'United States', 'China', 'Germany']
          }"
></apx-chart>
