<button class="btn m-2 btn-link btn-link-primary" type="button"><span>Primary</span></button>
<button class="btn m-2 btn-link btn-link-first" type="button"><span>Primary Alt</span></button>
<button class="btn m-2 btn-link btn-link-second" type="button"><span>Secondary Alt</span></button>

<button class="btn m-2 btn-link btn-link-info" type="button"><span>Info</span></button>
<button class="btn m-2 btn-link btn-link-success" type="button"><span>Success</span></button>
<button class="btn m-2 btn-link btn-link-warning" type="button"><span>Warning</span></button>
<button class="btn m-2 btn-link btn-link-danger" type="button"><span>Danger</span></button>
<button class="btn m-2 btn-link btn-link-dark" type="button"><span>Dark</span></button>
