<div class="icon-demo-box">
  <div class="card p-2 text-primary">
    <span class="socicon-stackoverflow font-size-xxl line-height-1"></span>
  </div>
  <div class="card p-2 text-success">
    <span class="socicon-skype font-size-xxl line-height-1"></span>
  </div>
  <div class="card p-2 text-warning">
    <span class="socicon-youtube font-size-xxl line-height-1"></span>
  </div>
  <div class="card p-2 text-danger">
    <span class="socicon-apple font-size-xxl line-height-1"></span>
  </div>
  <div class="card p-2 text-dark">
    <span class="socicon-facebook font-size-xxl line-height-1"></span>
  </div>
  <div class="card p-2 text-info">
    <span class="socicon-behance font-size-xxl line-height-1"></span>
  </div>
  <div class="card p-2 text-first">
    <span class="socicon-discord font-size-xxl line-height-1"></span>
  </div>
  <div class="card p-2 text-second">
    <span class="socicon-chrome font-size-xxl line-height-1"></span>
  </div>
  <div class="card p-2">
    <span class="socicon-github font-size-xxl line-height-1"></span>
  </div>
  <div class="card p-2">
    <span class="socicon-instagram font-size-xxl line-height-1"></span>
  </div>
  <div class="card p-2">
    <span class="socicon-lastfm font-size-xxl line-height-1"></span>
  </div>
  <div class="card p-2">
    <span class="socicon-outlook font-size-xxl line-height-1"></span>
  </div>
</div>
