<div class="row text-center">
    <div class="col-md-6">
        <ngx-gauge size="160" type="full" thick="10" class="img-fluid"
                   min="0" max="120" value="63"
                   cap="round" label="Speed" append="mph"
                   foregroundColor="#f83245" backgroundColor="#d1d2db">
        </ngx-gauge>
    </div>
    <div class="col-md-6">
        <ngx-gauge size="190" type="semi" thick="10" class="img-fluid"
                   min="0" max="120" value="36"
                   cap="round" label="Completed" append="%"
                   foregroundColor="#1bc943" backgroundColor="#d1d2db">
        </ngx-gauge>
    </div>
    <div class="col-md-6">
        <ngx-gauge size="180" type="arch" thick="10" class="img-fluid"
                   min="0" max="120" value="47.5"
                   cap="round" label="Reports"
                   foregroundColor="#f4772e" backgroundColor="#d1d2db">
        </ngx-gauge>
    </div>
    <div class="col-md-6">
        <ngx-gauge size="160" type="full" thick="10" class="img-fluid"
                   min="0" max="650" value="437"
                   cap="round" label="Users"
                   foregroundColor="#4191ff" backgroundColor="#d1d2db">
        </ngx-gauge>
    </div>
</div>
