<bar-rating [(rate)]="ratingH1" [theme]="'rating-horizontal'" [showText]="true" class="rating-success" [max]="8"></bar-rating>

<bar-rating [(rate)]="ratingH1" [theme]="'rating-horizontal'" [showText]="true" class="rating-first" [max]="8"></bar-rating>

<bar-rating [(rate)]="ratingH1" [theme]="'rating-horizontal'" [showText]="true" class="rating-danger" [max]="8"></bar-rating>

<bar-rating [(rate)]="ratingH1" [theme]="'rating-horizontal'" [showText]="true" class="rating-warning" [max]="8"></bar-rating>
