<div class="row">
    <div class="col-xl-6">
        <div class="card card-box mb-5">
            <ul class="list-group list-group-flush">
                <li class="list-group-item py-4">
                    <div class="d-flex flex-column flex-sm-row align-items-start">
                        <div>
                            <div class="card card-transparent mb-3 mb-sm-0">
                                <a [routerLink]="" class="card-img-wrapper rounded">
                                    <div class="img-wrapper-overlay">
                                        <div class="overlay-btn-wrapper">
                                            <button class="btn btn-pill btn-sm btn-outline-secondary border-0 shadow-none pl-2 pr-2 mx-auto d-flex align-items-center"
                                                    type="button">
                                                <fa-icon [icon]="['fas', 'plus-circle']" class="font-size-lg"></fa-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <img alt="..." class="card-img-top rounded"
                                         src="assets/images/stock-photos/stock-3.jpg" style="width: 160px">
                                </a>
                            </div>
                        </div>
                        <div class="pl-0 pl-sm-4">
                            <div class="mb-1">
                                <a [routerLink]="" class="font-size-lg">Meeting minutes</a>
                            </div>
                            <div>
                                <span class="badge badge-neutral-info text-info">Articles</span>
                                <span class="badge badge-neutral-danger text-danger ml-2">Posts</span>
                            </div>
                            <p class="mb-0 mt-2 text-black-50">
                                A wonderful serenity has taken possession of my entire soul, like these sweet mornings
                                ...
                            </p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item py-4">
                    <div class="d-flex flex-column flex-sm-row align-items-start">
                        <div>
                            <div class="card card-transparent mb-3 mb-sm-0">
                                <a [routerLink]="" class="card-img-wrapper rounded">
                                    <div class="img-wrapper-overlay">
                                        <div class="overlay-btn-wrapper">
                                            <button class="btn btn-pill btn-sm btn-outline-secondary border-0 shadow-none pl-2 pr-2 mx-auto d-flex align-items-center"
                                                    type="button">
                                                <fa-icon [icon]="['fas', 'plus-circle']" class="font-size-lg"></fa-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <img alt="..." class="card-img-top rounded"
                                         src="assets/images/stock-photos/stock-2.jpg" style="width: 160px">
                                </a>
                            </div>
                        </div>
                        <div class="pl-0 pl-sm-4">
                            <div class="mb-1">
                                <a [routerLink]="" class="font-size-lg">Sales reports for this week</a>
                            </div>
                            <div>
                                <a [routerLink]="" class="badge badge-neutral-success text-success">Blog</a>
                            </div>
                            <p class="mt-2 text-black-50">
                                Who formed us in his own image, and the breath ...
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card card-box mb-5">
            <ul class="list-group list-group-flush">
                <li class="list-group-item py-4">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <div>
                                <div class="card card-transparent mb-3 mb-sm-0">
                                    <a [routerLink]="" class="card-img-wrapper card-box-hover-rise rounded-sm">
                                        <img alt="..." class="card-img-top rounded-sm"
                                             src="assets/images/stock-photos/stock-1.jpg" style="width: 140px">
                                    </a>
                                </div>
                            </div>
                            <div class="pl-0 pl-sm-4">
                                <b class="font-weight-bold font-size-lg text-black">
                                    Meeting minutes
                                </b>
                                <p class="text-black-50 mb-0">
                                    Learn more about these example boxes.
                                </p>
                                <small class="text-black-50 pt-1 d-block">
                                    Created on: <b class="text-first">23 Feb 2021</b>
                                </small>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="text-right pr-3">
                                <span class="font-weight-bold font-size-lg line-height-1">583</span>
                                <span class="text-black-50 d-block">customers</span>
                            </div>
                            <div class="text-right pl-3">
                                <span class="font-weight-bold font-size-lg line-height-1">12,349</span>
                                <span class="text-black-50 d-block">visits</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item py-4">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <div>
                                <div class="card card-transparent mb-3 mb-sm-0">
                                    <a [routerLink]="" class="card-img-wrapper card-box-hover-rise rounded-sm">
                                        <img alt="..." class="card-img-top rounded-sm"
                                             src="assets/images/stock-photos/stock-2.jpg" style="width: 140px">
                                    </a>
                                </div>
                            </div>
                            <div class="pl-0 pl-sm-4">
                                <b class="font-weight-bold font-size-lg text-black">
                                    Sales reports for this week
                                </b>
                                <p class="text-black-50 mb-0">
                                    The passage experienced a surge in popularity during the 1960s.
                                </p>
                                <small class="text-black-50 pt-1 d-block">
                                    Created on: <b class="text-first">24 Feb 2021</b>
                                </small>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="text-right pr-3 pl-3">
                                <span class="font-weight-bold font-size-lg text-danger line-height-1">345</span>
                                <span class="text-black-50 d-block">reports</span>
                            </div>
                            <div class="text-right pl-3">
                                <span class="font-weight-bold font-size-lg line-height-1">1,456</span>
                                <span class="text-black-50 d-block">customers</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
