<div class="heading-3 pt-3">With Fontawesome</div>
<button class="btn btn-facebook m-2">
    <span class="btn-wrapper--icon">
         <fa-icon [icon]="['fab', 'facebook']" class="font-size-lg"></fa-icon>
    </span>
    <span class="btn-wrapper--label">
        Facebook
    </span>
</button>
<button class="btn btn-twitter m-2">
    <span class="btn-wrapper--icon">
         <fa-icon [icon]="['fab', 'twitter']" class="font-size-lg"></fa-icon>
    </span>
    <span class="btn-wrapper--label">
        Twitter
    </span>
</button>
<button class="btn btn-google m-2">
    <span class="btn-wrapper--icon">
         <fa-icon [icon]="['fab', 'google']" class="font-size-lg"></fa-icon>
    </span>
    <span class="btn-wrapper--label">
        Google
    </span>
</button>
<button class="btn btn-instagram m-2">
    <span class="btn-wrapper--icon">
         <fa-icon [icon]="['fab', 'instagram']" class="font-size-lg"></fa-icon>
    </span>
    <span class="btn-wrapper--label">
        Instagram
    </span>
</button>
<button class="btn btn-pinterest m-2">
    <span class="btn-wrapper--icon">
         <fa-icon [icon]="['fab', 'pinterest']" class="font-size-lg"></fa-icon>
    </span>
    <span class="btn-wrapper--label">
        Pinterest
    </span>
</button>
<button class="btn btn-youtube m-2">
    <span class="btn-wrapper--icon">
         <fa-icon [icon]="['fab', 'youtube']" class="font-size-lg"></fa-icon>
    </span>
    <span class="btn-wrapper--label">
        Youtube
    </span>
</button>
<button class="btn btn-slack m-2">
    <span class="btn-wrapper--icon">
         <fa-icon [icon]="['fab', 'slack']" class="font-size-lg"></fa-icon>
    </span>
    <span class="btn-wrapper--label">
        Slack
    </span>
</button>
<button class="btn btn-dribbble m-2">
    <span class="btn-wrapper--icon">
         <fa-icon [icon]="['fab', 'dribbble']" class="font-size-lg"></fa-icon>
    </span>
    <span class="btn-wrapper--label">
        Dribbble
    </span>
</button>
<button class="btn btn-github m-2">
    <span class="btn-wrapper--icon">
         <fa-icon [icon]="['fab', 'github']" class="font-size-lg"></fa-icon>
    </span>
    <span class="btn-wrapper--label">
        Github
    </span>
</button>

<div class="divider my-3"></div>

<div class="d-flex align-items-center">
    <button class="btn d-60 p-0 btn-pill btn-facebook m-2" tooltip="Facebook">
        <span class="btn-wrapper--icon">
             <fa-icon [icon]="['fab', 'facebook']" class="font-size-lg"></fa-icon>
        </span>
    </button>
    <button class="btn d-60 p-0 btn-pill btn-twitter m-2" tooltip="Twitter">
        <span class="btn-wrapper--icon">
             <fa-icon [icon]="['fab', 'twitter']" class="font-size-lg"></fa-icon>
        </span>
    </button>
    <button class="btn d-60 p-0 btn-pill btn-google m-2" tooltip="Google">
        <span class="btn-wrapper--icon">
             <fa-icon [icon]="['fab', 'google']" class="font-size-lg"></fa-icon>
        </span>
    </button>
    <button class="btn d-60 p-0 btn-pill btn-instagram m-2" tooltip="Instagram">
        <span class="btn-wrapper--icon">
             <fa-icon [icon]="['fab', 'instagram']" class="font-size-lg"></fa-icon>
        </span>
    </button>
    <button class="btn d-60 p-0 btn-pill btn-pinterest m-2" tooltip="Pinterest">
        <span class="btn-wrapper--icon">
             <fa-icon [icon]="['fab', 'pinterest']" class="font-size-lg"></fa-icon>
        </span>
    </button>
    <button class="btn d-60 p-0 btn-pill btn-youtube m-2" tooltip="Youtube">
        <span class="btn-wrapper--icon">
             <fa-icon [icon]="['fab', 'youtube']" class="font-size-lg"></fa-icon>
        </span>
    </button>
    <button class="btn d-60 p-0 btn-pill btn-slack m-2" tooltip="Slack">
        <span class="btn-wrapper--icon">
             <fa-icon [icon]="['fab', 'slack']" class="font-size-lg"></fa-icon>
        </span>
    </button>
    <button class="btn d-60 p-0 btn-pill btn-dribbble m-2" tooltip="Dribbble">
        <span class="btn-wrapper--icon">
             <fa-icon [icon]="['fab', 'dribbble']" class="font-size-lg"></fa-icon>
        </span>
    </button>
    <button class="btn d-60 p-0 btn-pill btn-github m-2" tooltip="Github">
        <span class="btn-wrapper--icon">
             <fa-icon [icon]="['fab', 'github']" class="font-size-lg"></fa-icon>
        </span>
    </button>
</div>

<div class="divider my-3"></div>

<div class="heading-3 pt-3">With Socicons</div>

<button class="btn btn-facebook m-2 d-inline-flex">
    <span class="btn-wrapper--icon d-flex">
         <span class="socicon-facebook font-size-lg d-flex line-height-1"></span>
    </span>
    <span class="btn-wrapper--label">
        Facebook
    </span>
</button>
<button class="btn btn-twitter m-2 d-inline-flex">
    <span class="btn-wrapper--icon d-flex">
         <span class="socicon-twitter font-size-lg d-flex line-height-1"></span>
    </span>
    <span class="btn-wrapper--label">
        Twitter
    </span>
</button>
<button class="btn btn-google m-2 d-inline-flex">
    <span class="btn-wrapper--icon d-flex">
         <span class="socicon-google font-size-lg d-flex line-height-1"></span>
    </span>
    <span class="btn-wrapper--label">
        Google
    </span>
</button>
<button class="btn btn-instagram m-2 d-inline-flex">
    <span class="btn-wrapper--icon d-flex">
         <span class="socicon-instagram font-size-lg d-flex line-height-1"></span>
    </span>
    <span class="btn-wrapper--label">
        Instagram
    </span>
</button>
<button class="btn btn-pinterest m-2 d-inline-flex">
    <span class="btn-wrapper--icon d-flex">
         <span class="socicon-pinterest font-size-lg d-flex line-height-1"></span>
    </span>
    <span class="btn-wrapper--label">
        Pinterest
    </span>
</button>
<button class="btn btn-youtube m-2 d-inline-flex">
    <span class="btn-wrapper--icon d-flex">
         <span class="socicon-youtube font-size-lg d-flex line-height-1"></span>
    </span>
    <span class="btn-wrapper--label">
        Youtube
    </span>
</button>
<button class="btn btn-slack m-2 d-inline-flex">
    <span class="btn-wrapper--icon d-flex">
         <fa-icon [icon]="['fab', 'slack']" class="font-size-lg d-flex"></fa-icon>
    </span>
    <span class="btn-wrapper--label">
        Slack
    </span>
</button>
<button class="btn btn-dribbble m-2 d-inline-flex">
    <span class="btn-wrapper--icon d-flex">
         <span class="socicon-dribbble font-size-lg d-flex line-height-1"></span>
    </span>
    <span class="btn-wrapper--label">
        Dribbble
    </span>
</button>
<button class="btn btn-github m-2 d-inline-flex">
    <span class="btn-wrapper--icon d-flex">
         <span class="socicon-github font-size-lg d-flex line-height-1"></span>
    </span>
    <span class="btn-wrapper--label">
        Github
    </span>
</button>

<div class="divider my-3"></div>

<button class="btn btn-facebook m-2 d-inline-flex justify-content-center d-70 p-0" tooltip="Facebook">
    <span class="btn-wrapper--icon d-flex">
         <span class="socicon-facebook font-size-xl d-flex line-height-1"></span>
    </span>
</button>
<button class="btn btn-twitter m-2 d-inline-flex justify-content-center d-70 p-0" tooltip="Twitter">
    <span class="btn-wrapper--icon d-flex">
         <span class="socicon-twitter font-size-xl d-flex line-height-1"></span>
    </span>
</button>
<button class="btn btn-google m-2 d-inline-flex justify-content-center d-70 p-0" tooltip="Google">
    <span class="btn-wrapper--icon d-flex">
         <span class="socicon-google font-size-xl d-flex line-height-1"></span>
    </span>
</button>
<button class="btn btn-instagram m-2 d-inline-flex justify-content-center d-70 p-0" tooltip="Instagram">
    <span class="btn-wrapper--icon d-flex">
         <span class="socicon-instagram font-size-xl d-flex line-height-1"></span>
    </span>
</button>
<button class="btn btn-pinterest m-2 d-inline-flex justify-content-center d-70 p-0" tooltip="Pinterest">
    <span class="btn-wrapper--icon d-flex">
         <span class="socicon-pinterest font-size-xl d-flex line-height-1"></span>
    </span>
</button>
<button class="btn btn-youtube m-2 d-inline-flex justify-content-center d-70 p-0" tooltip="Youtube">
    <span class="btn-wrapper--icon d-flex">
         <span class="socicon-youtube font-size-xl d-flex line-height-1"></span>
    </span>
</button>
<button class="btn btn-slack m-2 d-inline-flex justify-content-center d-70 p-0" tooltip="Slack">
    <span class="btn-wrapper--icon d-flex">
         <fa-icon [icon]="['fab', 'slack']" class="font-size-xl d-flex"></fa-icon>
    </span>
</button>
<button class="btn btn-dribbble m-2 d-inline-flex justify-content-center d-70 p-0" tooltip="Dribbble">
    <span class="btn-wrapper--icon d-flex">
         <span class="socicon-dribbble font-size-xl d-flex line-height-1"></span>
    </span>
</button>
<button class="btn btn-github m-2 d-inline-flex justify-content-center d-70 p-0" tooltip="Github">
    <span class="btn-wrapper--icon d-flex">
         <span class="socicon-github font-size-xl d-flex line-height-1"></span>
    </span>
</button>
