<div class="app-inner-content-layout app-inner-content-layout-fixed">
    <div class="d-flex d-lg-none p-4 order-0 justify-content-between align-items-center">
        <button (click)="toggleMobileSidebar1 = !toggleMobileSidebar1" class="btn btn-sm btn-primary px-3" type="button">
            <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
        </button>
        <button (click)="toggleMobileSidebar2 = !toggleMobileSidebar2" class="btn btn-sm btn-primary px-3" type="button">
            <fa-icon [icon]="['fas', 'bars']"></fa-icon>
        </button>
    </div>
    <div [ngClass]="{'layout-sidebar-open' : toggleMobileSidebar1}" class="app-inner-content-layout--sidebar bg-secondary app-inner-content-layout--sidebar__sm shadow-none border-right">
        <div class="p-3">
            <button class="btn btn-block btn-first" type="button">
            <span class="btn-wrapper--icon">
                <fa-icon [icon]="['fas', 'upload']"></fa-icon>
            </span>
                <span class="btn-wrapper--label">Compose new</span>
            </button>
        </div>
        <div class="divider"></div>
        <perfect-scrollbar [autoPropagation]="true" class="px-4 pt-4 pb-0">
            <ul class="nav nav-primary nav-pills flex-column">
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link py-1 active">
                        <span class="nav-link-icon opacity-6"><fa-icon [icon]="['far', 'file-alt']" class="mx-auto"></fa-icon></span>
                        Inbox
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link py-1">
                        <span class="nav-link-icon opacity-6"><fa-icon [icon]="['far', 'building']" class="mx-auto"></fa-icon></span>
                        Starred
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link py-1">
                        <span class="nav-link-icon opacity-6"><fa-icon [icon]="['far', 'keyboard']" class="mx-auto"></fa-icon></span>
                        Important
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link py-1">
                        <span class="nav-link-icon opacity-6"><fa-icon [icon]="['far', 'trash-alt']" class="mx-auto"></fa-icon></span>
                        Sent mail
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link py-1">
                        <span class="nav-link-icon opacity-6"><fa-icon [icon]="['far', 'file-image']" class="mx-auto"></fa-icon></span>
                        Drafts
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link py-1">
                        <span class="nav-link-icon opacity-6"><fa-icon [icon]="['far', 'file-alt']" class="mx-auto"></fa-icon></span>
                        Spam
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link py-1">
                        <span class="nav-link-icon opacity-6"><fa-icon [icon]="['far', 'file-video']" class="mx-auto"></fa-icon></span>
                        Trash
                    </a>
                </li>
                <li class="nav-header pt-2">
                    <span class="text-uppercase font-size-sm text-muted">Labels</span>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link py-1">
                        <span class="nav-link-icon opacity-6"><fa-icon [icon]="['far', 'folder']" class="mx-auto"></fa-icon></span>
                        Social
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link py-1">
                        <span class="nav-link-icon opacity-6"><fa-icon [icon]="['far', 'folder']" class="mx-auto"></fa-icon></span>
                        Promotions
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link py-1">
                        <span class="nav-link-icon opacity-6"><fa-icon [icon]="['far', 'folder']" class="mx-auto"></fa-icon></span>
                        Company
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link py-1">
                        <span class="nav-link-icon opacity-6"><fa-icon [icon]="['far', 'folder']" class="mx-auto"></fa-icon></span>
                        Ecommerce
                    </a>
                </li>
            </ul>
        </perfect-scrollbar>
        <div class="app-content--sidebar__footer px-4 pb-4 pt-2">
            <ul class="nav nav-neutral-primary nav-pills flex-column">
                <li class="nav-header py-3">
                    <span class="text-uppercase font-size-sm text-muted">Space available</span>
                </li>
                <li class="nav-item">
                    <div class="d-flex align-items-start">
                        <div class="display-3">
                            <fa-icon [icon]="['far', 'object-group']"></fa-icon>
                        </div>
                        <div class="pl-3">
                            <small class="d-block mb-2"><b>21GB</b> used out of <b>25GB</b></small>
                            <div class="progress-bar-sm progress-bar-animated-alt progress">
                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="77" class="progress-bar bg-danger" role="progressbar" style="width: 77%;"></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div [ngClass]="{'layout-sidebar-open' : toggleMobileSidebar2}" class="app-inner-content-layout--sidebar bg-white app-inner-content-layout--sidebar__xl pos-r shadow-none border-right">
        <div class="p-4">
            <div class="input-group input-group-seamless">
                <div class="input-group-prepend">
                    <span class="input-group-text"><fa-icon [icon]="['fas', 'search']" class="mx-auto"></fa-icon></span>
                </div>
                <input class="form-control" placeholder="Search terms..." type="search">
            </div>
        </div>
        <div class="divider"></div>
        <perfect-scrollbar [autoPropagation]="true">
            <ul class="nav nav-neutral-primary nav-pills flex-column">
                <li class="bg-secondary text-uppercase px-4 py-2 font-weight-bold font-size-xs">
                    Today
                </li>
                <li class="nav-item">
                    <div class="divider"></div>
                    <a [routerLink]="" class="nav-link rounded-0 p-4 m-0">
                        <div>
                            <div class="avatar-icon-wrapper avatar-icon-sm mb-2">
                                <span class="badge badge-circle badge-success">Online</span>
                                <div class="avatar-icon rounded-circle"><img alt="..." src="assets/images/avatars/avatar1.jpg"/></div>
                            </div>
                            <div>
                                <div class="d-flex justify-content-between text-black-50">
                                    <div>
                                        Adella Galen
                                    </div>
                                    <span class="opacity-5">12:54 PM</span>
                                </div>
                                <div class="font-weight-bold my-2">
                                    Beguiled and demoralized by the charms
                                </div>
                                <p class="font-size-xs mb-0">
                                    But I must explain to you how all this mistaken idea of denouncing pleasure and praising ...
                                </p>
                            </div>
                        </div>
                    </a>
                    <div class="divider"></div>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link rounded-0 p-4 m-0">
                        <div>
                            <div class="avatar-icon-wrapper avatar-icon-sm mb-2">
                                <span class="badge badge-circle badge-success">Online</span>
                                <div class="avatar-icon rounded-circle"><img alt="..." src="assets/images/avatars/avatar2.jpg"/></div>
                            </div>
                            <div>
                                <div class="d-flex justify-content-between text-black-50">
                                    <div>
                                        Kate Jones
                                    </div>
                                    <span class="opacity-5">5:22 PM</span>
                                </div>
                                <div class="font-weight-bold my-2">
                                    Take a trivial example
                                </div>
                                <p class="font-size-xs mb-0">
                                    Because occasionally circumstances occur in which ...
                                </p>
                            </div>
                        </div>
                    </a>
                    <div class="divider"></div>
                </li>
                <li class="bg-secondary text-uppercase px-4 py-2 font-weight-bold font-size-xs">
                    Yesterday
                </li>
                <li class="nav-item">
                    <div class="divider"></div>
                    <a [routerLink]="" class="nav-link rounded-0 p-4 m-0">
                        <div>
                            <div class="avatar-icon-wrapper avatar-icon-sm mb-2">
                                <span class="badge badge-circle badge-success">Online</span>
                                <div class="avatar-icon rounded-circle"><img alt="..." src="assets/images/avatars/avatar3.jpg"/></div>
                            </div>
                            <div>
                                <div class="d-flex justify-content-between text-black-50">
                                    <div>
                                        Napoleon Stacey
                                    </div>
                                    <span class="opacity-5">2:16 AM</span>
                                </div>
                                <div class="font-weight-bold my-2">
                                    Belongs to those
                                </div>
                                <p class="font-size-xs mb-0">
                                    Because occasionally circumstances occur in which toil and pain can great pleasure ...
                                </p>
                            </div>
                        </div>
                    </a>
                    <div class="divider"></div>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link rounded-0 p-4 m-0">
                        <div>
                            <div class="avatar-icon-wrapper avatar-icon-sm mb-2">
                                <span class="badge badge-circle badge-success">Online</span>
                                <div class="avatar-icon rounded-circle"><img alt="..." src="assets/images/avatars/avatar4.jpg"/></div>
                            </div>
                            <div>
                                <div class="d-flex justify-content-between text-black-50">
                                    <div>
                                        Mandy Erle
                                    </div>
                                    <span class="opacity-5">1:42 AM</span>
                                </div>
                                <div class="font-weight-bold my-2">
                                    Duty through weakness
                                </div>
                                <p class="font-size-xs mb-0">
                                    Other greater pleasures, or else he endures pains to avoid worse pains ...
                                </p>
                            </div>
                        </div>
                    </a>
                    <div class="divider"></div>
                </li>
                <li class="bg-secondary text-uppercase px-4 py-2 font-weight-bold font-size-xs">
                    17<sup>th</sup> July
                </li>
                <li class="nav-item">
                    <div class="divider"></div>
                    <a [routerLink]="" class="nav-link rounded-0 p-4 m-0">
                        <div>
                            <div class="avatar-icon-wrapper avatar-icon-sm mb-2">
                                <span class="badge badge-circle badge-success">Online</span>
                                <div class="avatar-icon rounded-circle"><img alt="..." src="assets/images/avatars/avatar1.jpg"/></div>
                            </div>
                            <div>
                                <div class="d-flex justify-content-between text-black-50">
                                    <div>
                                        Adella Galen
                                    </div>
                                    <span class="opacity-5">12:54 PM</span>
                                </div>
                                <div class="font-weight-bold my-2">
                                    Beguiled and demoralized by the charms
                                </div>
                                <p class="font-size-xs mb-0">
                                    But I must explain to you how all this mistaken idea of denouncing pleasure and praising ...
                                </p>
                            </div>
                        </div>
                    </a>
                    <div class="divider"></div>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link rounded-0 p-4 m-0">
                        <div>
                            <div class="avatar-icon-wrapper avatar-icon-sm mb-2">
                                <span class="badge badge-circle badge-success">Online</span>
                                <div class="avatar-icon rounded-circle"><img alt="..." src="assets/images/avatars/avatar2.jpg"/></div>
                            </div>
                            <div>
                                <div class="d-flex justify-content-between text-black-50">
                                    <div>
                                        Kate Jones
                                    </div>
                                    <span class="opacity-5">5:22 PM</span>
                                </div>
                                <div class="font-weight-bold my-2">
                                    Take a trivial example
                                </div>
                                <p class="font-size-xs mb-0">
                                    Because occasionally circumstances occur in which ...
                                </p>
                            </div>
                        </div>
                    </a>
                    <div class="divider"></div>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link rounded-0 p-4 m-0">
                        <div>
                            <div class="avatar-icon-wrapper avatar-icon-sm mb-2">
                                <span class="badge badge-circle badge-success">Online</span>
                                <div class="avatar-icon rounded-circle"><img alt="..." src="assets/images/avatars/avatar3.jpg"/></div>
                            </div>
                            <div>
                                <div class="d-flex justify-content-between text-black-50">
                                    <div>
                                        Napoleon Stacey
                                    </div>
                                    <span class="opacity-5">2:16 AM</span>
                                </div>
                                <div class="font-weight-bold my-2">
                                    Belongs to those
                                </div>
                                <p class="font-size-xs mb-0">
                                    Because occasionally circumstances occur in which toil and pain can great pleasure ...
                                </p>
                            </div>
                        </div>
                    </a>
                    <div class="divider"></div>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link rounded-0 p-4 m-0">
                        <div>
                            <div class="avatar-icon-wrapper avatar-icon-sm mb-2">
                                <span class="badge badge-circle badge-success">Online</span>
                                <div class="avatar-icon rounded-circle"><img alt="..." src="assets/images/avatars/avatar4.jpg"/></div>
                            </div>
                            <div>
                                <div class="d-flex justify-content-between text-black-50">
                                    <div>
                                        Mandy Erle
                                    </div>
                                    <span class="opacity-5">1:42 AM</span>
                                </div>
                                <div class="font-weight-bold my-2">
                                    Duty through weakness
                                </div>
                                <p class="font-size-xs mb-0">
                                    Other greater pleasures, or else he endures pains to avoid worse pains ...
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </perfect-scrollbar>
    </div>
    <div class="app-inner-content-layout--main bg-white p-0">
        <div class="app-content--inner__header m-4 p-3 rounded d-flex justify-content-center justify-content-xl-between bg-secondary border-bottom">
            <div>
                <a [routerLink]="" class="btn btn-sm btn-outline-primary mr-2 px-3" tooltip="Previous">
                    <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>
                </a>
                <a [routerLink]="" class="btn btn-sm btn-outline-primary px-3" tooltip="Next">
                    <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
                </a>
            </div>
            <div>
                <a [routerLink]="" class="btn btn-sm btn-primary mx-2 px-3" title="Reply">
                    <fa-icon [icon]="['fas', 'reply']" class="mr-2"></fa-icon>
                    Reply
                </a>
                <a [routerLink]="" class="btn btn-sm btn-danger px-3" containerClass="tooltip-danger" tooltip="Move to trash">
                    <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
                </a>
            </div>
        </div>
        <perfect-scrollbar [autoPropagation]="true" class="card shadow-none rounded mb-4 p-3">
            <h3 class="font-size-lg mb-3 font-weight-bold">
                Beguiled and demoralized by the charms
            </h3>
            <p class="font-size-lg mb-4 text-black-50">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>

            <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>

            <p>To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?</p>

            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and
                pain.</p>

            <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided.</p>

            <p>But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted.</p>

            <p>The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.</p>

            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
        </perfect-scrollbar>
        <div class="app-content--inner__footer bg-white p-4 border-top">
            <div>
                <input class="form-control" placeholder="Write your message and hit enter to send...">
            </div>
            <div class="d-flex justify-content-between mt-3">
                <div class="d-flex align-items-center">
                    <a [routerLink]="" class="btn btn-link btn-link-primary p-0 text-success" tooltip="Add audio file">
                        <fa-icon [icon]="['far', 'file-audio']" class="font-size-xl"></fa-icon>
                    </a>
                    <a [routerLink]="" class="btn btn-link btn-link-primary p-0 mr-2 ml-2 text-danger" tooltip="Add video file">
                        <fa-icon [icon]="['far', 'file-video']" class="font-size-xl"></fa-icon>
                    </a>
                    <a [routerLink]="" class="btn btn-link btn-link-primary p-0 text-info" tooltip="Upload documents">
                        <fa-icon [icon]="['far', 'file-excel']" class="font-size-xl"></fa-icon>
                    </a>
                </div>
                <a [routerLink]="" class="btn btn-primary">
                    Send
                </a>
            </div>
        </div>
    </div>
    <div (click)="toggleMobileSidebar1 = !toggleMobileSidebar1" [ngClass]="{'active' : toggleMobileSidebar1}" class="sidebar-inner-layout-overlay"></div>
    <div (click)="toggleMobileSidebar2 = !toggleMobileSidebar2" [ngClass]="{'active' : toggleMobileSidebar2}" class="sidebar-inner-layout-overlay"></div>
</div>
