<div class="icon-demo-box">
  <div class="card p-2 text-primary">
    <i class="ion-ios-heart font-size-xxl"></i>
  </div>
  <div class="card p-2 text-success">
    <i class="ion-md-heart font-size-xxl"></i>
  </div>
  <div class="card p-2 text-warning">
    <i class="ion-ios-alarm font-size-xxl"></i>
  </div>
  <div class="card p-2 text-danger">
    <i class="ion-md-alarm font-size-xxl"></i>
  </div>
  <div class="card p-2 text-dark">
    <i class="ion-ios-cog font-size-xxl"></i>
  </div>
  <div class="card p-2 text-info">
    <i class="ion-md-cog font-size-xxl"></i>
  </div>
  <div class="card p-2 text-first">
    <i class="ion-ios-gift font-size-xxl"></i>
  </div>
  <div class="card p-2 text-second">
    <i class="ion-md-gift font-size-xxl"></i>
  </div>
  <div class="card p-2">
    <i class="ion-ios-options font-size-xxl"></i>
  </div>
  <div class="card p-2">
    <i class="ion-md-options font-size-xxl"></i>
  </div>
  <div class="card p-2">
    <i class="ion-ios-umbrella font-size-xxl"></i>
  </div>
  <div class="card p-2">
    <i class="ion-md-umbrella font-size-xxl"></i>
  </div>
</div>
