<div class="row no-gutters">
  <div class="col-xl-4 col-lg-6">
    <div class="card card-transparent m-4">
      <span class="ribbon-vertical ribbon-vertical--danger"><span>New</span></span>
      <span class="ribbon-vertical ribbon-vertical--first ribbon-vertical--right text-uppercase"><span>-30%</span></span>
      <div class="card-img-wrapper">
        <div class="card-badges card-badges-bottom">
          <span class="badge badge-pill badge-success mr-2">Success</span>
          <span class="badge badge-pill badge-neutral-info text-info">Info</span>
        </div>
        <img src="assets/images/stock-photos/stock-2.jpg" class="card-img-top rounded" alt="...">
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6">
    <div class="card card-transparent m-4">
      <a [routerLink]="" class="ribbon-vertical btn btn-warning ribbon-vertical--warning"><span><fa-icon [icon]="['far', 'keyboard']" class="font-size-lg"></fa-icon></span></a>
      <a [routerLink]="" class="ribbon-vertical btn btn-success ribbon-vertical--success ribbon-vertical--right text-uppercase"><span><fa-icon [icon]="['far', 'building']" class="font-size-lg"></fa-icon></span></a>
      <div class="card-img-wrapper">
        <div class="card-badges card-badges-bottom">
          <span class="badge badge-pill badge-warning">Warning</span>
        </div>
        <img src="assets/images/stock-photos/stock-1.jpg" class="card-img-top rounded" alt="...">
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-12">
    <div class="card card-transparent m-4">
      <span class="ribbon-vertical ribbon-vertical--primary text-uppercase"><span>New</span></span>
      <span class="ribbon-vertical ribbon-vertical--info ribbon-vertical--right text-uppercase"><span>-30%</span></span>
      <div class="card-img-wrapper">
        <div class="card-badges card-badges-bottom">
          <span class="badge badge-pill badge-first">New</span>
        </div>
        <img src="assets/images/stock-photos/stock-3.jpg" class="card-img-top rounded" alt="...">
      </div>
    </div>
  </div>
</div>
