<div class="row">
    <div class="col-xl-6">
        <div class="card card-box mb-5">
            <ul class="list-group list-group-flush">
                <li class="list-group-item py-2">
                    <div class="align-box-row mb-1">
                        <div>
                            <div class="font-weight-bold">Orders</div>
                        </div>
                        <div class="ml-auto">
                            <div class="font-size-xl font-weight-bold text-success">
                                348
                            </div>
                        </div>
                    </div>
                    <progressbar [animate]="true" [value]="34" class="progress-animated-alt" type="success">34%
                    </progressbar>
                    <div class="align-box-row progress-bar--label mt-1 text-muted">
                        <small class="text-dark">0</small>
                        <div class="ml-auto">100%</div>
                    </div>
                </li>
                <li class="list-group-item py-2">
                    <div class="align-box-row mb-1">
                        <div>
                            <div class="font-weight-bold">Sales</div>
                        </div>
                        <div class="ml-auto">
                            <div class="font-size-xl font-weight-bold text-danger">
                                <small>$</small>
                                2.3M
                            </div>
                        </div>
                    </div>
                    <progressbar [animate]="true" [value]="39" class="progress-animated-alt" type="danger">39%
                    </progressbar>
                    <div class="align-box-row progress-bar--label mt-1 text-muted">
                        <small class="text-dark">0</small>
                        <div class="ml-auto">100%</div>
                    </div>
                </li>
                <li class="list-group-item py-2">
                    <div class="align-box-row mb-1">
                        <div>
                            <div class="font-weight-bold">Users</div>
                        </div>
                        <div class="ml-auto">
                            <div class="font-size-xl font-weight-bold text-info">
                                <small>#</small>
                                87
                            </div>
                        </div>
                    </div>
                    <progressbar [animate]="true" [value]="51" class="progress-animated-alt" type="info">51%
                    </progressbar>
                    <div class="align-box-row progress-bar--label mt-1 text-muted">
                        <small class="text-dark">0</small>
                        <div class="ml-auto">100%</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card card-box mb-5">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="align-box-row">
                        <div class="mr-4">
                            <a [routerLink]="" class="avatar-icon-wrapper avatar-icon-lg m-0"
                               placement="right" tooltip="View details">
                                <div class="dot-badge"></div>
                                <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar7.jpg"/></div>
                            </a>
                        </div>
                        <div class="flex-grow-1">
                            <progressbar [animate]="true" [value]="61"
                                         class="progress-bar-rounded progress-animated-alt"
                                         type="success">61%
                            </progressbar>
                        </div>
                        <div class="line-height-sm text-center ml-4">
                            <small class="text-black-50 d-block text-uppercase">Totals</small>
                            <b class="font-size-lg text-success">
                                <small class="text-black-50">$</small>
                                1,628
                            </b>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="align-box-row">
                        <div class="mr-4">
                            <a [routerLink]="" class="avatar-icon-wrapper avatar-icon-lg m-0"
                               placement="right" tooltip="View details">
                                <div class="dot-badge"></div>
                                <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar5.jpg"/></div>
                            </a>
                        </div>
                        <div class="flex-grow-1">
                            <progressbar [animate]="true" [value]="44"
                                         class="progress-bar-rounded progress-animated-alt"
                                         type="info">44%
                            </progressbar>
                        </div>
                        <div class="line-height-sm text-center ml-4">
                            <small class="text-black-50 d-block text-uppercase">Totals</small>
                            <b class="font-size-lg text-info">
                                <small class="text-black-50">$</small>
                                7,389
                            </b>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="align-box-row">
                        <div class="mr-4">
                            <a [routerLink]="" class="avatar-icon-wrapper avatar-icon-lg m-0"
                               placement="right" tooltip="View details">
                                <div class="dot-badge"></div>
                                <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar1.jpg"/></div>
                            </a>
                        </div>
                        <div class="flex-grow-1">
                            <progressbar [animate]="true" [value]="29"
                                         class="progress-bar-rounded progress-animated-alt"
                                         type="danger">29%
                            </progressbar>
                        </div>
                        <div class="line-height-sm text-center ml-4">
                            <small class="text-black-50 d-block text-uppercase">Totals</small>
                            <b class="font-size-lg text-danger">
                                <small class="text-black-50">$</small>
                                8,493
                            </b>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="align-box-row">
                        <div class="mr-4">
                            <a [routerLink]="" class="avatar-icon-wrapper avatar-icon-lg m-0"
                               placement="right" tooltip="View details">
                                <div class="dot-badge"></div>
                                <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar2.jpg"/></div>
                            </a>
                        </div>
                        <div class="flex-grow-1">
                            <progressbar [animate]="true" [value]="38"
                                         class="progress-bar-rounded progress-animated-alt"
                                         type="warning">38%
                            </progressbar>
                        </div>
                        <div class="line-height-sm text-center ml-4">
                            <small class="text-black-50 d-block text-uppercase">Totals</small>
                            <b class="font-size-lg text-warning">
                                <small class="text-black-50">$</small>
                                2,594
                            </b>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
