<div class="row">
    <div class="col-xl-6">
        <tabset type="tabs" class="nav-tabs-danger mb-5">
            <tab>
                <ng-template tabHeading>
                    Home
                </ng-template>
                <p class="mb-0 p-3">I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
            </tab>
            <tab>
                <ng-template tabHeading>
                    Profile
                </ng-template>
                <p class="mb-0 p-3">I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
            </tab>
            <tab>
                <ng-template tabHeading>
                    Messages
                </ng-template>
                <p class="mb-0 p-3">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
            </tab>
        </tabset>
    </div>
    <div class="col-xl-6">
        <tabset type="tabs" class="nav-tabs-first mb-5">
            <tab>
                <ng-template tabHeading>
                    Home
                </ng-template>
                <p class="mb-0 p-3">I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
            </tab>
            <tab>
                <ng-template tabHeading>
                    Profile
                </ng-template>
                <p class="mb-0 p-3">I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
            </tab>
            <tab>
                <ng-template tabHeading>
                    Messages
                </ng-template>
                <p class="mb-0 p-3">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
            </tab>
        </tabset>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <tabset type="line" class="nav-tabs-success mb-5">
            <tab>
                <ng-template tabHeading>
                    Home
                    <div class="divider"></div>
                </ng-template>
                <p class="mb-0 p-3">I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
            </tab>
            <tab>
                <ng-template tabHeading>
                    Profile
                    <div class="divider"></div>
                </ng-template>
                <p class="mb-0 p-3">I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
            </tab>
            <tab>
                <ng-template tabHeading>
                    Messages
                    <div class="divider"></div>
                </ng-template>
                <p class="mb-0 p-3">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
            </tab>
        </tabset>
    </div>
    <div class="col-xl-6">
        <tabset type="line" class="nav-line-alt nav-tabs-warning mb-5">
            <tab>
                <ng-template tabHeading>
                    Home
                    <div class="divider"></div>
                </ng-template>
                <p class="mb-0 p-3">I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
            </tab>
            <tab>
                <ng-template tabHeading>
                    Profile
                    <div class="divider"></div>
                </ng-template>
                <p class="mb-0 p-3">I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
            </tab>
            <tab>
                <ng-template tabHeading>
                    Messages
                    <div class="divider"></div>
                </ng-template>
                <p class="mb-0 p-3">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
            </tab>
        </tabset>
    </div>
</div>

