<div class="form-group">
    <div class="input-group input-group-sm input-group-seamless mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text"><fa-icon [icon]="['fas', 'search']" class="mx-auto"></fa-icon></span>
        </div>
        <input class="form-control" placeholder="Search terms..." type="search">
    </div>
</div>
<div class="form-group">
    <div class="input-group input-group-seamless mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text"><fa-icon [icon]="['fas', 'search']" class="mx-auto"></fa-icon></span>
        </div>
        <input class="form-control" placeholder="Search terms..." type="search">
    </div>
</div>
<div class="form-group">
    <div class="input-group input-group-lg input-group-seamless mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text"><fa-icon [icon]="['fas', 'search']" class="mx-auto"></fa-icon></span>
        </div>
        <input class="form-control" placeholder="Search terms..." type="search">
    </div>
</div>

<div class="form-group">
    <div class="input-group input-group-seamless input-group-sm mb-4">
        <input class="form-control" placeholder="Search terms..." type="search">
        <div class="input-group-append">
            <span class="input-group-text"><fa-icon [icon]="['fas', 'search']" class="mx-auto"></fa-icon></span>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="input-group input-group-sm mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text"><fa-icon [icon]="['fas', 'search']" class="mx-auto"></fa-icon></span>
        </div>
        <input class="form-control" placeholder="Search terms..." type="search">
    </div>
</div>

<div class="form-group">
    <div class="input-group">
        <input class="form-control" placeholder="Search terms..." type="search">
        <div class="input-group-append">
            <span class="input-group-text"><fa-icon [icon]="['fas', 'search']" class="mx-auto"></fa-icon></span>
        </div>
    </div>
</div>
