<button type="button" class="btn btn-primary m-2">
    <fa-icon [icon]="['far', 'bell']"></fa-icon>
    <span class="badge badge-warning ml-3"><b>23</b> New</span>
</button>
<button class="btn btn-success" tooltip="Tooltip example">
    <span class="badge badge-second mr-3">New</span>
    <span>
        <fa-icon [icon]="['far', 'lightbulb']"></fa-icon>
    </span>
</button>
<button type="button" class="btn btn-dark m-2">
    <fa-icon [icon]="['far', 'keyboard']"></fa-icon>
    <span class="badge badge-second ml-3"><b>65</b></span>
</button>
<button type="button" class="btn btn-second m-2">
    <fa-icon [icon]="['far', 'bell']"></fa-icon>
    <span class="badge badge-success ml-3">Info</span>
</button>
