<div class="avatar-icon-wrapper">
  <div class="avatar-icon"><img src="assets/images/avatars/avatar1.jpg" alt="..." /></div>
</div>
<div class="avatar-icon-wrapper">
  <div class="avatar-icon"><img src="assets/images/avatars/avatar2.jpg" alt="..." /></div>
</div>
<div class="avatar-icon-wrapper">
  <div class="avatar-icon"><img src="assets/images/avatars/avatar3.jpg" alt="..." /></div>
</div>
<div class="avatar-icon-wrapper">
  <div class="avatar-icon"><img src="assets/images/avatars/avatar4.jpg" alt="..." /></div>
</div>
<div class="avatar-icon-wrapper">
  <div class="avatar-icon"><img src="assets/images/avatars/avatar5.jpg" alt="..." /></div>
</div>
<div class="avatar-icon-wrapper">
  <div class="avatar-icon"><img src="assets/images/avatars/avatar6.jpg" alt="..." /></div>
</div>

