<div class="row">
  <div class="col-lg-8">
    <div class="mb-3">
      <div class="avatar-icon-wrapper avatar-initials avatar-icon-xl">
        <div class="avatar-icon rounded text-white bg-dark">
          EA
        </div>
      </div>
      <div class="avatar-icon-wrapper avatar-initials avatar-icon-lg">
        <div class="avatar-icon rounded text-white bg-primary">
          DK
        </div>
      </div>
      <div class="avatar-icon-wrapper avatar-initials">
        <div class="avatar-icon rounded text-white bg-danger">
          RH
        </div>
      </div>
      <div class="avatar-icon-wrapper avatar-initials avatar-icon-sm">
        <div class="avatar-icon rounded text-white bg-second">
          GG
        </div>
      </div>
      <div class="avatar-icon-wrapper avatar-initials avatar-icon-xs">
        <div class="avatar-icon rounded text-white bg-first">
          M
        </div>
      </div>
    </div>
    <div>
      <div class="avatar-icon-wrapper avatar-initials avatar-icon-xl">
        <div class="avatar-icon text-white bg-success">
          AD
        </div>
      </div>
      <div class="avatar-icon-wrapper avatar-initials avatar-icon-lg">
        <div class="avatar-icon text-white bg-second">
          H
        </div>
      </div>
      <div class="avatar-icon-wrapper avatar-initials">
        <div class="avatar-icon text-white bg-warning">
          T
        </div>
      </div>
      <div class="avatar-icon-wrapper avatar-initials avatar-icon-sm">
        <div class="avatar-icon text-white bg-primary">
          RX
        </div>
      </div>
      <div class="avatar-icon-wrapper avatar-initials avatar-icon-xs">
        <div class="avatar-icon text-white bg-dark">
          H
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="mb-3">
      <div class="avatar-icon-wrapper avatar-initials avatar-icon-lg">
        <div class="avatar-icon rounded text-white bg-dark">
          TE
          <span class="badge badge-position badge-position--bottom-center badge-circle-inner badge-first" tooltip="Badge bottom center">Badge bottom center</span>
        </div>
      </div>
      <div class="avatar-icon-wrapper avatar-initials avatar-icon-lg">
        <div class="avatar-icon rounded text-white bg-dark">
          GH
          <span class="badge badge-circle badge-danger">Offline</span>
        </div>
      </div>
    </div>
  </div>
</div>
