<button class="btn m-2 btn-square btn-primary" type="button">Primary</button>
<button class="btn m-2 btn-square btn-secondary" type="button">Secondary</button>
<button class="btn m-2 btn-square btn-first" type="button">Primary Alt</button>
<button class="btn m-2 btn-square btn-second" type="button">Secondary Alt</button>

<button class="btn m-2 btn-square btn-info" type="button">Info</button>
<button class="btn m-2 btn-square btn-success" type="button">Success</button>
<button class="btn m-2 btn-square btn-warning" type="button">Warning</button>
<button class="btn m-2 btn-square btn-danger" type="button">Danger</button>
<button class="btn m-2 btn-square btn-dark" type="button">Dark</button>

