<div class="row">
  <div class="col-xs-12 col-sm-6">
    <bar-rating [(rate)]="rating1" [theme]="'rating-icons-default'" class="rating-primary" [max]="6"></bar-rating>

    <bar-rating [(rate)]="rating1" [theme]="'rating-icons-default'" class="rating-first" [max]="6"></bar-rating>

    <bar-rating [(rate)]="rating1" [theme]="'rating-icons-default'" class="rating-second" [max]="6"></bar-rating>

    <bar-rating [(rate)]="rating1" [theme]="'rating-icons-default'" class="rating-info" [max]="6"></bar-rating>
  </div>
  <div class="col-xs-12 col-sm-6">
    <bar-rating [(rate)]="rating1" [theme]="'rating-icons-default'" class="rating-success" [max]="6"></bar-rating>

    <bar-rating [(rate)]="rating1" [theme]="'rating-icons-default'" class="rating-warning" [max]="6"></bar-rating>

    <bar-rating [(rate)]="rating1" [theme]="'rating-icons-default'" class="rating-danger" [max]="6"></bar-rating>

    <bar-rating [(rate)]="rating1" [theme]="'rating-icons-default'" class="rating-dark" [max]="6"></bar-rating>
  </div>
</div>



