<div class="d-flex flex-row text-center flex-wrap justify-content-center">
    <div class="card rounded-sm card-box shadow-none p-3 m-3">
        <div style="width: 130px;">
            <sk-rotating-plane [color]="'#3c44b1'"></sk-rotating-plane>
            <p class="mb-0 pt-3 text-black-50">rotating-plane</p>
        </div>
    </div>

    <div class="card rounded-sm card-box shadow-none p-3 m-3">
        <div style="width: 130px;">
            <sk-double-bounce [color]="'#3c44b1'"></sk-double-bounce>
            <p class="mb-0 pt-3 text-black-50">double-bounce</p>
        </div>
    </div>

    <div class="card rounded-sm card-box shadow-none p-3 m-3">
        <div style="width: 130px;">
            <sk-wave [color]="'#3c44b1'"></sk-wave>
            <p class="mb-0 pt-3 text-black-50">wave</p>
        </div>
    </div>

    <div class="card rounded-sm card-box shadow-none p-3 m-3">
        <div style="width: 130px;">
            <sk-wandering-cubes [color]="'#3c44b1'"></sk-wandering-cubes>
            <p class="mb-0 pt-3 text-black-50">wandering-cubes</p>
        </div>
    </div>

    <div class="card rounded-sm card-box shadow-none p-3 m-3">
        <div style="width: 130px;">
            <sk-pulse [color]="'#3c44b1'"></sk-pulse>
            <p class="mb-0 pt-3 text-black-50">pulse</p>
        </div>
    </div>

    <div class="card rounded-sm card-box shadow-none p-3 m-3">
        <div style="width: 130px;">
            <sk-chasing-dots [color]="'#3c44b1'"></sk-chasing-dots>
            <p class="mb-0 pt-3 text-black-50">chasing-dots</p>
        </div>
    </div>

    <div class="card rounded-sm card-box shadow-none p-3 m-3">
        <div style="width: 130px;">
            <sk-circle [color]="'#3c44b1'"></sk-circle>
            <p class="mb-0 pt-3 text-black-50">circle</p>
        </div>
    </div>

    <div class="card rounded-sm card-box shadow-none p-3 m-3">
        <div style="width: 130px;">
            <sk-three-bounce [color]="'#3c44b1'"></sk-three-bounce>
            <p class="mb-0 pt-3 text-black-50">three-bounce</p>
        </div>
    </div>

    <div class="card rounded-sm card-box shadow-none p-3 m-3">
        <div style="width: 130px;">
            <sk-cube-grid [color]="'#3c44b1'"></sk-cube-grid>
            <p class="mb-0 pt-3 text-black-50">cube-grid</p>
        </div>
    </div>

    <div class="card rounded-sm card-box shadow-none p-3 m-3">
        <div style="width: 130px;">
            <sk-word-press [color]="'#3c44b1'"></sk-word-press>
            <p class="mb-0 pt-3 text-black-50">word-press</p>
        </div>
    </div>

    <div class="card rounded-sm card-box shadow-none p-3 m-3">
        <div style="width: 130px;">
            <sk-fading-circle [color]="'#3c44b1'"></sk-fading-circle>
            <p class="mb-0 pt-3 text-black-50">fading-circle</p>
        </div>
    </div>

    <div class="card rounded-sm card-box shadow-none p-3 m-3">
        <div style="width: 130px;">
            <sk-folding-cube [color]="'#3c44b1'"></sk-folding-cube>
            <p class="mb-0 pt-3 text-black-50">folding-cube</p>
        </div>
    </div>
</div>
