<button type="button" class="btn btn-primary m-3 badge-wrapper">
    <span class="badge badge-position badge-position--top-left badge-circle badge-success">New notifications</span>
    <fa-icon [icon]="['far', 'bell']"></fa-icon>
    <span class="badge badge-warning ml-3"><b>23</b> New</span>
</button>
<button class="btn btn-primary badge-wrapper m-3" tooltip="Tooltip example">
    <span class="badge badge-position badge-position--top-center badge-circle badge-info">New notifications</span>
    <span>
        <fa-icon [icon]="['far', 'keyboard']"></fa-icon>
    </span>
</button>
<button class="btn btn-primary badge-wrapper m-3" tooltip="Tooltip example">
    <span class="badge badge-position badge-position--top-right badge-circle badge-info">New notifications</span>
    <span>
        <fa-icon [icon]="['far', 'lightbulb']"></fa-icon>
    </span>
</button>

<div class="divider my-3"></div>

<button type="button" class="btn btn-primary m-3 badge-wrapper">
    <span class="badge badge-position badge-position--top-left badge-circle-inner badge-warning">New notifications</span>
    Button
</button>
<button class="btn btn-primary badge-wrapper m-3" type="button">
    <span class="badge badge-position badge-position--top-center badge-circle-inner badge-danger">New notifications</span>
    <span class="btn-wrapper--icon">
        <fa-icon [icon]="['far', 'keyboard']"></fa-icon>
    </span>
    <span class="btn-wrapper--label">Button</span>
</button>
<button class="btn btn-primary badge-wrapper m-3" type="button">
    <span class="badge badge-position badge-position--top-right badge-circle-inner badge-danger">New notifications</span>
    <span class="btn-wrapper--icon">
        <fa-icon [icon]="['far', 'lightbulb']"></fa-icon>
    </span>
    <span class="btn-wrapper--label">Button</span>
</button>

<div class="divider my-3"></div>

<button type="button" class="btn btn-primary m-3 badge-wrapper">
    <span class="badge badge-position badge-position--bottom-left badge-circle badge-success">New notifications</span>
    <fa-icon [icon]="['far', 'bell']"></fa-icon>
    <span class="badge badge-warning ml-3"><b>23</b> New</span>
</button>
<button class="btn btn-primary badge-wrapper m-3" tooltip="Tooltip example">
    <span class="badge badge-position badge-position--bottom-center badge-circle badge-info">New notifications</span>
    <span>
        <fa-icon [icon]="['far', 'keyboard']"></fa-icon>
    </span>
</button>
<button class="btn btn-primary badge-wrapper m-3" tooltip="Tooltip example">
    <span class="badge badge-position badge-position--bottom-right badge-circle badge-info">New notifications</span>
    <span>
        <fa-icon [icon]="['far', 'lightbulb']"></fa-icon>
    </span>
</button>

<div class="divider my-3"></div>

<button type="button" class="btn btn-primary m-3 badge-wrapper">
    <span class="badge badge-position badge-position--bottom-left badge-circle-inner badge-warning">New notifications</span>
    Button
</button>
<button class="btn btn-primary badge-wrapper m-3" tooltip="Tooltip example">
    <span class="badge badge-position badge-position--bottom-center badge-circle-inner badge-info">New notifications</span>
    <span>
        <fa-icon [icon]="['far', 'keyboard']"></fa-icon>
    </span>
</button>
<button class="btn btn-primary badge-wrapper m-3" type="button">
    <span class="badge badge-position badge-position--bottom-right badge-circle-inner badge-danger">New notifications</span>
    <span class="btn-wrapper--icon">
        <fa-icon [icon]="['far', 'lightbulb']"></fa-icon>
    </span>
    <span class="btn-wrapper--label">Button</span>
</button>
