<div class="row">
    <div class="col-xl-6">
        <div class="card card-box mb-5">
            <div class="card-header">
                <div class="card-header--title">
                    <small>Messenger</small>
                    <b>Talking to Kate</b>
                </div>
                <div class="card-header--actions">
                    <a [routerLink]="" class="btn btn-sm btn-first" tooltip="Send new message"
                    >
                        <fa-icon [icon]="['fas', 'plus']" class="font-size-sm"></fa-icon>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <perfect-scrollbar [autoPropagation]="true" class="scroll-area-sm shadow-overflow">
                    <div class="chat-wrapper">
                        <div class="chat-item p-2 mb-2">
                            <div class="align-box-row">
                                <div class="avatar-icon-wrapper avatar-icon-lg align-self-start">
                                    <div class="avatar-icon rounded border-0">
                                        <img alt="..." src="assets/images/avatars/avatar7.jpg"/>
                                    </div>
                                </div>
                                <div>
                                    <div class="chat-box bg-first text-white">
                                        <p>Hello, John.</p>
                                        <p>This is Kenny. How are you?</p>
                                    </div>
                                    <small class="mt-2 d-block text-black-50">
                                        <fa-icon [icon]="['far', 'clock']" class="mr-1 opacity-5"></fa-icon>
                                        11:01 AM | Yesterday
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="chat-item chat-item-reverse p-2 mb-2">
                            <div class="align-box-row flex-row-reverse">
                                <div class="avatar-icon-wrapper avatar-icon-lg align-self-start">
                                    <div class="avatar-icon rounded border-0">
                                        <img alt="..." src="assets/images/avatars/avatar3.jpg"/>
                                    </div>
                                </div>
                                <div>
                                    <div class="chat-box bg-first text-white">
                                        <p>Hey, Kate.</p>
                                        <p>I'm attaching the pictures you requested below:</p>
                                        <div class="card mt-3 mb-2 py-2 text-center">
                                            <div>
                                                <a [routerLink]=""><img alt="Rounded image"
                                                                        class="img-fluid rounded m-1 shadow-sm"
                                                                        src="assets/images/stock-photos/people-1.jpg"
                                                                        width="54"></a>
                                                <a [routerLink]=""><img alt="Rounded image"
                                                                        class="img-fluid rounded m-1 shadow-sm"
                                                                        src="assets/images/stock-photos/people-2.jpg"
                                                                        width="54"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <small class="mt-2 d-block text-black-50">
                                        <fa-icon [icon]="['far', 'clock']" class="mr-1 opacity-5"></fa-icon>
                                        11:01 AM | Yesterday
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="chat-item p-2 mb-2">
                            <div class="align-box-row">
                                <div class="avatar-icon-wrapper avatar-icon-lg align-self-start">
                                    <div class="avatar-icon rounded border-0">
                                        <img alt="..." src="assets/images/avatars/avatar7.jpg"/>
                                    </div>
                                </div>
                                <div>
                                    <div class="chat-box bg-first text-white">
                                        <p>Thanks.</p>
                                        <p>Really appreciate it!</p>
                                    </div>
                                    <small class="mt-2 d-block text-black-50">
                                        <fa-icon [icon]="['far', 'clock']" class="mr-1 opacity-5"></fa-icon>
                                        11:01 AM | Yesterday
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="chat-item p-2 mb-2">
                            <div class="align-box-row">
                                <div class="avatar-icon-wrapper avatar-icon-lg align-self-start">
                                    <div class="avatar-icon rounded border-0">
                                        <img alt="..." src="assets/images/avatars/avatar7.jpg"/>
                                    </div>
                                </div>
                                <div>
                                    <div class="chat-box bg-first text-white">
                                        <p>Bye for now, talk to you later.</p>
                                    </div>
                                    <small class="mt-2 d-block text-black-50">
                                        <fa-icon [icon]="['far', 'clock']" class="mr-1 opacity-5"></fa-icon>
                                        11:01 AM | Yesterday
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="chat-item chat-item-reverse p-2 mb-2">
                            <div class="align-box-row flex-row-reverse">
                                <div class="avatar-icon-wrapper avatar-icon-lg align-self-start">
                                    <div class="avatar-icon rounded border-0">
                                        <img alt="..." src="assets/images/avatars/avatar3.jpg"/>
                                    </div>
                                </div>
                                <div>
                                    <div class="chat-box bg-first text-white">
                                        <p>Almost forgot about your tasks.</p>
                                        <p><b>Check the links below:</b></p>
                                        <div class="card bg-premium-dark p-2 mt-3 mb-2">
                                            <div class="text-center py-2">
                                                <a [routerLink]=""
                                                   class="m-1 btn btn-link p-0 bg-grow-early d-inline-block text-center text-white font-size-xl d-40 rounded-circle card-box-hover-rise-alt"

                                                   tooltip="Menu Example">
                                                    <fa-icon [icon]="['fas', 'lemon']"></fa-icon>
                                                </a>
                                                <a [routerLink]=""
                                                   class="m-1 btn btn-link p-0 bg-ripe-malin d-inline-block text-center text-white font-size-xl d-40 rounded-circle card-box-hover-rise-alt"

                                                   tooltip="Menu Example">
                                                    <fa-icon [icon]="['far', 'building']"></fa-icon>
                                                </a>
                                                <a [routerLink]=""
                                                   class="m-1 btn btn-link p-0 bg-plum-plate d-inline-block text-center text-white font-size-xl d-40 rounded-circle card-box-hover-rise-alt"

                                                   tooltip="Menu Example">
                                                    <fa-icon [icon]="['far', 'gem']"></fa-icon>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <small class="mt-2 d-block text-black-50">
                                        <fa-icon [icon]="['far', 'clock']" class="mr-1 opacity-5"></fa-icon>
                                        11:03 AM | Yesterday
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </perfect-scrollbar>
            </div>
            <div class="card-footer bg-light p-4">
                <div>
                    <input class="form-control" placeholder="Write your message and hit enter to send...">
                </div>
                <div class="align-box-row mt-3">
                    <div class="align-items-center">
                        <a [routerLink]=""
                           class="btn btn-link btn-link-primary p-0 text-success"
                           tooltip="Add audio file">
                            <fa-icon [icon]="['far', 'file-audio']" class="font-size-xl"></fa-icon>
                        </a>
                        <a [routerLink]=""
                           class="btn btn-link btn-link-primary p-0 mr-2 ml-2 text-danger"
                           tooltip="Add video file">
                            <fa-icon [icon]="['far', 'file-video']" class="font-size-xl"></fa-icon>
                        </a>
                        <a [routerLink]=""
                           class="btn btn-link btn-link-primary p-0 text-info"
                           tooltip="Upload documents">
                            <fa-icon [icon]="['far', 'file-excel']" class="font-size-xl"></fa-icon>
                        </a>
                    </div>
                    <div class="ml-auto">
                        <a [routerLink]="" class="btn btn-primary">
                            Send
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card card-box mb-5">
            <div class="card-header">
                <div class="card-header--title">
                    <small>Tasks</small>
                    <b>Today's list</b>
                </div>
                <div class="card-header--actions">
                    <span class="badge badge-pill badge-neutral-warning text-warning">New Tasks</span>
                </div>
            </div>
            <div class="card-body">
                <perfect-scrollbar [autoPropagation]="true" class="scroll-area-sm shadow-overflow">
                    <div class="task-wrapper">
                        <div class="task-item">
                            <div class="align-box-row">
                                <div class="custom-checkbox custom-control align-self-start">
                                    <input class="custom-control-input" id="exampleCustomCheckbox1" type="checkbox">
                                    <label class="custom-control-label" for="exampleCustomCheckbox1">&nbsp;</label>
                                </div>
                                <div>
                                    Finish tasks for today
                                    <p class="text-black-50 mt-1 mb-0">
                                        But I must explain to you how all this mistaken idea.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="task-item">
                            <div class="align-box-row">
                                <div class="custom-checkbox custom-control align-self-start">
                                    <input class="custom-control-input" id="exampleCustomCheckbox2" type="checkbox">
                                    <label class="custom-control-label" for="exampleCustomCheckbox2">&nbsp;</label>
                                </div>
                                <div>
                                    <b>
                                        Blinded by desire
                                    </b>
                                    <p class="text-black-50 mt-1 mb-0">
                                        A wonderful serenity has taken possession.
                                    </p>
                                    <div class="timeline-list mt-3">
                                        <div class="timeline-item timeline-item-icon">
                                            <div class="timeline-item--content">
                                                <div class="timeline-item--icon-wrapper bg-danger text-white">
                                                    <fa-icon [icon]="['far', 'gem']"></fa-icon>
                                                </div>
                                                <h4 class="timeline-item--label mb-2 font-weight-bold">1998</h4>
                                                <p>
                                                    Bill Clinton's presidential scandal makes it online.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="timeline-item">
                                            <div class="timeline-item--content">
                                                <div class="timeline-item--icon"></div>
                                                <h4 class="timeline-item--label mb-2 font-weight-bold">Java exam
                                                    day</h4>
                                                <p>
                                                    Bill Clinton's presidential scandal makes it online.
                                                </p>
                                                <div class="avatar-wrapper-overlap mt-2 mb-1">
                                                    <div class="avatar-icon-wrapper avatar-icon-sm">
                                                        <div class="avatar-icon"><img
                                                                alt="..." src="assets/images/avatars/avatar1.jpg"/></div>
                                                    </div>
                                                    <div class="avatar-icon-wrapper avatar-icon-sm">
                                                        <div class="avatar-icon"><img
                                                                alt="..." src="assets/images/avatars/avatar7.jpg"/></div>
                                                    </div>
                                                    <div class="avatar-icon-wrapper avatar-icon-sm">
                                                        <div class="avatar-icon"><img
                                                                alt="..." src="assets/images/avatars/avatar1.jpg"/></div>
                                                    </div>
                                                    <div class="avatar-icon-wrapper avatar-icon-sm">
                                                        <div class="avatar-icon"><img
                                                                alt="..." src="assets/images/avatars/avatar2.jpg"/></div>
                                                    </div>
                                                    <div class="avatar-icon-wrapper avatar-icon-sm">
                                                        <div class="avatar-icon"><img
                                                                alt="..." src="assets/images/avatars/avatar6.jpg"/></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-item">
                                            <div class="timeline-item--content">
                                                <div class="timeline-item--icon"></div>
                                                <h4 class="timeline-item--label mb-2 font-weight-bold">
                                                    Business investor meeting
                                                    <span class="badge badge-neutral-info text-info ml-2">New</span>
                                                </h4>
                                                <p>
                                                    Mosaic, the first graphical browser, is introduced to the average
                                                    consumer.
                                                </p>
                                                <div class="mt-3">
                                                    <button class="btn btn-sm btn-primary" type="button">Submit Report
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="task-item">
                            <div class="align-box-row">
                                <div class="custom-checkbox custom-control align-self-start">
                                    <input class="custom-control-input" id="exampleCustomCheckbox3" type="checkbox">
                                    <label class="custom-control-label" for="exampleCustomCheckbox3">&nbsp;</label>
                                </div>
                                <div class="w-100">
                                    World among the stalks
                                    <p class="text-black-50 mt-1">
                                        Who formed us in his own image, and the breath.
                                    </p>

                                    <ul class="list-group list-group-flash">
                                        <li class="list-group-item bg-secondary d-flex justify-content-between align-items-center p-4">
                                            <div class="w-100">
                                                <div class="d-flex flex-wrap justify-content-between mb-2">
                                                    <small class="line-height-xs text-uppercase text-muted">Nov 12,
                                                        11:25am
                                                    </small>
                                                    <small class="line-height-xs text-uppercase text-success">Due in 12
                                                        days
                                                    </small>
                                                </div>
                                                <h6 class="pt-1 pb-1">
                                                    <a [routerLink]="">#56 - Deploy new website</a>
                                                </h6>
                                                <p class="mb-3">This is a dummy text acting ...</p>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <a [routerLink]="" class="badge badge-pill badge-danger pl-3 pr-3">Files
                                                        ready</a>
                                                    <div>
                                                        <button class="btn btn-sm btn-first" type="button">
                                                            <span class="btn-wrapper--icon">
                                                                <fa-icon [icon]="['fas', 'plus']"
                                                                         class="font-size-sm"></fa-icon>
                                                            </span>
                                                            <span class="btn-wrapper--label">
                                                                Add
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center align-content-center pl-1">
                                            <a [routerLink]="" class="btn btn-sm btn-link" placement="top"
                                               tooltip="There are 653 new comments available!">
                                                <span class="btn-wrapper--icon">
                                                    <fa-icon [icon]="['far', 'comments']"></fa-icon>
                                                </span>
                                                <span class="btn-wrapper--label ml-1">
                                                    653
                                                </span>
                                            </a>
                                            <div>
                                                <small class="text-muted mr-1">(21)</small>
                                                <fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon>
                                                <fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon>
                                                <fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon>
                                                <fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon>
                                                <fa-icon [icon]="['fas', 'star']" class="text-warning"></fa-icon>
                                            </div>
                                        </li>
                                    </ul>


                                </div>
                            </div>
                        </div>
                    </div>
                </perfect-scrollbar>
                <div class="text-center mt-3 mb-2">
                    <button class="btn btn-link btn-link-dark" type="button"><span>View completed tasks <span
                            class="text-muted">(87)</span></span></button>
                </div>
                <div>
                    <input class="form-control" placeholder="Add new task...">
                </div>
                <div class="align-box-row mt-3">
                    <div class="align-items-center">
                        <a [routerLink]=""
                           class="btn btn-link btn-link-primary p-0 text-success"
                           tooltip="Add audio file">
                            <fa-icon [icon]="['far', 'file-audio']" class="font-size-xl"></fa-icon>
                        </a>
                        <a [routerLink]=""
                           class="btn btn-link btn-link-primary p-0 mr-2 ml-2 text-danger"
                           tooltip="Add video file">
                            <fa-icon [icon]="['far', 'file-video']" class="font-size-xl"></fa-icon>
                        </a>
                        <a [routerLink]=""
                           class="btn btn-link btn-link-primary p-0 text-info"
                           tooltip="Upload documents">
                            <fa-icon [icon]="['far', 'file-excel']" class="font-size-xl"></fa-icon>
                        </a>
                    </div>
                    <div class="ml-auto">
                        <a [routerLink]="" class="btn btn-sm btn-primary">
                            <fa-icon [icon]="['fas', 'plus']" class="font-size-sm"></fa-icon>
                            Create Task
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
