<div class="row">
    <div class="col-lg-6">
        <div class="heading-3 text-center">First</div>
        <div class="card card-box shadow-none rounded-0 border-2 m-2">
            <ul class="nav nav-first nav-lg flex-column py-2">
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link">
                        <div class="nav-link-icon">
                            <fa-icon [icon]="['far', 'building']"></fa-icon>
                        </div>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link active">
                        <div class="nav-link-icon">
                            <fa-icon [icon]="['far', 'question-circle']"></fa-icon>
                        </div>
                        <span>Layouts</span>
                        <div class="ml-auto badge badge-warning">512</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link disabled">
                        <div class="nav-link-icon">
                            <fa-icon [icon]="['far', 'user-circle']"></fa-icon>
                        </div>
                        <span>Reports</span>
                    </a>
                </li>
                <li class="nav-item nav-item--header">
                    <span>Others</span>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link">
                        <div class="nav-link-icon">
                            <fa-icon [icon]="['far', 'object-group']"></fa-icon>
                        </div>
                        <span>Components</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link">
                        <div class="nav-link-icon">
                            <fa-icon [icon]="['far', 'chart-bar']"></fa-icon>
                        </div>
                        <span>Services</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="heading-3 text-center">Danger</div>
        <div class="card card-box shadow-none rounded-0 border-2 m-2">
            <ul class="nav nav-danger nav-lg nav-pills flex-column py-3 pr-3">
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link">
                        <span>My Account</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link active">
                        <span>Profile settings</span>
                        <div class="ml-auto badge badge-first">23</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link">
                        <span>Active tasks</span>
                    </a>
                </li>
                <li class="nav-item nav-item--header">
                    <span>Heading</span>
                </li>

                <li class="nav-item">
                    <a [routerLink]="" class="nav-link">
                        <div class="nav-link-icon">
                            <fa-icon [icon]="['far', 'bell']"></fa-icon>
                        </div>
                        <span>Customers</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link">
                        <div class="nav-link-icon">
                            <fa-icon [icon]="['far', 'eye']"></fa-icon>
                        </div>
                        <span>Statistics</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="divider my-4"></div>
<div class="row">
    <div class="col-lg-6">
        <div class="heading-3 text-center">Warning</div>
        <div class="card card-box shadow-none rounded-0 border-2 m-2">
            <ul class="nav nav-warning nav-lg nav-pills nav-pills-rounded flex-column py-3 pr-3">
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link">
                        <span>My Account</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link active">
                        <span>Profile settings</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link">
                        <span>Active tasks</span>
                        <div class="ml-auto badge badge-success">New</div>
                    </a>
                </li>
                <li class="nav-item nav-item--header">
                    <span>Heading</span>
                </li>

                <li class="nav-item">
                    <a [routerLink]="" class="nav-link">
                        <div class="nav-link-icon">
                            <fa-icon [icon]="['far', 'bell']"></fa-icon>
                        </div>
                        <span>Customers</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link">
                        <div class="nav-link-icon">
                            <fa-icon [icon]="['far', 'eye']"></fa-icon>
                        </div>
                        <span>Statistics</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="heading-3 text-center">Dark</div>
        <div class="card card-box shadow-none rounded-0 border-2 m-2">
            <ul class="nav nav-dark nav-lg flex-column py-2">
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link">
                        <div class="nav-link-icon">
                            <fa-icon [icon]="['far', 'building']"></fa-icon>
                        </div>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link active">
                        <div class="nav-link-icon">
                            <fa-icon [icon]="['far', 'question-circle']"></fa-icon>
                        </div>
                        <span>Layouts</span>
                        <div class="ml-auto badge badge-warning">512</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link disabled">
                        <div class="nav-link-icon">
                            <fa-icon [icon]="['far', 'user-circle']"></fa-icon>
                        </div>
                        <span>Reports</span>
                    </a>
                </li>
                <li class="nav-item nav-item--header">
                    <span>Others</span>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link">
                        <div class="nav-link-icon">
                            <fa-icon [icon]="['far', 'object-group']"></fa-icon>
                        </div>
                        <span>Components</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link">
                        <div class="nav-link-icon">
                            <fa-icon [icon]="['far', 'chart-bar']"></fa-icon>
                        </div>
                        <span>Services</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>





