<div class="icon-demo-box">
  <div class="card p-2 text-primary">
    <flag-icon country="ca" class="font-size-xxl"></flag-icon>
  </div>
  <div class="card p-2 text-success">
    <flag-icon country="us" class="font-size-xxl"></flag-icon>
  </div>
  <div class="card p-2 text-warning">
    <flag-icon country="dm" class="font-size-xxl"></flag-icon>
  </div>
  <div class="card p-2 text-danger">
    <flag-icon country="gb" class="font-size-xxl"></flag-icon>
  </div>
  <div class="card p-2 text-dark">
    <flag-icon country="de" class="font-size-xxl"></flag-icon>
  </div>
  <div class="card p-2 text-info">
    <flag-icon country="fr" class="font-size-xxl"></flag-icon>
  </div>
  <div class="card p-2 text-first">
    <flag-icon country="it" class="font-size-xxl"></flag-icon>
  </div>
  <div class="card p-2 text-second">
    <flag-icon country="at" class="font-size-xxl"></flag-icon>
  </div>
  <div class="card p-2">
    <flag-icon country="be" class="font-size-xxl"></flag-icon>
  </div>
  <div class="card p-2">
    <flag-icon country="ch" class="font-size-xxl"></flag-icon>
  </div>
  <div class="card p-2">
    <flag-icon country="ro" class="font-size-xxl"></flag-icon>
  </div>
  <div class="card p-2">
    <flag-icon country="ru" class="font-size-xxl"></flag-icon>
  </div>
</div>
