<div class="py-5">
    <div class="container">
        <div class="text-black text-center mb-5">
            <h1 class="display-2 mb-1 px-4 font-weight-bold">
                Partners
            </h1>
            <h3 class="font-size-xl line-height-md font-weight-light d-block mb-0 text-black-50">
                Our products are used by a lot of big companies
            </h3>
        </div>
        <ngx-slick-carousel [config]='
                {
                    "slidesToShow": 4,
                    "slidesToScroll": 1,
                    "dots": false,
                    "prevArrow": "<button type=\"button\" class=\"slick-prev\"><i class=\"ion-ios-arrow-back font-size-xl\"></i></button>",
                    "nextArrow": "<button type=\"button\" class=\"slick-next\"><i class=\"ion-ios-arrow-forward font-size-xl\"></i></fa-icon></button>",
                    "responsive": [{"breakpoint": 1100,"settings": {"slidesToShow": 2,"slidesToScroll": 2}}] }'
                >
            <div ngxSlickItem>
                <div class="p-4 card card-box bg-light mx-4 d-flex align-self-stretch shadow-none">
                    <img src="assets/images/stock-logos/1.svg" style="height: 60px;" class="m-auto img-fluid" alt="...">
                </div>
            </div>
            <div ngxSlickItem>
                <div class="p-4 card card-box bg-light mx-4 d-flex align-self-stretch shadow-none">
                    <img src="assets/images/stock-logos/2.svg" style="height: 60px;" class="m-auto img-fluid" alt="...">
                </div>
            </div>
            <div ngxSlickItem>
                <div class="p-4 card card-box bg-light mx-4 d-flex align-self-stretch shadow-none">
                    <img src="assets/images/stock-logos/3.svg" style="height: 60px;" class="m-auto img-fluid" alt="...">
                </div>
            </div>
            <div ngxSlickItem>
                <div class="p-4 card card-box bg-light mx-4 d-flex align-self-stretch shadow-none">
                    <img src="assets/images/stock-logos/4.svg" style="height: 60px;" class="m-auto img-fluid" alt="...">
                </div>
            </div>
            <div ngxSlickItem>
                <div class="p-4 card card-box bg-light mx-4 d-flex align-self-stretch shadow-none">
                    <img src="assets/images/stock-logos/5.svg" style="height: 60px;" class="m-auto img-fluid" alt="...">
                </div>
            </div>
            <div ngxSlickItem>
                <div class="p-4 card card-box bg-light mx-4 d-flex align-self-stretch shadow-none">
                    <img src="assets/images/stock-logos/6.svg" style="height: 60px;" class="m-auto img-fluid" alt="...">
                </div>
            </div>
            <div ngxSlickItem>
                <div class="p-4 card card-box bg-light mx-4 d-flex align-self-stretch shadow-none">
                    <img src="assets/images/stock-logos/7.svg" style="height: 60px;" class="m-auto img-fluid" alt="...">
                </div>
            </div>
            <div ngxSlickItem>
                <div class="p-4 card card-box bg-light mx-4 d-flex align-self-stretch shadow-none">
                    <img src="assets/images/stock-logos/8.svg" style="height: 60px;" class="m-auto img-fluid" alt="...">
                </div>
            </div>
        </ngx-slick-carousel>
    </div>
</div>
