<div class="row">
    <div class="col-xl-6">
        <tabset type="tabs" class="tabs-animated tabs-nav-first tabs-animated-shadow mb-5">
            <tab>
                <ng-template tabHeading>
                    <span>Home</span>
                </ng-template>
                <p class="mb-0 p-3">I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
            </tab>
            <tab>
                <ng-template tabHeading>
                    <span>Profile</span>
                </ng-template>
                <p class="mb-0 p-3">I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
            </tab>
            <tab>
                <ng-template tabHeading>
                    <span>Messages</span>
                </ng-template>
                <p class="mb-0 p-3">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
            </tab>
        </tabset>
    </div>
    <div class="col-xl-6">
        <tabset type="tabs" class="tabs-animated tabs-animated-line mb-5">
            <tab>
                <ng-template tabHeading>
                    <span>Home</span>
                </ng-template>
                <p class="mb-0 p-3">I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
            </tab>
            <tab>
                <ng-template tabHeading>
                    <span>Profile</span>
                </ng-template>
                <p class="mb-0 p-3">I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
            </tab>
            <tab>
                <ng-template tabHeading>
                    <span>Messages</span>
                </ng-template>
                <p class="mb-0 p-3">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
            </tab>
        </tabset>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <tabset type="tabs" class="tabs-animated nav-tabs-success tabs-animated-shadow mb-5">
            <tab>
                <ng-template tabHeading>
                    <span>Home</span>
                </ng-template>
                <p class="mb-0 p-3">I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
            </tab>
            <tab>
                <ng-template tabHeading>
                    <span>Profile</span>
                </ng-template>
                <p class="mb-0 p-3">I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
            </tab>
            <tab>
                <ng-template tabHeading>
                    <span>Messages</span>
                </ng-template>
                <p class="mb-0 p-3">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
            </tab>
        </tabset>
    </div>
    <div class="col-xl-6">
        <tabset type="tabs" class="tabs-animated nav-tabs-dark tabs-animated-shadow mb-5">
            <tab>
                <ng-template tabHeading>
                    <span>Home</span>
                </ng-template>
                <p class="mb-0 p-3">I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
            </tab>
            <tab>
                <ng-template tabHeading>
                    <span>Profile</span>
                </ng-template>
                <p class="mb-0 p-3">I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
            </tab>
            <tab>
                <ng-template tabHeading>
                    <span>Messages</span>
                </ng-template>
                <p class="mb-0 p-3">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
            </tab>
        </tabset>
    </div>
</div>
