<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="timeline-list mb-5">
            <div class="timeline-item timeline-item-icon">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon-wrapper rounded-pill bg-info text-white">
                        <fa-icon [icon]="['far', 'building']"></fa-icon>
                    </div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">Business meeting</h4>
                    <p>
                        The World Wide Web goes live with its first web page.
                    </p>
                </div>
            </div>
            <div class="timeline-item timeline-item-icon">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon-wrapper rounded-pill bg-warning text-white">
                        <fa-icon [icon]="['far', 'gem']"></fa-icon>
                    </div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">Reports generation date</h4>
                    <p>
                        Bill Clinton's presidential scandal makes it online.
                    </p>
                </div>
            </div>
            <div class="timeline-item timeline-item-icon">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon-wrapper rounded-pill bg-success text-white">
                        <fa-icon [icon]="['far', 'object-group']"></fa-icon>
                    </div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">Lunch with investors</h4>
                    <p>
                        Mosaic, the first graphical browser, is introduced to the average consumer.
                    </p>
                </div>
            </div>
            <div class="timeline-item timeline-item-icon">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon-wrapper rounded-pill bg-night-sky text-white">
                        <fa-icon [icon]="['far', 'bell']"></fa-icon>
                    </div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">Team meeting</h4>
                    <p>
                        First ever iPod launches.
                    </p>
                </div>
            </div>
            <div class="timeline-item timeline-item-icon">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon-wrapper rounded-pill bg-midnight-bloom text-white">
                        <fa-icon [icon]="['far', 'keyboard']"></fa-icon>
                    </div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">Create new accounts</h4>
                    <p>
                        MySpace becomes the most popular social network.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="timeline-list mb-5">
            <div class="timeline-item timeline-item-icon">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon-wrapper bg-primary text-white">
                        <fa-icon [icon]="['far', 'building']"></fa-icon>
                    </div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">1991</h4>
                    <p>
                        The World Wide Web goes live with its first web page.
                    </p>
                </div>
            </div>
            <div class="timeline-item timeline-item-icon">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon-wrapper bg-danger text-white">
                        <fa-icon [icon]="['far', 'gem']"></fa-icon>
                    </div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">1998</h4>
                    <p>
                        Bill Clinton's presidential scandal makes it online.
                    </p>
                </div>
            </div>
            <div class="timeline-item timeline-item-icon">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon-wrapper bg-warning text-white">
                        <fa-icon [icon]="['far', 'object-group']"></fa-icon>
                    </div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">1993</h4>
                    <p>
                        Mosaic, the first graphical browser, is introduced to the average consumer.
                    </p>
                </div>
            </div>
            <div class="timeline-item timeline-item-icon">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon-wrapper bg-premium-dark text-white">
                        <fa-icon [icon]="['far', 'bell']"></fa-icon>
                    </div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">2001</h4>
                    <p>
                        First ever iPod launches.
                    </p>
                </div>
            </div>
            <div class="timeline-item timeline-item-icon">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon-wrapper bg-amy-crisp text-white">
                        <fa-icon [icon]="['far', 'keyboard']"></fa-icon>
                    </div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">2003</h4>
                    <p>
                        MySpace becomes the most popular social network.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="timeline-list mb-5">
            <div class="timeline-item timeline-item-icon">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon-wrapper bg-primary text-white">
                        <fa-icon [icon]="['far', 'building']"></fa-icon>
                    </div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">1991</h4>
                    <p>
                        The World Wide Web goes live with its first web page.
                    </p>
                </div>
            </div>
            <div class="timeline-item timeline-item-icon">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon-wrapper bg-danger text-white">
                        <fa-icon [icon]="['far', 'gem']"></fa-icon>
                    </div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">1998</h4>
                    <p>
                        Bill Clinton's presidential scandal makes it online.
                    </p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon"></div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">1991</h4>
                    <p>
                        The World Wide Web goes live with its first web page.
                    </p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon"></div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">Java exam day</h4>
                    <p>
                        Bill Clinton's presidential scandal makes it online.
                    </p>
                    <div class="avatar-wrapper-overlap mt-2 mb-1">
                        <div class="avatar-icon-wrapper avatar-icon-sm">
                            <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar1.jpg"/></div>
                        </div>
                        <div class="avatar-icon-wrapper avatar-icon-sm">
                            <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar7.jpg"/></div>
                        </div>
                        <div class="avatar-icon-wrapper avatar-icon-sm">
                            <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar1.jpg"/></div>
                        </div>
                        <div class="avatar-icon-wrapper avatar-icon-sm">
                            <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar2.jpg"/></div>
                        </div>
                        <div class="avatar-icon-wrapper avatar-icon-sm">
                            <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar6.jpg"/></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon"></div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">
                        Business investor meeting
                        <span class="badge badge-neutral-info text-info ml-2">New</span>
                    </h4>
                    <p>
                        Mosaic, the first graphical browser, is introduced to the average consumer.
                    </p>
                    <div class="mt-3">
                        <a [routerLink]=""><img alt="Rounded image" class="img-fluid rounded mr-3 shadow-sm" src="assets/images/stock-photos/people-3.jpg"
                                         width="70"></a>
                        <a [routerLink]=""><img alt="Rounded image" class="img-fluid rounded shadow-sm" src="assets/images/stock-photos/people-2.jpg"
                                         width="70"></a>
                    </div>
                </div>
            </div>
            <div class="timeline-item timeline-item-icon">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon-wrapper bg-amy-crisp text-white">
                        <fa-icon [icon]="['far', 'keyboard']"></fa-icon>
                    </div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">2003</h4>
                    <p>
                        MySpace becomes the most popular social network.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
