<div class="d-flex justify-content-center mb-4">
    <timepicker [(ngModel)]="mytime" (ngModelChange)="changed()" (isValid)="isValid = $event"></timepicker>
</div>

<alert *ngIf="!isValid" type="danger" class="font-size-sm mb-4">Invalid time format</alert>

<alert class="text-center mb-0 font-size-sm" type="info">
    Based on selection, time is: <b>{{mytime}}</b>
</alert>

<div class="divider my-4"></div>

<div class="text-center">
    <button type="button" class="btn m-2 btn-primary" (click)="update()">Set to 14:00</button>
    <button type="button" class="btn m-2 btn-outline-danger" (click)="clear()">Clear</button>
</div>
