<div class="row">
    <div class="col-md-3">
        <div class="color-swatch">
            <div class="color-swatch--bg bg-primary"></div>
            <h6 class="color-swatch--title">bg-primary</h6>
        </div>
    </div>
    <div class="col-md-3">
        <div class="color-swatch">
            <div class="color-swatch--bg bg-secondary"></div>
            <h6 class="color-swatch--title">bg-secondary</h6>
        </div>
    </div>
    <div class="col-md-3">
        <div class="color-swatch">
            <div class="color-swatch--bg bg-first"></div>
            <h6 class="color-swatch--title">bg-first</h6>
        </div>
    </div>
    <div class="col-md-3">
        <div class="color-swatch">
            <div class="color-swatch--bg bg-second"></div>
            <h6 class="color-swatch--title">bg-second</h6>
        </div>
    </div>
    <div class="col-md-3">
        <div class="color-swatch">
            <div class="color-swatch--bg bg-success"></div>
            <h6 class="color-swatch--title">bg-success</h6>
        </div>
    </div>
    <div class="col-md-3">
        <div class="color-swatch">
            <div class="color-swatch--bg bg-warning"></div>
            <h6 class="color-swatch--title">bg-warning</h6>
        </div>
    </div>
    <div class="col-md-3">
        <div class="color-swatch">
            <div class="color-swatch--bg bg-danger"></div>
            <h6 class="color-swatch--title">bg-danger</h6>
        </div>
    </div>
    <div class="col-md-3">
        <div class="color-swatch">
            <div class="color-swatch--bg bg-info"></div>
            <h6 class="color-swatch--title">bg-info</h6>
        </div>
    </div>
    <div class="col-md-3">
        <div class="color-swatch">
            <div class="color-swatch--bg bg-light"></div>
            <h6 class="color-swatch--title">bg-light</h6>
        </div>
    </div>
    <div class="col-md-3">
        <div class="color-swatch">
            <div class="color-swatch--bg bg-dark"></div>
            <h6 class="color-swatch--title">bg-dark</h6>
        </div>
    </div>
</div>
