<div class="row">
    <div class="col-xl-4">
        <div class="card mb-5">
            <div class="card-badges">
                <span class="badge badge-pill badge-warning h-auto px-3 py-1">Blog Posts</span>
            </div>
            <a [routerLink]="" class="image-title-overlay" title="...">
                <div class="image-title-overlay--bottom">
                    <h3 class="display-4 font-weight-bold m-0 text-white">
                        Medieval military methods
                    </h3>
                </div>
                <img alt="..." class="card-img-top" src="assets/images/stock-photos/stock-2.jpg"/>
            </a>
            <div class="card-body">
                <div class="d-flex justify-content-between mb-4">
                    <div class="d-flex align-items-center">
                        <div class="avatar-icon-wrapper mr-2">
                            <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar2.jpg"/></div>
                        </div>
                        <div>
                            <a [routerLink]="" class="font-weight-bold" title="...">Shanelle Wynn</a>
                            <span class="text-black-50 d-block">UI Engineer, Apple Inc.</span>
                        </div>
                    </div>
                    <div>
                        <button class="btn py-1 px-2 btn-neutral-secondary font-weight-bold" type="button">
                            <span class="text-success font-size-md">23</span>
                            <span class="d-block opacity-6 text-black font-size-xs">Reviews</span>
                        </button>
                    </div>
                </div>
                <p class="card-text">Costs for the walls depended on the material used. Wood would cost very little and
                    was quick to build, but was weak.</p>
                <p class="card-text">Stone was strong but very expensive and time-consuming to construct</p>
                <div class="d-flex justify-content-between pt-3">
                    <button class="btn btn-sm btn-neutral-first">
                        Learn more
                    </button>
                    <button class="btn btn-sm btn-link btn-link-danger">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card mb-5">
            <div class="card-badges">
                <span class="badge badge-pill badge-warning h-auto px-3 py-1">Blog Posts</span>
            </div>
            <a [routerLink]="" class="image-title-overlay" title="...">
                <div class="image-title-overlay--bottom">
                    <h3 class="display-4 font-weight-bold m-0 text-white">
                        Medieval military methods
                    </h3>
                </div>
                <img alt="..." class="card-img-top" src="assets/images/stock-photos/stock-1.jpg"/>
            </a>
            <div class="card-body">
                <div class="d-flex justify-content-between mb-4">
                    <div class="d-flex align-items-center">
                        <div class="avatar-icon-wrapper mr-2">
                            <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar3.jpg"/></div>
                        </div>
                        <div>
                            <a [routerLink]="" class="font-weight-bold" title="...">Eboni O'Quinn</a>
                            <span class="text-black-50 d-block">Project Manager, Apple Inc.</span>
                        </div>
                    </div>
                    <div>
                        <button class="btn py-1 px-2 btn-neutral-secondary font-weight-bold" type="button">
                            <span class="text-success font-size-md">8</span>
                            <span class="d-block opacity-6 text-black font-size-xs">Reviews</span>
                        </button>
                    </div>
                </div>
                <p class="card-text">To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it?</p>
                <p class="card-text">But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying.</p>
                <div class="d-flex justify-content-between pt-3">
                    <button class="btn btn-sm btn-neutral-first">
                        Learn more
                    </button>
                    <button class="btn btn-sm btn-link btn-link-danger">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card mb-5">
            <div class="card-badges">
                <span class="badge badge-pill badge-warning h-auto px-3 py-1">Blog Posts</span>
            </div>
            <a [routerLink]="" class="image-title-overlay" title="...">
                <div class="image-title-overlay--bottom">
                    <h3 class="display-4 font-weight-bold m-0 text-white">
                        Medieval military methods
                    </h3>
                </div>
                <img alt="..." class="card-img-top" src="assets/images/stock-photos/stock-3.jpg"/>
            </a>
            <div class="card-body">
                <div class="d-flex justify-content-between mb-4">
                    <div class="d-flex align-items-center">
                        <div class="avatar-icon-wrapper mr-2">
                            <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar1.jpg"/></div>
                        </div>
                        <div>
                            <a [routerLink]="" class="font-weight-bold" title="...">Gordon Barnett</a>
                            <span class="text-black-50 d-block">Project Manager, Apple Inc.</span>
                        </div>
                    </div>
                    <div>
                        <button class="btn py-1 px-2 btn-neutral-secondary font-weight-bold" type="button">
                            <span class="text-success font-size-md">87</span>
                            <span class="d-block opacity-6 text-black font-size-xs">Reviews</span>
                        </button>
                    </div>
                </div>
                <p class="card-text">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized.</p>
                <p class="card-text">By the charms of pleasure of the moment, so blinded by desire, that they cannot foresee.</p>
                <div class="d-flex justify-content-between pt-3">
                    <button class="btn btn-sm btn-neutral-first">
                        Learn more
                    </button>
                    <button class="btn btn-sm btn-link btn-link-danger">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
