<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="timeline-list mb-5">
            <div class="timeline-item">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon"></div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">1991</h4>
                    <p>
                        The World Wide Web goes live with its first web page.
                    </p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon"></div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">Java exam day</h4>
                    <p>
                        Bill Clinton's presidential scandal makes it online.
                    </p>
                    <div class="avatar-wrapper-overlap mt-2 mb-1">
                        <div class="avatar-icon-wrapper avatar-icon-sm">
                            <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar1.jpg"/></div>
                        </div>
                        <div class="avatar-icon-wrapper avatar-icon-sm">
                            <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar2.jpg"/></div>
                        </div>
                        <div class="avatar-icon-wrapper avatar-icon-sm">
                            <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar6.jpg"/></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon"></div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">Business investor meeting</h4>
                    <p>
                        Mosaic, the first graphical browser, is introduced to the average consumer.
                    </p>
                    <div class="mt-3">
                        <a [routerLink]=""><img alt="Rounded image" class="img-fluid rounded mr-3 shadow-sm"
                                         src="assets/images/stock-photos/people-1.jpg"
                                         width="70"></a>
                        <a [routerLink]=""><img alt="Rounded image" class="img-fluid rounded shadow-sm"
                                         src="assets/images/stock-photos/people-3.jpg"
                                         width="70"></a>
                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon"></div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">Learning round table gathering</h4>
                    <p>
                        First ever iPod launches.
                    </p>
                    <div class="mt-2">
                        <button class="btn btn-sm btn-primary" type="button">Submit Report</button>
                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon"></div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">2003</h4>
                    <p>
                        MySpace becomes the most popular social network.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="timeline-list timeline-list--danger mb-5">
            <div class="timeline-item">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon"></div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">1991</h4>
                    <p>
                        The World Wide Web goes live with its first web page.
                    </p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon"></div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">Java exam day</h4>
                    <p>
                        Bill Clinton's presidential scandal makes it online.
                    </p>
                    <div class="avatar-wrapper-overlap mt-2 mb-1">
                        <div class="avatar-icon-wrapper avatar-icon-sm">
                            <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar1.jpg"/></div>
                        </div>
                        <div class="avatar-icon-wrapper avatar-icon-sm">
                            <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar2.jpg"/></div>
                        </div>
                        <div class="avatar-icon-wrapper avatar-icon-sm">
                            <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar6.jpg"/></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon"></div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">Business investor meeting</h4>
                    <p>
                        Mosaic, the first graphical browser, is introduced to the average consumer.
                    </p>
                    <div class="mt-3">
                        <a [routerLink]=""><img alt="Rounded image" class="img-fluid rounded mr-3 shadow-sm"
                                         src="assets/images/stock-photos/people-1.jpg"
                                         width="70"></a>
                        <a [routerLink]=""><img alt="Rounded image" class="img-fluid rounded shadow-sm"
                                         src="assets/images/stock-photos/people-3.jpg"
                                         width="70"></a>
                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon"></div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">Learning round table gathering</h4>
                    <p>
                        First ever iPod launches.
                    </p>
                    <div class="mt-2">
                        <button class="btn btn-sm btn-primary" type="button">Submit Report</button>
                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon"></div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">2003</h4>
                    <p>
                        MySpace becomes the most popular social network.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="timeline-list mb-5">
            <div class="timeline-item">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon bg-success"></div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">1991</h4>
                    <p>
                        The World Wide Web goes live with its first web page.
                    </p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon bg-danger"></div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">Java exam day</h4>
                    <p>
                        Bill Clinton's presidential scandal makes it online.
                    </p>
                    <div class="avatar-wrapper-overlap mt-2 mb-1">
                        <div class="avatar-icon-wrapper avatar-icon-sm">
                            <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar1.jpg"/></div>
                        </div>
                        <div class="avatar-icon-wrapper avatar-icon-sm">
                            <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar2.jpg"/></div>
                        </div>
                        <div class="avatar-icon-wrapper avatar-icon-sm">
                            <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar6.jpg"/></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon bg-asteroid"></div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">Business investor meeting</h4>
                    <p>
                        Mosaic, the first graphical browser, is introduced to the average consumer.
                    </p>
                    <div class="mt-3">
                        <a [routerLink]=""><img alt="Rounded image" class="img-fluid rounded mr-3 shadow-sm"
                                         src="assets/images/stock-photos/people-1.jpg"
                                         width="70"></a>
                        <a [routerLink]=""><img alt="Rounded image" class="img-fluid rounded shadow-sm"
                                         src="assets/images/stock-photos/people-3.jpg"
                                         width="70"></a>
                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon bg-arielle-smile"></div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">Learning round table gathering</h4>
                    <p>
                        First ever iPod launches.
                    </p>
                    <div class="mt-2">
                        <button class="btn btn-sm btn-primary" type="button">Submit Report</button>
                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon bg-warning"></div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">2003</h4>
                    <p>
                        MySpace becomes the most popular social network.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
