<p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>

<div class="row mb-3">
    <div class="col-lg-3 col-sm-12">
        <button class="btn btn-gradient btn-gradient-inverse bg-sunny-morning" style="width: 100%;">
            Total Volume:<br>{{ totalVolume }}
        </button>
    </div>
    <div class="col-lg-3 col-sm-12">
        <button class="btn btn-gradient bg-grow-early" style="width: 100%;">
            Total Chiffre d'Affaires:<br>{{ totalCA.toFixed(2) }} €
        </button>
    </div>
    <div class="col-lg-3 col-sm-12">
        <button class="btn btn-gradient bg-love-kiss" style="width: 100%;">
            Total Prix d'Achat:<br>{{ totalPA.toFixed(2) }} €
        </button>
    </div>
    <div class="col-lg-3 col-sm-12">
        <button class="btn btn-gradient bg-night-sky" style="width: 100%;">
            Total Prix Marge:<br>{{ totalMarge.toFixed(2) }} €
        </button>
    </div>
</div>

<p-table [columns]="cols" [value]="tab" [responsive]="true"
        [rows]="pagingOptions.pageSize" [loading]="showLoader" selectionMode="single"
        [scrollable]="false" [style]="{width: '100%'}" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="caption">
        <div class="d-flex flex-md-row flex-sm-column justify-content-md-start justify-content-sm-around">
            <div id="reportrange" class="daterange">
                <i class="pi pi-calendar"></i>&nbsp;
                <span>{{ cb() }}</span>
                <i class="pi pi-caret-down"></i>
            </div>
            <button style="margin: 0 5px;" type="button" class="btn btn-first" (click)="validerFiltre()">Valider Filtre</button>
        </div>
    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns" style="width:auto">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="text-align: center">
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Cliquez pour trier" ariaLabelDesc="Cliquez pour trier dans l'ordre Décroissant" ariaLabelAsc="Cliquez pour trier dans l'ordre Croissant"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData" [pSelectableRowDisabled]="rowData.deleted == 1" [ngStyle]="rowData.deleted == 1 ? {'background-color':'#F32013', 'color':'#FFF'} : {}">
            <td>{{ rowData.nom }}</td>
            <td>{{ rowData.ca.toFixed(2) }} €</td>
            <td>{{ rowData.pa.toFixed(2) }} €</td>
            <td>{{ rowData.pm.toFixed(2) }} €</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
        <tr>
            <td class="bg-sunny-morning text-white">
                Total Volume Partiel:<br>{{ totalVolumePartiel }}
            </td>
            <td class="bg-grow-early text-white">
                Total Chiffre d'Affaires Partiel:<br>{{ totalCAPartiel.toFixed(2) }} €
            </td>
            <td class="bg-love-kiss text-white">
                Total Prix d'Achat Partiel:<br>{{ totalPAPartiel.toFixed(2) }} €
            </td>
            <td class="bg-night-sky text-white">
                Total Prix Marge Partiel:<br>{{ totalMargePartiel.toFixed(2) }} €
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <p-paginator (onPageChange)="onPageChange($event)" [rows]="pagingOptions.pageSize" [totalRecords]="totalServerItems" [rowsPerPageOptions]="pagingOptions.pageSizes"></p-paginator>
    </ng-template>
</p-table>



<p-dialog [header]="dialogHeaderAnnonceurs" [(visible)]="showDialogAnnonceurs"
        [draggable]="false" position="top" [style]="{width: '100%', minHeight:'100%', margin: '0px'}" 
        [modal]="true" [resizable]="false" showEffect="fade" baseZIndex="999">

    <div class="row mb-3">
        <div class="col-lg-3 col-sm-12">
            <button class="btn btn-gradient btn-gradient-inverse bg-sunny-morning" style="width: 100%;">
                Total Volume:<br>{{ totalVolumeAnnonceurs }}
            </button>
        </div>
        <div class="col-lg-3 col-sm-12">
            <button class="btn btn-gradient bg-grow-early" style="width: 100%;">
                Total Chiffre d'Affaires:<br>{{ totalCAAnnonceurs.toFixed(2) }} €
            </button>
        </div>
        <div class="col-lg-3 col-sm-12">
            <button class="btn btn-gradient bg-love-kiss" style="width: 100%;">
                Total Prix d'Achat:<br>{{ totalPAAnnonceurs.toFixed(2) }} €
            </button>
        </div>
        <div class="col-lg-3 col-sm-12">
            <button class="btn btn-gradient bg-night-sky" style="width: 100%;">
                Total Prix Marge:<br>{{ totalMargeAnnonceurs.toFixed(2) }} €
            </button>
        </div>
    </div>
    <p-table [columns]="cols" [value]="tabAnnonceurs" [responsive]="true"
            [rows]="pagingOptionsAnnonceurs.pageSize" [loading]="showLoaderAnnonceurs"
            [scrollable]="false" [style]="{width: '100%'}" selectionMode="single"
            (onRowSelect)="onRowSelectAnnonceurs($event)">
        <ng-template pTemplate="caption">
            <div class="d-flex flex-md-row flex-sm-column justify-content-md-center justify-content-sm-around">
                <!-- <div id="reportrangeAnnonceurs" class="daterange">
                    <i class="pi pi-calendar"></i>&nbsp;
                    <span>{{ cbAnnonceurs() }}</span>
                    <i class="pi pi-caret-down"></i>
                </div>
                <button style="margin: 0 5px;" type="button" class="btn btn-first" (click)="validerFiltreAnnonceurs()">Valider Filtre</button> -->
                Filtre: {{ filterMode ? cb() : 'Aucun' }}
            </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns" style="width:auto">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="text-align: center">
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Cliquez pour trier" ariaLabelDesc="Cliquez pour trier dans l'ordre Décroissant" ariaLabelAsc="Cliquez pour trier dans l'ordre Croissant"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData" [pSelectableRowDisabled]="rowData.deleted == 1" [ngStyle]="rowData.deleted == 1 ? {'background-color':'#F32013', 'color':'#FFF'} : {}">
                <td>{{ rowData.nom }}</td>
                <td>{{ rowData.ca.toFixed(2) }} €</td>
                <td>{{ rowData.pa.toFixed(2) }} €</td>
                <td>{{ rowData.pm.toFixed(2) }} €</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td class="bg-sunny-morning text-white">
                    Total Volume Partiel:<br>{{ totalVolumePartielAnnonceurs }}
                </td>
                <td class="bg-grow-early text-white">
                    Total Chiffre d'Affaires Partiel:<br>{{ totalCAPartielAnnonceurs.toFixed(2) }} €
                </td>
                <td class="bg-love-kiss text-white">
                    Total Prix d'Achat Partiel:<br>{{ totalPAPartielAnnonceurs.toFixed(2) }} €
                </td>
                <td class="bg-night-sky text-white">
                    Total Prix Marge Partiel:<br>{{ totalMargePartielAnnonceurs.toFixed(2) }} €
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <p-paginator (onPageChange)="onPageChangeAnnonceurs($event)" [rows]="pagingOptionsAnnonceurs.pageSize" [totalRecords]="totalServerItemsAnnonceurs" [rowsPerPageOptions]="pagingOptionsAnnonceurs.pageSizes"></p-paginator>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <span style="text-align: center; margin: 3px;">Aucune donnée à afficher !</span>
        </ng-template>
    </p-table>

</p-dialog>

<p-dialog [header]="dialogHeaderCampagnes" [(visible)]="showDialogCampagnes"
        [draggable]="false" position="top" [style]="{width: '100%', minHeight:'100%', margin: '0px'}" 
        [modal]="true" [resizable]="false" showEffect="fade" baseZIndex="999">

    <div class="row mb-3">
        <div class="col-lg-3 col-sm-12">
            <button class="btn btn-gradient btn-gradient-inverse bg-sunny-morning" style="width: 100%;">
                Total Volume:<br>{{ totalVolumeCampagnes }}
            </button>
        </div>
        <div class="col-lg-3 col-sm-12">
            <button class="btn btn-gradient bg-grow-early" style="width: 100%;">
                Total Chiffre d'Affaires:<br>{{ totalCACampagnes.toFixed(2) }} €
            </button>
        </div>
        <div class="col-lg-3 col-sm-12">
            <button class="btn btn-gradient bg-love-kiss" style="width: 100%;">
                Total Prix d'Achat:<br>{{ totalPACampagnes.toFixed(2) }} €
            </button>
        </div>
        <div class="col-lg-3 col-sm-12">
            <button class="btn btn-gradient bg-night-sky" style="width: 100%;">
                Total Prix Marge:<br>{{ totalMargeCampagnes.toFixed(2) }} €
            </button>
        </div>
    </div>
    <p-table [columns]="cols" [value]="tabCampagnes" [responsive]="true"
            [rows]="pagingOptionsCampagnes.pageSize" [loading]="showLoaderCampagnes"
            [scrollable]="false" [style]="{width: '100%'}" selectionMode="single"
            (onRowSelect)="onRowSelectCampagnes($event)">
        <ng-template pTemplate="caption">
            <div class="d-flex flex-md-row flex-sm-column justify-content-md-center justify-content-sm-around">
                <!-- <div id="reportrangeCampagnes" class="daterange">
                    <i class="pi pi-calendar"></i>&nbsp;
                    <span>{{ cbCampagnes() }}</span>
                    <i class="pi pi-caret-down"></i>
                </div>
                <button style="margin: 0 5px;" type="button" class="btn btn-first" (click)="validerFiltreCampagnes()">Valider Filtre</button> -->
                Filtre: {{ filterMode ? cb() : 'Aucun' }}
            </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns" style="width:auto">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="text-align: center">
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Cliquez pour trier" ariaLabelDesc="Cliquez pour trier dans l'ordre Décroissant" ariaLabelAsc="Cliquez pour trier dans l'ordre Croissant"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData" [pSelectableRowDisabled]="rowData.deleted == 1" [ngStyle]="rowData.deleted == 1 ? {'background-color':'#F32013', 'color':'#FFF'} : {}">
                <td>{{ rowData.nom }}</td>
                <td>{{ rowData.ca.toFixed(2) }} €</td>
                <td>{{ rowData.pa.toFixed(2) }} €</td>
                <td>{{ rowData.pm.toFixed(2) }} €</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td class="bg-sunny-morning text-white">
                    Total Volume Partiel:<br>{{ totalVolumePartielCampagnes }}
                </td>
                <td class="bg-grow-early text-white">
                    Total Chiffre d'Affaires Partiel:<br>{{ totalCAPartielCampagnes.toFixed(2) }} €
                </td>
                <td class="bg-love-kiss text-white">
                    Total Prix d'Achat Partiel:<br>{{ totalPAPartielCampagnes.toFixed(2) }} €
                </td>
                <td class="bg-night-sky text-white">
                    Total Prix Marge Partiel:<br>{{ totalMargePartielCampagnes.toFixed(2) }} €
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <p-paginator (onPageChange)="onPageChangeCampagnes($event)" [rows]="pagingOptionsCampagnes.pageSize" [totalRecords]="totalServerItemsCampagnes" [rowsPerPageOptions]="pagingOptionsCampagnes.pageSizes"></p-paginator>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <span style="text-align: center; margin: 3px;">Aucune donnée à afficher !</span>
        </ng-template>
    </p-table>

</p-dialog>

<p-dialog [header]="dialogHeaderRouteurs" [(visible)]="showDialogRouteurs"
        [draggable]="false" position="top" [style]="{width: '100%', minHeight:'100%', margin: '0px'}" 
        [modal]="true" [resizable]="false" showEffect="fade" baseZIndex="999">

    <div class="row mb-3">
        <div class="col-lg-3 col-sm-12">
            <button class="btn btn-gradient btn-gradient-inverse bg-sunny-morning" style="width: 100%;">
                Total Volume:<br>{{ totalVolumeRouteurs }}
            </button>
        </div>
        <div class="col-lg-3 col-sm-12">
            <button class="btn btn-gradient bg-grow-early" style="width: 100%;">
                Total Chiffre d'Affaires:<br>{{ totalCARouteurs.toFixed(2) }} €
            </button>
        </div>
        <div class="col-lg-3 col-sm-12">
            <button class="btn btn-gradient bg-love-kiss" style="width: 100%;">
                Total Prix d'Achat:<br>{{ totalPARouteurs.toFixed(2) }} €
            </button>
        </div>
        <div class="col-lg-3 col-sm-12">
            <button class="btn btn-gradient bg-night-sky" style="width: 100%;">
                Total Prix Marge:<br>{{ totalMargeRouteurs.toFixed(2) }} €
            </button>
        </div>
    </div>
    <p-table [columns]="colsRouteurs" [value]="tabRouteurs" [responsive]="true"
        [rows]="pagingOptionsRouteurs.pageSize" [loading]="showLoaderRouteurs"
        [scrollable]="false" [style]="{width: '100%'}">
        <ng-template pTemplate="caption">
            <div class="d-flex flex-md-row flex-sm-column justify-content-md-center justify-content-sm-around">
                <!-- <div id="reportrangeRouteurs" class="daterange">
                    <i class="pi pi-calendar"></i>&nbsp;
                    <span>{{ cbRouteurs() }}</span>
                    <i class="pi pi-caret-down"></i>
                </div>
                <button style="margin: 0 5px;" type="button" class="btn btn-first" (click)="validerFiltreRouteurs()">Valider Filtre</button> -->
                Filtre: {{ filterMode ? cb() : 'Aucun' }}
            </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns" style="width:auto">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="text-align: center">
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Cliquez pour trier" ariaLabelDesc="Cliquez pour trier dans l'ordre Décroissant" ariaLabelAsc="Cliquez pour trier dans l'ordre Croissant"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData" [pSelectableRowDisabled]="rowData.deleted == 1" [ngStyle]="rowData.deleted == 1 ? {'background-color':'#F32013', 'color':'#FFF'} : {}">
                <td>{{ rowData.nom }}</td>
                <td>{{ rowData.prix }} €</td>
                <td>{{ rowData.volume }}</td>
                <td>{{ rowData.ca.toFixed(2) }} €</td>
                <td>{{ rowData.pa.toFixed(2) }} €</td>
                <td>{{ rowData.pm.toFixed(2) }} €</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td colspan="1" class="bg-sunny-morning text-white">
                    Total Volume Partiel:<br>{{ totalVolumePartielRouteurs }}
                </td>
                <td colspan="2" class="bg-grow-early text-white">
                    Total Chiffre d'Affaires Partiel:<br>{{ totalCAPartielRouteurs.toFixed(2) }} €
                </td>
                <td colspan="2" class="bg-love-kiss text-white">
                    Total Prix d'Achat Partiel:<br>{{ totalPAPartielRouteurs.toFixed(2) }} €
                </td>
                <td colspan="1" class="bg-night-sky text-white">
                    Total Prix Marge Partiel:<br>{{ totalMargePartielRouteurs.toFixed(2) }} €
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <p-paginator (onPageChange)="onPageChangeRouteurs($event)" [rows]="pagingOptionsRouteurs.pageSize" [totalRecords]="totalServerItemsRouteurs" [rowsPerPageOptions]="pagingOptionsRouteurs.pageSizes"></p-paginator>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <span style="text-align: center; margin: 3px;">Aucune donnée à afficher !</span>
        </ng-template>
    </p-table>

</p-dialog>