<div class="py-5 bg-secondary">
    <div class="text-center my-5">
        <h1 class="display-4 text-black mb-3 font-weight-bold">
            Latest blog posts
        </h1>
        <p class="font-size-lg text-black-50">
            Indignation and dislike men who are so beguiled and demoralized.
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-5">
                    <div class="card-img-wrapper">
                        <div class="card-badges">
                            <span class="badge badge-pill badge-success mr-2">Success</span>
                            <span class="badge badge-pill badge-neutral-info text-info">Info</span>
                        </div>
                        <img src="assets/images/stock-photos/stock-3.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body card-body-avatar">
                        <div class="avatar-icon-wrapper avatar-icon-xl">
                            <div class="avatar-icon border-2 border-white rounded"><img src="assets/images/avatars/avatar2.jpg" alt="..."></div>
                        </div>
                        <h5 class="display-4 my-4"><a [routerLink]="">These cases are perfectly simple and easy to distinguish.</a></h5>
                        <p class="card-text mb-5">Obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever.</p>

                        <button class="btn btn-outline-first btn-block" type="button">
                            <span class="btn-wrapper--label">Read more</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-5">
                    <div class="card-img-wrapper">
                        <div class="card-badges">
                            <span class="badge badge-pill badge-first mr-2">Latest</span>
                            <span class="badge badge-pill badge-danger">New</span>
                        </div>
                        <img src="assets/images/stock-photos/stock-2.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body card-body-avatar">
                        <div class="avatar-icon-wrapper avatar-icon-xl">
                            <div class="avatar-icon border-2 border-white rounded"><img src="assets/images/avatars/avatar2.jpg" alt="..."></div>
                        </div>
                        <h5 class="display-4 my-4"><a [routerLink]="">Occasionally circumstances occur in which toil and pain can procure</a></h5>
                        <p class="card-text mb-5">Dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame.</p>

                        <button class="btn btn-outline-first btn-block" type="button">
                            <span class="btn-wrapper--label">Read more</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

