<div class="feature-section">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="feature-box text-center mb-5">
                    <div class="bg-primary text-white font-size-xl mb-2 mx-auto d-50 rounded">
                        <fa-icon [icon]="['fas', 'bomb']"></fa-icon>
                    </div>
                    <h3 class="font-size-lg font-weight-bold my-3">Widgets</h3>
                    <p class="text-black-50 mb-3">
                        It takes a trivial example, which of us ever undertakes.
                    </p>
                    <a [routerLink]="" class="btn btn-link btn-link-primary pl-0 pr-0" title="Learn more"><span>Learn more</span></a>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="feature-box text-center mb-5">
                    <div class="bg-primary text-white font-size-xl mx-auto d-50 rounded mb-1">
                        <fa-icon [icon]="['fas', 'network-wired']"></fa-icon>
                    </div>
                    <h3 class="font-size-lg font-weight-bold my-3">Components</h3>
                    <p class="text-black-50 mb-2">
                        Pleasure that has no annoying consequences of the moment.
                    </p>
                    <a [routerLink]="" class="btn btn-link btn-link-primary pl-0 pr-0" title="Learn more"><span>Learn more</span></a>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="feature-box text-center mb-5">
                    <div class="bg-primary text-white font-size-xl mb-2 mx-auto d-50 rounded mb-1">
                        <fa-icon [icon]="['fas', 'birthday-cake']"></fa-icon>
                    </div>
                    <h3 class="font-size-lg font-weight-bold my-3">Blocks</h3>
                    <p class="text-black-50 mb-2">
                        So blinded by desire, that they cannot foresee.
                    </p>
                    <a [routerLink]="" class="btn btn-link btn-link-primary pl-0 pr-0" title="Learn more"><span>Learn more</span></a>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="feature-box text-center mb-5">
                    <div class="bg-primary text-white font-size-xl mb-2 mx-auto d-50 rounded mb-1">
                        <fa-icon [icon]="['fas', 'bus-alt']"></fa-icon>
                    </div>
                    <h3 class="font-size-lg font-weight-bold my-3">Pages</h3>
                    <p class="text-black-50 mb-2">
                        But I must explain to you how all this mistaken.
                    </p>
                    <a [routerLink]="" class="btn btn-link btn-link-primary pl-0 pr-0" title="Learn more"><span>Learn more</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
