<div class="feature-box py-5">
    <div class="container py-5">
        <div class="col-xl-7 col-md-9 px-0">
            <h1 class="display-3 mb-3 font-weight-bold">
                Wonderful serenity has possession
            </h1>
            <p class="font-size-lg text-black-50">
                A free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-4">
                <div class="py-2 py-xl-5">
                    <div class="d-block pl-0 pl-xl-3 mt-4">
                        <div class="feature-box mb-5 pr-4">
                            <h3 class="font-size-lg font-weight-bold my-3">
                                <a [routerLink]="" title="">
                                    Components
                                </a>
                            </h3>
                            <p class="text-black-50 mb-3">
                                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.
                            </p>
                        </div>
                        <div class="feature-box mb-5 pr-4">
                            <h3 class="font-size-lg font-weight-bold my-3">
                                <a [routerLink]="" title="">
                                    Widgets
                                </a>
                            </h3>
                            <p class="text-black-50 mb-3">
                                Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself.
                            </p>
                        </div>
                        <div class="feature-box pr-4">
                            <h3 class="font-size-lg font-weight-bold my-3">
                                <a [routerLink]="" title="">
                                    Elements
                                </a>
                            </h3>
                            <p class="text-black-50 mb-3">
                                No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex col-xl-8 pt-5 pt-xl-0 align-items-start align-items-xl-center">
                <img src="assets/images/illustrations/experience_design.svg" class="img-fluid" alt="...">
            </div>
        </div>
    </div>
</div>
