<div class="row">
    <div class="col-xl-6">
        <div class="card card-box mb-5">
            <div class="list-group list-group-flush">
                <div class="list-group-item">
                    <div class="d-flex align-items-center mb-3">
                        <div class="avatar-icon-wrapper rounded-circle mr-3">
                            <div class="d-block p-0 avatar-icon-wrapper m-0 d-70">
                                <div class="rounded-circle overflow-hidden">
                                    <img alt="..." class="img-fluid" src="assets/images/avatars/avatar6.jpg"/>
                                </div>
                            </div>
                        </div>
                        <div class="w-100">
                            <a [routerLink]="" class="font-weight-bold font-size-lg" title="...">Kate Winchester</a>
                            <span class="text-black-50 d-block">Freelance Designer, Mutual Inc.</span>
                            <div class="d-flex align-items-center pt-1">
                                <progressbar [animate]="true" [value]="56"
                                             class="progress-bar-rounded progress-xs progress-animated-alt"
                                             type="danger"></progressbar>
                                <div class="font-weight-bold text-black-50 pl-2">56%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="d-flex align-items-center mb-3">
                        <div class="avatar-icon-wrapper rounded-circle mr-3" tooltip="Online">
                            <span class="badge badge-position badge-position--bottom-center badge-circle badge-success">Online</span>
                            <div class="rounded-circle overflow-hidden d-70 bg-neutral-danger font-size-lg text-center font-weight-bold text-danger d-flex justify-content-center flex-column">
                                <span>KA</span>
                            </div>
                        </div>
                        <div class="w-100">
                            <a [routerLink]="" class="font-weight-bold font-size-lg" title="...">Kris Alexander</a>
                            <span class="text-black-50 d-block">Project Manager, Apple Inc.</span>
                            <div class="d-flex align-items-center pt-1">
                                <progressbar [animate]="true" [value]="42"
                                             class="progress-bar-rounded progress-xs"
                                             type="warning"></progressbar>
                                <div class="font-weight-bold text-black-50 pl-2">42%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="d-flex align-items-center mb-3">
                        <div class="avatar-icon-wrapper rounded-circle mr-3">
                            <div class="d-block p-0 avatar-icon-wrapper m-0 d-70">
                                <div class="rounded-circle overflow-hidden">
                                    <img alt="..." class="img-fluid" src="assets/images/avatars/avatar2.jpg"/>
                                </div>
                            </div>
                        </div>
                        <div class="w-100">
                            <a [routerLink]="" class="font-weight-bold font-size-lg" title="...">Matteo Mcphee</a>
                            <span class="text-black-50 d-block">Frontend Developer, Stripe Inc.</span>
                            <div class="d-flex align-items-center pt-1">
                                <progressbar [animate]="true" [value]="31"
                                             class="progress-bar-rounded progress-xs"
                                             type="first"></progressbar>
                                <div class="font-weight-bold text-black-50 pl-2">31%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card card-box mb-5">
            <ul class="list-group list-group-flush">
                <li class="list-group-item py-3">
                    <div class="row no-gutters">
                        <div class="col-xl-6 d-flex align-items-center col-md-12">
                            <div class="d-flex align-items-center">
                                <div class="avatar-icon-wrapper mr-2">
                                    <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar1.jpg"/></div>
                                </div>
                                <div>
                                    <a [routerLink]="" class="font-weight-bold text-black" title="...">
                                        Shanelle Wynn
                                    </a>
                                    <span class="text-black-50 d-block">UI Engineer, Apple Inc.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 pt-1 pt-xl-0 d-flex align-items-center col-md-12">
                            <div class="align-box-row flex-grow-1">
                                <div class="d-flex flex-column flex-grow-1">
                                    <div class="d-flex justify-content-between text-dark">

                                        <div class="ml-auto">
                                            <div [countUp]="583" class="font-weight-bold"></div>
                                        </div>
                                    </div>
                                    <progressbar [animate]="true" [value]="52"
                                                 class="progress-bar-rounded progress-sm"
                                                 type="primary">
                                    </progressbar>
                                </div>
                                <button class="btn btn-sm btn-neutral-primary ml-4" type="button">View</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item py-3">
                    <div class="row no-gutters">
                        <div class="col-xl-6 d-flex align-items-center col-md-12">
                            <div class="d-flex align-items-center">
                                <div class="avatar-icon-wrapper mr-2">
                                    <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar2.jpg"/></div>
                                </div>
                                <div>
                                    <a [routerLink]="" class="font-weight-bold text-black" title="...">
                                        Akeem Griffith
                                    </a>
                                    <span class="text-black-50 d-block">Manager, Google Inc.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 pt-1 pt-xl-0 d-flex align-items-center col-md-12">
                            <div class="align-box-row flex-grow-1">
                                <div class="d-flex flex-column flex-grow-1">
                                    <div class="d-flex justify-content-between text-dark">

                                        <div class="ml-auto">
                                            <div [countUp]="340" class="font-weight-bold"></div>
                                        </div>
                                    </div>
                                    <progressbar [animate]="true" [value]="38"
                                                 class="progress-bar-rounded progress-sm"
                                                 type="danger">
                                    </progressbar>
                                </div>
                                <button class="btn btn-sm btn-neutral-danger ml-4" type="button">View</button>
                            </div>
                        </div>
                    </div>
                </li>
              <li class="list-group-item py-3">
                <div class="row no-gutters">
                  <div class="col-xl-6 d-flex align-items-center col-md-12">
                    <div class="d-flex align-items-center">
                      <div class="avatar-icon-wrapper mr-2">
                        <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar3.jpg"/></div>
                      </div>
                      <div>
                        <a [routerLink]="" class="font-weight-bold text-black" title="...">
                          Abigayle Hicks
                        </a>
                        <span class="text-black-50 d-block">Project Manager, Spotify</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 pt-1 pt-xl-0 d-flex align-items-center col-md-12">
                    <div class="align-box-row flex-grow-1">
                      <div class="d-flex flex-column flex-grow-1">
                        <div class="d-flex justify-content-between text-dark">

                          <div class="ml-auto">
                            <div [countUp]="473" class="font-weight-bold"></div>
                          </div>
                        </div>
                        <progressbar [animate]="true" [value]="34"
                                     class="progress-bar-rounded progress-sm"
                                     type="warning">
                        </progressbar>
                      </div>
                      <button class="btn btn-sm btn-neutral-warning ml-4" type="button">View</button>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item py-3">
                <div class="row no-gutters">
                  <div class="col-xl-6 d-flex align-items-center col-md-12">
                    <div class="d-flex align-items-center">
                      <div class="avatar-icon-wrapper mr-2">
                        <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar4.jpg"/></div>
                      </div>
                      <div>
                        <a [routerLink]="" class="font-weight-bold text-black" title="...">
                          Freya Nieves
                        </a>
                        <span class="text-black-50 d-block">Superviser, Walmart</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 pt-1 pt-xl-0 d-flex align-items-center col-md-12">
                    <div class="align-box-row flex-grow-1">
                      <div class="d-flex flex-column flex-grow-1">
                        <div class="d-flex justify-content-between text-dark">

                          <div class="ml-auto">
                            <div [countUp]="239" class="font-weight-bold"></div>
                          </div>
                        </div>
                        <progressbar [animate]="true" [value]="51"
                                     class="progress-bar-rounded progress-sm"
                                     type="success">
                        </progressbar>
                      </div>
                      <button class="btn btn-sm btn-neutral-success ml-4" type="button">View</button>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item py-3">
                <div class="row no-gutters">
                  <div class="col-xl-6 d-flex align-items-center col-md-12">
                    <div class="d-flex align-items-center">
                      <div class="avatar-icon-wrapper mr-2">
                        <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar5.jpg"/></div>
                      </div>
                      <div>
                        <a [routerLink]="" class="font-weight-bold text-black" title="...">
                          Elina Gould
                        </a>
                        <span class="text-black-50 d-block">Java Developer, Netflix</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 pt-1 pt-xl-0 d-flex align-items-center col-md-12">
                    <div class="align-box-row flex-grow-1">
                      <div class="d-flex flex-column flex-grow-1">
                        <div class="d-flex justify-content-between text-dark">

                          <div class="ml-auto">
                            <div [countUp]="345" class="font-weight-bold"></div>
                          </div>
                        </div>
                        <progressbar [animate]="true" [value]="63"
                                     class="progress-bar-rounded progress-sm"
                                     type="first">
                        </progressbar>
                      </div>
                      <button class="btn btn-sm btn-neutral-first ml-4" type="button">View</button>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
        </div>
    </div>
</div>
