<div class="py-5 bg-night-sky">
    <div class="text-center my-5">
        <h1 class="display-4 text-white mb-3 font-weight-bold">
            Latest blog posts
        </h1>
        <p class="font-size-lg text-white-50">
            Indignation and dislike men who are so beguiled and demoralized.
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="card card-box mb-5">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item pt-4 pb-4">
                            <div class="align-box-column">
                                <div>
                                    <div class="card card-transparent">
                                        <a [routerLink]="" class="card-img-wrapper rounded">
                                            <div class="img-wrapper-overlay">
                                                <div class="overlay-btn-wrapper">
                                                    <button class="btn btn-pill btn-sm btn-outline-secondary border-0 shadow-none pl-2 pr-2 mx-auto d-flex align-items-center" type="button">
                                                        <fa-icon [icon]="['fas', 'play-circle']" class="font-size-lg"></fa-icon>
                                                    </button>
                                                </div>
                                            </div>
                                            <img src="assets/images/stock-photos/stock-2.jpg" class="card-img-top rounded img-fluid" alt="...">
                                        </a>
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <div class="mb-1">
                                        <a [routerLink]="" class="font-size-lg">These cases are perfectly simple and easy to distinguish.</a>
                                    </div>
                                    <div class="my-3">
                                        <a [routerLink]="" class="badge badge-neutral-success text-success">Blog</a>
                                        <a [routerLink]="" class="badge badge-neutral-primary text-primary mx-2">Articles</a>
                                        <a [routerLink]="" class="badge badge-neutral-warning text-warning">Tutorials</a>
                                    </div>
                                    <p class="pt-3 pb-2 text-black-50">
                                        Obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain.
                                    </p>
                                    <p class="pb-3">
                                        Procure him some great pleasure to take a trivial example, which of us ever.
                                    </p>
                                    <div>
                                        <a [routerLink]="" class="btn btn-pill btn-sm btn-outline-first">
                                            <span>
                                                Read more
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="card card-box mb-5">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item pt-4 pb-4">
                            <div class="d-flex flex-column flex-sm-row align-items-start">
                                <div>
                                    <div class="card card-transparent mb-3 mb-sm-0">
                                        <a [routerLink]="" class="card-img-wrapper rounded">
                                            <div class="img-wrapper-overlay">
                                                <div class="overlay-btn-wrapper">
                                                    <button class="btn btn-pill btn-sm btn-outline-secondary border-0 shadow-none pl-2 pr-2 mx-auto d-flex align-items-center" type="button">
                                                        <fa-icon [icon]="['fas', 'play-circle']" class="font-size-lg"></fa-icon>
                                                    </button>
                                                </div>
                                            </div>
                                            <img src="assets/images/stock-photos/stock-1.jpg" class="card-img-top rounded w-100" alt="...">
                                        </a>
                                    </div>
                                </div>
                                <div class="pl-0 pl-sm-4">
                                    <div class="mb-1">
                                        <a [routerLink]="" class="font-size-lg">These cases are perfectly simple and easy to distinguish.</a>
                                    </div>
                                    <div>
                                        <a [routerLink]="" class="badge badge-neutral-success text-success">Blog</a>
                                    </div>
                                    <p class="mb-0 mt-2 text-black-50">
                                        Who formed us in his own image, and the breath some great pleasure to take a trivial example, which of us ever.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item bg-secondary text-center p-3">
                            <button class="btn btn-sm btn-facebook" type="button" tooltip="Facebook">
                            <span class="btn-wrapper--icon">
                                <fa-icon [icon]="['fab', 'facebook']" class="font-size-lg"></fa-icon>
                            </span>
                            </button>
                            <button class="btn btn-sm btn-dribbble mr-2 ml-2" type="button" tooltip="Dribbble">
                            <span class="btn-wrapper--icon">
                                <fa-icon [icon]="['fab', 'dribbble']" class="font-size-lg"></fa-icon>
                            </span>
                            </button>
                            <button class="btn btn-sm btn-twitter" type="button" tooltip="Twitter">
                            <span class="btn-wrapper--icon">
                                <fa-icon [icon]="['fab', 'twitter']" class="font-size-lg"></fa-icon>
                            </span>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="card card-box mb-5">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item pt-4 pb-4">
                            <div class="d-flex flex-column flex-sm-row align-items-start">
                                <div>
                                    <div class="card card-transparent mb-3 mb-sm-0">
                                        <a [routerLink]="" class="card-img-wrapper rounded">
                                            <div class="img-wrapper-overlay">
                                                <div class="overlay-btn-wrapper">
                                                    <button class="btn btn-pill btn-sm btn-outline-secondary border-0 shadow-none pl-2 pr-2 mx-auto d-flex align-items-center" type="button">
                                                        <fa-icon [icon]="['fas', 'play-circle']" class="font-size-lg"></fa-icon>
                                                    </button>
                                                </div>
                                            </div>
                                            <img src="assets/images/stock-photos/stock-3.jpg" class="card-img-top rounded w-100" alt="...">
                                        </a>
                                    </div>
                                </div>
                                <div class="pl-0 pl-sm-4">
                                    <div class="mb-1">
                                        <a [routerLink]="" class="display-4">Occasionally circumstances occur in which toil and pain can procure</a>
                                    </div>
                                    <div class="my-3">
                                        <a [routerLink]="" class="badge badge-success text-white">Blog</a>
                                        <a [routerLink]="" class="badge badge-primary text-white mx-2">Articles</a>
                                        <a [routerLink]="" class="badge badge-warning text-white">Tutorials</a>
                                    </div>
                                    <p class="mb-0 mt-2 text-black-50">
                                        Dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain...
                                    </p>
                                    <a [routerLink]="" class="btn btn-link px-0 btn-link-first">
                                        <span>
                                            Read more
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
