<div class="feature-section bg-asteroid">
    <div class="container pt-5">
        <div class="row py-5">
            <div class="col-lg-4">
                <div class="feature-box px-3 text-white mb-5">
                    <div class="bg-strong-bliss text-center text-white font-size-xl d-50 rounded-circle">
                        <fa-icon [icon]="['fas', 'birthday-cake']"></fa-icon>
                    </div>
                    <h3 class="font-size-lg font-weight-bold mt-4">Blocks</h3>
                    <p class="text-white-50 mt-2">
                        Who are so beguiled and demoralized by the charms of pleasure.
                    </p>
                    <button class="btn btn-pill btn-sm btn-outline-secondary shadow-none mt-3" type="button">Continue reading</button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-box px-3 text-white mb-5">
                    <div class="bg-plum-plate text-center text-white font-size-xl d-50 rounded-circle">
                        <fa-icon [icon]="['fas', 'bus-alt']"></fa-icon>
                    </div>
                    <h3 class="font-size-lg font-weight-bold mt-4">Pages</h3>
                    <p class="text-white-50 mt-2">
                        Which toil and pain can procure him some great pleasure.
                    </p>
                    <button class="btn btn-pill btn-sm btn-outline-secondary shadow-none mt-3" type="button">Continue reading</button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-box px-3 text-white mb-5">
                    <div class="bg-arielle-smile text-center text-white font-size-xl d-50 rounded-circle">
                        <fa-icon [icon]="['fas', 'eye-dropper']"></fa-icon>
                    </div>
                    <h3 class="font-size-lg font-weight-bold mt-4">Widgets</h3>
                    <p class="text-white-50 mt-2">
                        To take a trivial example, which of us avoids pleasure, some great pleasure.
                    </p>
                    <button class="btn btn-pill btn-sm btn-outline-secondary shadow-none mt-3" type="button">Continue reading</button>
                </div>
            </div>
        </div>
    </div>
</div>
