<div class="d-flex flex-row flex-wrap justify-content-center">
    <div class="m-2">
        <ui-switch checked class="toggle-switch-square toggle-switch-primary"></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch checked class="toggle-switch-square toggle-switch-danger"></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch checked class="toggle-switch-square toggle-switch-warning"></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch checked class="toggle-switch-square toggle-switch-success"></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch checked class="toggle-switch-square toggle-switch-info"></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch checked class="toggle-switch-square toggle-switch-second"></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch checked class="toggle-switch-square toggle-switch-first"></ui-switch>
    </div>
</div>

<div class="divider my-4"></div>

<div class="d-flex flex-row flex-wrap justify-content-center">
    <div class="m-2">
        <ui-switch checked class="toggle-switch-square toggle-switch-line toggle-switch-primary"></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch checked class="toggle-switch-square toggle-switch-line toggle-switch-danger"></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch checked class="toggle-switch-square toggle-switch-line toggle-switch-warning"></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch checked class="toggle-switch-square toggle-switch-line toggle-switch-success"></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch checked class="toggle-switch-square toggle-switch-line toggle-switch-info"></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch checked class="toggle-switch-square toggle-switch-line toggle-switch-second"></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch checked class="toggle-switch-square toggle-switch-line toggle-switch-first"></ui-switch>
    </div>
</div>

<div class="divider my-4"></div>

<div class="d-flex flex-row flex-wrap justify-content-center">
    <div class="m-2">
        <ui-switch class="toggle-switch-square toggle-switch-line toggle-switch-primary" size="small" checked></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch class="toggle-switch-square toggle-switch-line toggle-switch-danger" checked></ui-switch>
    </div>
    <div class="m-2">
        <ui-switch class="toggle-switch-square toggle-switch-line toggle-switch-warning" size="large" checked></ui-switch>
    </div>
</div>
