<div class="hero-wrapper bg-composed-wrapper bg-plum-plate">
    <div class="flex-grow-1 w-100 d-flex align-items-center pb-5">
        <div class="bg-composed-wrapper--image" style="background-image: url('assets/images/hero-bg/hero-1.jpg');"></div>
        <div class="bg-composed-wrapper--bg bg-second opacity-5"></div>
        <div class="bg-composed-wrapper--content">
            <div class="container py-5">
                <div class="row">
                    <div class="col-xl-7">
                        <div class="d-flex align-items-center">
                            <span class="badge badge-pill badge-second px-4 h-auto py-1">New release</span>
                            <span class="text-white-50 pl-3" placement="right" containerClass="tooltip-first" tooltip="More info placeholder!">
                                <fa-icon [icon]="['far', 'question-circle']"></fa-icon>
                            </span>
                        </div>
                        <div class="text-white mt-3">
                            <h1 class="display-3 mb-3 font-weight-bold">
                                Pleasure rationally encounter consequences
                            </h1>
                            <p class="font-size-lg text-white-50">
                                On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized.
                            </p>
                            <div class="divider border-2 my-5 border-light opacity-2 rounded-circle w-25"></div>
                            <div>
                                <a [routerLink]="" class="btn btn-lg btn-warning">
                                    <span class="btn-wrapper--label">
                                        Browse gallery
                                    </span>
                                    <span class="btn-wrapper--icon">
                                        <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
                                    </span>
                                </a>
                                <a [routerLink]="" class="btn btn-link btn-link-light pl-1 pr-1 ml-3">
                                    <span>
                                        Documentation
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 d-none d-xl-flex align-items-center">
                        <div class="card card-box demo-img-wrapper demo-img-wrapper-discrete w-50 mx-auto h-50 shadow-none">
                            <fa-icon [icon]="['fas', 'camera-retro']"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-indicator animated font-size-xxl text-white opacity-10">
        <fa-icon [icon]="['fas', 'arrow-down']"></fa-icon>
    </div>
</div>
