<span class="badge m-1 badge-primary">Primary</span>
<span class="badge m-1 badge-second">Secondary</span>
<span class="badge m-1 badge-success">Success</span>
<span class="badge m-1 badge-danger">Danger</span>
<span class="badge m-1 badge-warning">Warning</span>
<span class="badge m-1 badge-info">Info</span>
<span class="badge m-1 badge-dark">Dark</span>

<div class="divider my-4"></div>

<span class="badge m-1 badge-neutral-primary text-primary">Primary</span>
<span class="badge m-1 badge-neutral-second text-second">Secondary</span>
<span class="badge m-1 badge-neutral-success text-success">Success</span>
<span class="badge m-1 badge-neutral-danger text-danger">Danger</span>
<span class="badge m-1 badge-neutral-warning text-warning">Warning</span>
<span class="badge m-1 badge-neutral-info text-info">Info</span>
<span class="badge m-1 badge-neutral-dark text-dark">Dark</span>
