<div class="hero-wrapper bg-composed-wrapper bg-royal">
    <div class="header-nav-wrapper header-nav-wrapper-lg px-4 w-100 bg-white-50 navbar-dark">
        <div class="text-center w-100 d-block font-weight-bold text-white-50 text-uppercase">Header menu placeholder</div>
    </div>
    <div class="flex-grow-1 w-100 d-flex align-items-center">
        <div class="bg-composed-wrapper--image opacity-2" style="background-image: url('assets/images/hero-bg/hero-4.jpg');"></div>
        <div class="bg-composed-wrapper--bg bg-primary opacity-1"></div>
        <div class="bg-composed-wrapper--content py-5">
            <div class="container py-5">
                <div class="row">
                    <div class="d-none d-xl-flex col-xl-6 align-items-center">
                        <div class="card card-box demo-img-wrapper demo-img-wrapper-discrete w-50 mx-auto h-50 shadow-none">
                            <fa-icon [icon]="['fas', 'camera-retro']"></fa-icon>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="py-0 pb-5 py-xl-5">
                            <div class="pl-0 pl-xl-5 text-white">
                                <h1 class="display-2 mb-3 font-weight-bold">
                                    Pleasure rationally encounter
                                </h1>
                                <div class="d-block mt-4">
                                    <ngx-slick-carousel [config]='
                                {
                                    "slidesToShow": 2,
                                    "slidesToScroll": 2,
                                    "dots": true,
                                    "prevArrow": "<button type=\"button\" class=\"slick-prev\"><i class=\"ion-ios-arrow-back font-size-xl\"></i></button>",
                                    "nextArrow": "<button type=\"button\" class=\"slick-next\"><i class=\"ion-ios-arrow-forward font-size-xl\"></i></fa-icon></button>"
                                }' class="slick-slider slick-slider-left">
                                        <div ngxSlickItem>
                                            <div class="feature-box pr-4">
                                                <h3 class="font-size-lg font-weight-bold my-3">
                                                    <a [routerLink]="" title="" class="text-white">
                                                        Elements
                                                    </a>
                                                </h3>
                                                <p class="text-white-50 mb-3">
                                                    It takes a trivial example, which of us ever undertakes.
                                                </p>
                                            </div>
                                        </div>
                                        <div ngxSlickItem>
                                            <div class="feature-box pr-4">
                                                <h3 class="font-size-lg font-weight-bold my-3">
                                                    <a [routerLink]="" title="" class="text-white">
                                                        Widgets
                                                    </a>
                                                </h3>
                                                <p class="text-white-50 mb-3">
                                                    Occur in which toil and pain can procure him some great pleasure.
                                                </p>
                                            </div>
                                        </div>
                                        <div ngxSlickItem>
                                            <div class="feature-box pr-4">
                                                <h3 class="font-size-lg font-weight-bold my-3">
                                                    <a [routerLink]="" title="" class="text-white">
                                                        Components
                                                    </a>
                                                </h3>
                                                <p class="text-white-50 mb-3">
                                                    Nor again is there anyone who loves or pursues or desires.
                                                </p>
                                            </div>
                                        </div>
                                        <div ngxSlickItem>
                                            <div class="feature-box pr-4">
                                                <h3 class="font-size-lg font-weight-bold my-3">
                                                    <a [routerLink]="" title="" class="text-white">
                                                        Pages
                                                    </a>
                                                </h3>
                                                <p class="text-white-50 mb-3">
                                                    On the other hand, we denounce with righteous indignation.
                                                </p>
                                            </div>
                                        </div>
                                    </ngx-slick-carousel>
                                </div>
                                <div class="mt-5">
                                    <a [routerLink]="" class="btn btn-lg btn-warning">
                                        <span class="btn-wrapper--label">
                                            Browse gallery
                                        </span>
                                        <span class="btn-wrapper--icon">
                                            <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
                                        </span>
                                    </a>
                                    <a [routerLink]="" class="btn btn-link btn-link-light pl-1 pr-1 ml-3">
                                        <span>
                                            Documentation
                                        </span>
                                    </a>
                                    <span class="text-white-50 ml-2" containerClass="tooltip-warning" tooltip="Find out more about this website">
                                        <fa-icon [icon]="['far', 'question-circle']"></fa-icon>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-indicator animated font-size-xxl text-white opacity-10">
        <fa-icon [icon]="['fas', 'arrow-down']"></fa-icon>
    </div>
</div>
