<div class="feature-section">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="feature-box my-5 text-center">
                    <div class="bg-deep-blue text-white font-size-xl mx-auto d-50 rounded-circle">
                        <fa-icon [icon]="['fas', 'bomb']"></fa-icon>
                    </div>
                    <h3 class="font-size-lg font-weight-bold mt-4">Widgets</h3>
                    <p class="text-black-50 mt-2 px-2">
                        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you.
                    </p>
                    <button class="btn btn-sm btn-outline-first mt-1" type="button">
                        <span class="btn-wrapper--label">Learn more</span>
                        <span class="btn-wrapper--icon">
                            <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
                        </span>
                    </button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="feature-box my-5 text-center">
                    <div class="bg-grow-early text-white font-size-xl mx-auto d-50 rounded-circle">
                        <fa-icon [icon]="['fas', 'network-wired']"></fa-icon>
                    </div>
                    <h3 class="font-size-lg font-weight-bold mt-4">Components</h3>
                    <p class="text-black-50 mt-2 px-2">
                        The master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.
                    </p>
                    <button class="btn btn-sm btn-outline-first mt-1" type="button">
                        <span class="btn-wrapper--label">Learn more</span>
                        <span class="btn-wrapper--icon">
                            <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
                        </span>
                    </button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="feature-box my-5 text-center">
                    <div class="bg-strong-bliss text-white font-size-xl mx-auto d-50 rounded-circle">
                        <fa-icon [icon]="['fas', 'birthday-cake']"></fa-icon>
                    </div>
                    <h3 class="font-size-lg font-weight-bold mt-4">Blocks</h3>
                    <p class="text-black-50 mt-2 px-2">
                        Who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee.
                    </p>
                    <button class="btn btn-sm btn-outline-first mt-1" type="button">
                        <span class="btn-wrapper--label">Learn more</span>
                        <span class="btn-wrapper--icon">
                            <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
                        </span>
                    </button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="feature-box my-5 text-center">
                    <div class="bg-plum-plate text-white font-size-xl mx-auto d-50 rounded-circle">
                        <fa-icon [icon]="['fas', 'bus-alt']"></fa-icon>
                    </div>
                    <h3 class="font-size-lg font-weight-bold mt-4">Pages</h3>
                    <p class="text-black-50 mt-2 px-2">
                        Which toil and pain can procure him some great pleasure. To take a trivial example, which of us avoids pleasure.
                    </p>
                    <button class="btn btn-sm btn-outline-first mt-1" type="button">
                        <span class="btn-wrapper--label">Learn more</span>
                        <span class="btn-wrapper--icon">
                            <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
