<accordion [closeOthers]="true" [isAnimated]="true" class="accordion mb-5">
    <accordion-group class="card card-box">
        <button accordion-heading class="btn btn-link btn-lg d-flex align-items-center justify-content-between"
                type="button">
            <span>Accordion heading 1</span>
            <fa-icon [icon]="['fas', 'angle-up']" class="font-size-xl"></fa-icon>
        </button>
        <div class="p-4">This is just some content to illustrate fancy headings.</div>
    </accordion-group>
    <accordion-group class="card card-box" isOpen="true">
        <button accordion-heading class="btn btn-link btn-lg d-flex align-items-center justify-content-between"
                type="button">
            <span>Accordion heading 2</span>
            <fa-icon [icon]="['fas', 'angle-up']" class="font-size-xl"></fa-icon>
        </button>
        <div class="p-4">This is just some content to illustrate fancy headings.</div>
    </accordion-group>
    <accordion-group class="card card-box">
        <button accordion-heading class="btn btn-link btn-lg d-flex align-items-center justify-content-between"
                type="button">
            <span>Accordion heading 3</span>
            <fa-icon [icon]="['fas', 'angle-up']" class="font-size-xl"></fa-icon>
        </button>
        <div class="p-4">This is just some content to illustrate fancy headings.</div>
    </accordion-group>
</accordion>
