<button class="btn m-2 btn-primary" type="button">Primary</button>
<button class="btn m-2 btn-secondary" type="button">Secondary</button>
<button class="btn m-2 btn-first" type="button">Primary Alt</button>
<button class="btn m-2 btn-second" type="button">Secondary Alt</button>
<button class="btn m-2 btn-info" type="button">Info</button>
<button class="btn m-2 btn-success" type="button">Success</button>
<button class="btn m-2 btn-warning" type="button">Warning</button>
<button class="btn m-2 btn-danger" type="button">Danger</button>
<button class="btn m-2 btn-dark" type="button">Dark</button>

<div class="divider my-2"></div>

<button class="btn m-2 btn-neutral-primary" type="button">Primary</button>
<button class="btn m-2 btn-neutral-secondary" type="button">Secondary</button>
<button class="btn m-2 btn-neutral-first" type="button">Primary Alt</button>
<button class="btn m-2 btn-neutral-second" type="button">Secondary Alt</button>
<button class="btn m-2 btn-neutral-info" type="button">Info</button>
<button class="btn m-2 btn-neutral-success" type="button">Success</button>
<button class="btn m-2 btn-neutral-warning" type="button">Warning</button>
<button class="btn m-2 btn-neutral-danger" type="button">Danger</button>
<button class="btn m-2 btn-neutral-dark" type="button">Dark</button>
