<div class="app-sidebar--header">
    <div class="nav-logo" *ngIf="globals.toggleSidebar">
        <a routerLink="/" title="GIDAI">
            <i><img alt="Le Logo de GIDAI" src="assets/images/favicon.png"></i>
            <span>GIDAI</span>
        </a>
    </div>
    <div class="nav-logo">
        <a routerLink="/" title="Le Logo de GIDAI" *ngIf="!globals.toggleSidebar">
            <img alt="Le Logo de GIDAI" src="assets/images/logo-blanc.png" width="75px" height="25px">
        </a>
    </div>
    <button (click)="toggleSidebarCollapse()" class="btn btn-sm collapse-sidebar-btn" placement="right"
        tooltip="Réduire la barre">
        <fa-icon [icon]="['far', 'dot-circle']" size="lg"></fa-icon>
    </button>
    <button (click)="toggleSidebarMobileOpen()" [ngClass]="{'is-active' : globals.toggleSidebarMobile}"
        class="navbar-toggler hamburger hamburger--elastic toggle-mobile-sidebar-btn" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
    <button (click)="toggleSidebarCollapse()" class="expand-sidebar-btn btn btn-sm" placement="right"
        tooltip="Développer la barre" type="button">
        <fa-icon [icon]="['fas', 'arrows-alt-h']"></fa-icon>
    </button>
</div>