<div class="row">
    <div class="col-lg-6">
        <div class="m-4">
            <nouislider [(ngModel)]="someValue1" [max]="50" [min]="0" [step]="1" class="slider-dark"></nouislider>
        </div>
        <div class="m-4">
            <nouislider [(ngModel)]="someValue2" [max]="50" [min]="0" [step]="1" class="slider-success"></nouislider>
        </div>
        <div class="m-4">
            <nouislider [(ngModel)]="someValue3" [max]="50" [min]="0" [step]="1" class="slider-warning"></nouislider>
        </div>
        <div class="m-4">
            <nouislider [(ngModel)]="someValue4" [max]="50" [min]="0" [step]="1" class="slider-info"></nouislider>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="m-4">
            <nouislider [(ngModel)]="someRange1" [connect]="true" [max]="15" [min]="0" [step]="1"
                        class="slider-danger"></nouislider>
        </div>
        <div class="m-4">
            <nouislider [(ngModel)]="someRange2" [connect]="true" [max]="15" [min]="0" [step]="1"
                        class="slider-success"></nouislider>
        </div>
        <div class="m-4">
            <nouislider [(ngModel)]="someRange3" [connect]="true" [max]="15" [min]="0" [step]="1"
                        class="slider-first"></nouislider>
        </div>
        <div class="m-4">
            <nouislider [(ngModel)]="someRange4" [connect]="true" [max]="15" [min]="0" [step]="1"
                        class="slider-warning"></nouislider>
        </div>
    </div>
</div>
