<div class="py-3 py-xl-5">
    <div class="container py-3 py-xl-5">
        <div class="text-center mb-5">
            <h1 class="display-2 text-black mb-3 font-weight-bold">
                Plans & pricing
            </h1>
            <p class="font-size-xl mb-5 text-black-50">
                Indignation and dislike men who are so beguiled and demoralized.
            </p>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-xl-4">
                <div class="card mb-5">
                    <div class="card-body px-4 pb-4 pt-3 text-center">
                        <h3 class="display-4 my-4 font-weight-bold text-info">
                            Small
                        </h3>
                        <div class="bg-neutral-info p-3 rounded mb-4">
                            <span class="display-2 font-weight-bold">
                                <small>$</small>
                                69
                            </span>
                            <small class="text-uppercase text-black-50">
                                Per month
                            </small>
                        </div>
                        <ul class="list-unstyled text-lg-left mb-4 font-weight-bold font-size-sm">
                            <li class="px-4 py-2">
                                <fa-icon [icon]="['far', 'check-circle']" class="text-success mr-2"></fa-icon>

                                Unlimited Tasks
                            </li>
                            <li class="px-4 py-2">
                                <fa-icon [icon]="['far', 'check-circle']" class="text-success mr-2"></fa-icon>
                                Unlimited Teams
                            </li>
                            <li class="px-4 py-2">
                                <fa-icon [icon]="['far', 'check-circle']" class="text-success mr-2"></fa-icon>
                                All Integrations
                            </li>
                            <li class="px-4 py-2 text-black-50">
                                <fa-icon [icon]="['far', 'times-circle']" class="text-danger mr-2"></fa-icon>
                                Premium support
                            </li>
                        </ul>
                        <a [routerLink]="" class="btn btn-lg btn-pill btn-outline-info btn-block">
                            Buy now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card card-box border-2 border-first mb-5">
                    <div class="card-body px-5 pb-5 pt-4 text-center">
                        <h3 class="display-4 my-4 font-weight-bold text-first">
                            Medium
                        </h3>
                        <div class="bg-neutral-first p-3 rounded mb-4">
                            <span class="display-2 font-weight-bold">
                                <small>$</small>
                                139
                            </span>
                            <small class="text-uppercase text-black-50">
                                Per month
                            </small>
                        </div>
                        <ul class="list-unstyled text-lg-left mb-4 font-weight-bold font-size-sm">
                            <li class="px-4 py-2">
                                <fa-icon [icon]="['far', 'check-circle']" class="text-success mr-2"></fa-icon>

                                Unlimited Tasks
                            </li>
                            <li class="px-4 py-2">
                                <fa-icon [icon]="['far', 'check-circle']" class="text-success mr-2"></fa-icon>
                                Unlimited Teams
                            </li>
                            <li class="px-4 py-2">
                                <fa-icon [icon]="['far', 'check-circle']" class="text-success mr-2"></fa-icon>
                                All Integrations
                            </li>
                            <li class="px-4 py-2 text-black-50">
                                <fa-icon [icon]="['far', 'times-circle']" class="text-danger mr-2"></fa-icon>
                                Premium support
                            </li>
                        </ul>
                        <a [routerLink]="" class="btn btn-lg btn-pill btn-first btn-block">
                            Buy now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card mb-5">
                    <div class="card-body px-4 pb-4 pt-3 text-center">
                        <h3 class="display-4 my-4 font-weight-bold text-warning">
                            Large
                        </h3>
                        <div class="bg-neutral-warning p-3 rounded mb-4">
                            <span class="display-2 font-weight-bold">
                                <small>$</small>
                                99
                            </span>
                            <small class="text-uppercase text-black-50">
                                Per month
                            </small>
                        </div>
                        <ul class="list-unstyled text-lg-left mb-4 font-weight-bold font-size-sm">
                            <li class="px-4 py-2">
                                <fa-icon [icon]="['far', 'check-circle']" class="text-success mr-2"></fa-icon>

                                Unlimited Tasks
                            </li>
                            <li class="px-4 py-2">
                                <fa-icon [icon]="['far', 'check-circle']" class="text-success mr-2"></fa-icon>
                                Unlimited Teams
                            </li>
                            <li class="px-4 py-2">
                                <fa-icon [icon]="['far', 'check-circle']" class="text-success mr-2"></fa-icon>
                                All Integrations
                            </li>
                            <li class="px-4 py-2 text-black-50">
                                <fa-icon [icon]="['far', 'times-circle']" class="text-danger mr-2"></fa-icon>
                                Premium support
                            </li>
                        </ul>
                        <a [routerLink]="" class="btn btn-lg btn-pill btn-outline-warning btn-block">
                            Buy now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
