<style>
    :host {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 8px 0;
    }

    p {
        margin: 0;
    }

    .spacer {
        flex: 1;
    }

    .toolbar {
        height: 60px;
        margin: -8px;
        display: flex;
        align-items: center;
        background-color: #1976d2;
        color: white;
        font-weight: 600;
    }

    .toolbar img {
        margin: 0 16px;
    }

    .toolbar #twitter-logo {
        height: 40px;
        margin: 0 16px;
    }

    .toolbar #twitter-logo:hover {
        opacity: 0.8;
    }

    .content {
        display: flex;
        margin: 30px auto;
        padding: 0 10px;
        max-width: 1200px;
        flex-direction: column;
        align-items: center;
    }

    a,
    a:visited,
    a:hover {
        color: #1976d2;
        text-decoration: none;
    }

    a:hover {
        color: #125699;
    }

    footer {
        margin-top: 8px;
        display: flex;
        align-items: center;
        line-height: 20px;
    }

    footer a {
        display: flex;
        align-items: center;
    }
</style>

<p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>

<p-dialog [closeOnEscape]="false" [(visible)]="afficherFormulaireAjouterRouteur" header="Formulaire d'ajout d'un Routeur" [modal]="true" [maximizable]="true" [contentStyle]="{'min-height':'400px', 'padding':'80px 0'}" [style]="{width: '800px', minWidth: '500px'}">
    <form [formGroup]="ajouterRouteurFormGroup" (ngSubmit)="ajouterRouteur(ajouterRouteurFormGroup.value)">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4 label">Nom du Routeur *:</div>
                <div class="ui-grid-col-4">
                    <input pInputText type="text" formControlName="nom" placeholder="Requis"/>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Le nom est requis" *ngIf="!ajouterRouteurFormGroup.controls['nom'].valid && ajouterRouteurFormGroup.controls['nom'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4 label">Prix du Routeur *:</div>
                <div class="ui-grid-col-4">
                    <input pInputText type="number" formControlName="prix" placeholder="Requis (en €)"/>
                </div>
                <div class="ui-grid-col-4">
                <p-message severity="error"  text="Le Prix est requis" *ngIf="!ajouterRouteurFormGroup.controls['prix'].valid && ajouterRouteurFormGroup.controls['prix'].dirty"></p-message>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <p-button icon="pi pi-save" label="Valider" (onClick)="ajouterRouteur(ajouterRouteurFormGroup.value)" type="submit" [disabled]="!ajouterRouteurFormGroup.valid" styleClass="ui-button-success"></p-button>
        <p-button icon="pi pi-check" label="Annuler" (onClick)="fermerModal()" styleClass="ui-button-secondary"></p-button>
    </p-footer>
</p-dialog>

<p-dialog [closeOnEscape]="false" (onShow)="onShowAjouterBaseDialog()" [(visible)]="afficherFormulaireAjouterBase" header="Formulaire d'ajout d'une Base" [modal]="true" [maximizable]="true" [contentStyle]="{'min-height':'400px', 'padding':'80px 0'}" [style]="{width: '800px', minWidth: '500px'}">
    <form [formGroup]="ajouterBaseFormGroup" (ngSubmit)="ajouterBase(ajouterBaseFormGroup.value)">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4 label">Nom de la Base *:</div>
                <div class="ui-grid-col-4">
                    <input pInputText type="text" formControlName="nom" placeholder="Requis"/>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Le nom est requis" *ngIf="!ajouterBaseFormGroup.controls['nom'].valid && ajouterBaseFormGroup.controls['nom'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4 label">Routeur *:</div>
                <div class="ui-grid-col-4">
                    <p-dropdown filter="true" [options]="listeRouteurs" formControlName="routeur"></p-dropdown>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Le Routeur est requis" *ngIf="!ajouterBaseFormGroup.controls['routeur'].valid&&ajouterBaseFormGroup.controls['routeur'].dirty"></p-message>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <p-button icon="pi pi-save" type="submit" (onClick)="ajouterBase(ajouterBaseFormGroup.value)" [disabled]="!ajouterBaseFormGroup.valid" label="Valider" styleClass="ui-button-success"></p-button>
        <p-button icon="pi pi-check" label="Annuler" (onClick)="fermerModal()" styleClass="ui-button-secondary"></p-button>
    </p-footer>
</p-dialog>

<p-dialog [closeOnEscape]="false" [(visible)]="afficherFormulaireAjouterAnnonceur" header="Formulaire d'ajout d'un Annonceur"  [modal]="true" [maximizable]="true" [contentStyle]="{'min-height':'400px', 'padding':'80px 0'}" [style]="{width: '800px', minWidth: '500px'}">
    <form [formGroup]="ajouterAnnonceurFormGroup" (ngSubmit)="ajouterAnnonceur(ajouterAnnonceurFormGroup.value)" >
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4 label">Nom de l'Annonceur *:</div>
                <div class="ui-grid-col-4">
                    <input pInputText type="text" formControlName="nom" placeholder="Requis"/>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Le nom est requis" *ngIf="!ajouterAnnonceurFormGroup.controls['nom'].valid && ajouterAnnonceurFormGroup.controls['nom'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4 label">URL de l'annonceur *:</div>
                <div class="ui-grid-col-4">
                    <input pInputText type="text" formControlName="url" placeholder="Requis"/>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="URL invalide" *ngIf="!ajouterAnnonceurFormGroup.controls['url'].valid && ajouterAnnonceurFormGroup.controls['url'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4 label">Adresse de facturation *:</div>
                <div class="ui-grid-col-4">
                    <input pInputText type="text" formControlName="adresse_facturation" placeholder="Requis"/>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="L'adresse de facturation est requise" *ngIf="!ajouterAnnonceurFormGroup.controls['adresse_facturation'].valid && ajouterAnnonceurFormGroup.controls['adresse_facturation'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4 label">Email Comptabilité *:</div>
                <div class="ui-grid-col-4">
                    <input pInputText type="text" formControlName="email_comptabilite" placeholder="Requis"/>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Cet email est invalide" *ngIf="!ajouterAnnonceurFormGroup.controls['email_comptabilite'].valid && ajouterAnnonceurFormGroup.controls['email_comptabilite'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4 label">Email Direction *:</div>
                <div class="ui-grid-col-4">
                    <input pInputText type="email" formControlName="email_direction" placeholder="Requis"/>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Cet email est invalide" *ngIf="!ajouterAnnonceurFormGroup.controls['email_direction'].valid && ajouterAnnonceurFormGroup.controls['email_direction'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4 label">Email Production *:</div>
                <div class="ui-grid-col-4">
                    <input pInputText type="email" formControlName="email_production" placeholder="Requis"/>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Cet email est invalide" *ngIf="!ajouterAnnonceurFormGroup.controls['email_production'].valid && ajouterAnnonceurFormGroup.controls['email_production'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4 label">Délai de Paiement *:</div>
                <div class="ui-grid-col-4">
                    <p-calendar formControlName="delai_paiement" [dataType]="'string'" placeholder="JJ/MM/AAAA" [minDate]="minDate" dateFormat="dd/mm/yy"></p-calendar>
                    <!-- <input pInputText type="text" formControlName="delai_paiement" placeholder="Requis"/> -->
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Le Délai de Paiement est requis" *ngIf="!ajouterAnnonceurFormGroup.controls['delai_paiement'].valid && ajouterAnnonceurFormGroup.controls['delai_paiement'].dirty"></p-message>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <p-button icon="pi pi-save" type="submit" (onClick)="ajouterAnnonceur(ajouterAnnonceurFormGroup.value)" [disabled]="!ajouterAnnonceurFormGroup.valid" label="Valider" styleClass="ui-button-success"></p-button>
        <p-button icon="pi pi-check" label="Annuler" (onClick)="fermerModal()" styleClass="ui-button-secondary"></p-button>
    </p-footer>
</p-dialog>

<p-dialog [closeOnEscape]="false" (onShow)="onShowAjouterCampagneDialog()" [(visible)]="afficherFormulaireAjouterCampagne" header="Formulaire d'ajout d'une Campagne" [modal]="true" [maximizable]="true" [contentStyle]="{'min-height':'400px', 'padding':'80px 0'}" [style]="{width: '800px', minWidth: '500px'}">
    <form [formGroup]="ajouterCampagneFormGroup" (ngSubmit)="ajouterCampagne(ajouterCampagneFormGroup.value)">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4 label">Nom de la Campagne *:</div>
                <div class="ui-grid-col-4">
                    <input pInputText type="text" formControlName="nom" placeholder="Requis"/>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Le nom est requis" *ngIf="!ajouterCampagneFormGroup.controls['nom'].valid && ajouterCampagneFormGroup.controls['nom'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4 label">Type de rémuneration *:</div>
                <div class="ui-grid-col-4">
                    <input pInputText type="text" formControlName="type_remuneration" placeholder="Requis"/>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Le type de rémuneration est requis" *ngIf="!ajouterCampagneFormGroup.controls['type_remuneration'].valid && ajouterCampagneFormGroup.controls['type_remuneration'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4 label">Rémuneration *:</div>
                <div class="ui-grid-col-4">
                    <input pInputText type="number" formControlName="remuneration" placeholder="Requis (en €)"/>
                </div>
                <div class="ui-grid-col-4">
                <p-message severity="error"  text="La rémuneration est requise" *ngIf="!ajouterCampagneFormGroup.controls['remuneration'].valid && ajouterCampagneFormGroup.controls['remuneration'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4 label">Annonceur *:</div>
                <div class="ui-grid-col-4">
                    <p-dropdown filter="true" [options]="listeAnnonceurs" formControlName="annonceur"></p-dropdown>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="L'Annonceur est requis" *ngIf="!ajouterCampagneFormGroup.controls['annonceur'].valid&&ajouterCampagneFormGroup.controls['annonceur'].dirty"></p-message>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <p-button icon="pi pi-save" type="submit" (onClick)="ajouterCampagne(ajouterCampagneFormGroup.value)" [disabled]="!ajouterCampagneFormGroup.valid" label="Valider" styleClass="ui-button-success"></p-button>
        <p-button icon="pi pi-check" label="Annuler" (onClick)="fermerModal()" styleClass="ui-button-secondary"></p-button>
    </p-footer>
</p-dialog>

<p-dialog [closeOnEscape]="false" (onShow)="onShowProgrammerEnvoiDialog()" [(visible)]="afficherFormulaireProgrammerEnvoi" header="Formulaire de programmation d'un envoi" [modal]="true" [maximizable]="true" [contentStyle]="{'min-height':'400px', 'padding':'120px 0'}" [style]="{width: '800px', minWidth: '500px'}">
    <form [formGroup]="programmerEnvoiFormGroup" (ngSubmit)="programmerEnvoi(programmerEnvoiFormGroup.value)">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4 label">Annonceur *:</div>
                <div class="ui-grid-col-4">
                    <p-dropdown filter="true" [options]="listeAnnonceurs" (onChange)="onChangeAnnonceursDropdownValue($event.value)" formControlName="annonceur"></p-dropdown>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="L'Annonceur est requis" *ngIf="!programmerEnvoiFormGroup.controls['annonceur'].valid&&programmerEnvoiFormGroup.controls['annonceur'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4 label">Campagne *:</div>
                <div class="ui-grid-col-4">
                    <p-dropdown filter="true" [options]="listeCampagnes" formControlName="campagne"></p-dropdown>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="La Campagne est requise" *ngIf="!programmerEnvoiFormGroup.controls['campagne'].valid&&programmerEnvoiFormGroup.controls['campagne'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4 label">Routeur *:</div>
                <div class="ui-grid-col-4">
                    <p-dropdown filter="true" [options]="listeRouteurs" (onChange)="onChangeRouteursDropdownValue($event.value)" formControlName="routeur"></p-dropdown>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Le Routeur est requis" *ngIf="!programmerEnvoiFormGroup.controls['routeur'].valid&&programmerEnvoiFormGroup.controls['routeur'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4 label">Base *:</div>
                <div class="ui-grid-col-4">
                    <p-dropdown filter="true" [options]="listeBases" formControlName="base"></p-dropdown>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="La Base est requise" *ngIf="!programmerEnvoiFormGroup.controls['base'].valid&&programmerEnvoiFormGroup.controls['base'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4 label">Volume envoyé *:</div>
                <div class="ui-grid-col-4">
                    <input pInputText type="number" formControlName="volume" placeholder="Requis"/>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Le Volume envoyé est requis" *ngIf="!programmerEnvoiFormGroup.controls['volume'].valid && programmerEnvoiFormGroup.controls['volume'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4 label">Date d'envoi *:</div>
                <div class="ui-grid-col-4">
                        <p-calendar formControlName="date_envoi" [dataType]="'string'" placeholder="JJ/MM/AAAA" [minDate]="minDate" dateFormat="dd/mm/yy"></p-calendar>
                    <!-- <input pInputText type="text" formControlName="delai_paiement" placeholder="Requis"/> -->
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="La Date d'envoi est requise" *ngIf="!programmerEnvoiFormGroup.controls['date_envoi'].valid && programmerEnvoiFormGroup.controls['date_envoi'].dirty"></p-message>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <p-button icon="pi pi-save" type="submit" [disabled]="!programmerEnvoiFormGroup.valid" (onClick)="programmerEnvoi(programmerEnvoiFormGroup.value)" label="Valider" styleClass="ui-button-success"></p-button>
        <p-button icon="pi pi-check" label="Annuler" (onClick)="fermerModal()" styleClass="ui-button-secondary"></p-button>
    </p-footer>
</p-dialog>

<!-- Toolbar -->
<div class="toolbar" role="banner">
    <i class="pi pi-chart-bar" style="font-size: 3em"></i>
    <span>{{title}}</span>
    <div class="spacer"></div>
    <p-button icon="pi pi-sign-out" label="Déconnexion" (onClick)="logout()" styleClass="ui-button-danger"></p-button>
</div>

<div class="content" role="main">
    <div class="header-bar">
        <p-tabMenu [model]="itemsMenu"></p-tabMenu>
        <p-splitButton label="Ajouter un Routeur" icon="pi pi-plus" (onClick)="afficherFormulaireAjouterRouteur=true" [model]="itemsMenuAdd" styleClass="ui-button-primary"></p-splitButton>
    </div>
    <router-outlet></router-outlet>
</div>