<div class="row text-center">
    <div class="col-xl-4">
        <div [countUp]="43585" [options]="{
                suffix: '',
                prefix: '$ ',
                duration: 6
            }"
             class="display-2 font-weight-bold"></div>
    </div>
    <div class="col-xl-4">
        <div [countUp]="22.76" [options]="{
        suffix: ' M',
        prefix: '$ ',
        decimalPlaces: 2,
        duration: 6
    }" class="display-2 font-weight-bold"></div>
    </div>
    <div class="col-xl-4">
        <div [countUp]="498" class="display-2 font-weight-bold"></div>
    </div>
</div>
