<button type="button" (click)="strongBlissModal.show()" class="btn btn-gradient bg-strong-bliss m-2">Strong bliss</button>
<div bsModal #strongBlissModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dark modal-dialog-centered">
        <div class="modal-content bg-strong-bliss">
            <div class="modal-header">
                <h6 class="modal-title">Example modal</h6>
                <button type="button" class="close" aria-label="Close" (click)="strongBlissModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link text-white" (click)="strongBlissModal.hide()">Close</button>
                <button type="button" class="btn btn-second ml-auto"  (click)="strongBlissModal.hide()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<button type="button" (click)="amyCrispModal.show()" class="btn btn-gradient bg-amy-crisp m-2">Amy crisp</button>
<div bsModal #amyCrispModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dark modal-dialog-centered">
        <div class="modal-content bg-amy-crisp">
            <div class="modal-header">
                <h6 class="modal-title">Example modal</h6>
                <button type="button" class="close" aria-label="Close" (click)="amyCrispModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="amyCrispModal.hide()">Yes, I confirm</button>
            </div>
        </div>
    </div>
</div>

<button type="button" (click)="warningModal.show()" class="btn btn-gradient bg-warning m-2">Warning</button>
<div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dark modal-dialog-centered">
        <div class="modal-content bg-warning">
            <div class="modal-header">
                <h6 class="modal-title">Example modal</h6>
                <button type="button" class="close" aria-label="Close" (click)="warningModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-second ml-auto" (click)="warningModal.hide()">Save</button>
            </div>
        </div>
    </div>
</div>

<button type="button" (click)="plumPlateModal.show()" class="btn btn-gradient bg-plum-plate m-2">Plum plate</button>
<div bsModal #plumPlateModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dark modal-dialog-centered">
        <div class="modal-content bg-plum-plate">
            <div class="modal-header">
                <h6 class="modal-title">Example modal</h6>
                <button type="button" class="close" aria-label="Close" (click)="plumPlateModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-second" (click)="plumPlateModal.hide()">Save changes</button>
            </div>
        </div>
    </div>
</div>




