<div class="bg-malibu-beach py-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="text-center text-xl-right text-white mb-5 mb-xl-0 pt-0 pt-xl-4 pr-0 pr-xl-4">
                    <h1 class="display-2 mb-0 font-weight-bold">
                        Partners
                    </h1>
                    <div class="divider border-2 my-4 border-white bg-white opacity-2 rounded-circle w-100"></div>
                    <a [routerLink]="" class="btn btn-warning btn-lg">
                        View case studies
                    </a>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="p-4 card mb-5 w-100">
                            <img src="assets/images/stock-logos/1.svg" class="w-50 m-auto" alt="...">
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="p-4 card mb-5 w-100">
                            <img src="assets/images/stock-logos/2.svg" class="w-50 m-auto" alt="...">
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="p-4 card mb-5 w-100">
                            <img src="assets/images/stock-logos/3.svg" class="w-50 m-auto" alt="...">
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="p-4 card mb-5 w-100">
                            <img src="assets/images/stock-logos/4.svg" class="w-50 m-auto" alt="...">
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="p-4 card mb-5 w-100">
                            <img src="assets/images/stock-logos/5.svg" class="w-50 m-auto" alt="...">
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="p-4 card mb-5 w-100">
                            <img src="assets/images/stock-logos/6.svg" class="w-50 m-auto" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
