<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card mb-5 text-center px-4 pb-4 pt-2">
            <div class="gauge-wrapper">
                <circle-progress
                        [percent]="76"
                        [radius]="100"
                        [outerStrokeWidth]="13"
                        [innerStrokeWidth]="11"
                        [space]="-12"
                        [outerStrokeColor]="'var(--danger)'"
                        [innerStrokeColor]="'var(--light)'"
                        [animation]="true"
                        [responsive]="true"
                        [showSubtitle]="false"
                        [titleFontSize]="42"
                        [unitsFontSize]="29"
                        [showBackground]="false"
                        [showSubtitle]="true"
                        [animationDuration]="600"
                ></circle-progress>
            </div>
            <div class="text-black-50">Project management</div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card mb-5 text-center px-4 pb-4 pt-2">
            <div class="gauge-wrapper">
                <circle-progress
                        [percent]="55"
                        [radius]="100"
                        [outerStrokeWidth]="13"
                        [innerStrokeWidth]="11"
                        [space]="-12"
                        [outerStrokeColor]="'var(--first)'"
                        [innerStrokeColor]="'var(--secondary)'"
                        [animation]="true"
                        [responsive]="true"
                        [showSubtitle]="false"
                        [titleFontSize]="42"
                        [unitsFontSize]="29"
                        [showBackground]="false"
                        [showSubtitle]="true"
                        [animationDuration]="600"
                ></circle-progress>
            </div>
            <div class="text-black-50">Recent messages</div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card mb-5 bg-premium-dark text-center px-4 pb-4 pt-2">
            <div class="gauge-wrapper">
                <circle-progress
                        [percent]="61"
                        [radius]="100"
                        [outerStrokeWidth]="13"
                        [innerStrokeWidth]="11"
                        [space]="-12"
                        [outerStrokeColor]="'var(--success)'"
                        [innerStrokeColor]="'rgba(255,255,255,.1)'"
                        [animation]="true"
                        [responsive]="true"
                        [showSubtitle]="false"
                        [titleFontSize]="42"
                        [unitsFontSize]="29"
                        [showBackground]="false"
                        [showSubtitle]="true"
                        [titleColor]="'rgba(255,255,255,.7)'"
                        [unitsColor]="'rgba(255,255,255,.45)'"
                        [animationDuration]="600"
                ></circle-progress>
            </div>
            <div class="text-white-50">Task manager</div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card mb-5 bg-night-sky text-center px-4 pb-4 pt-2">
            <div class="gauge-wrapper">
                <circle-progress
                        [percent]="72"
                        [radius]="100"
                        [outerStrokeWidth]="13"
                        [innerStrokeWidth]="11"
                        [space]="-12"
                        [outerStrokeColor]="'var(--warning)'"
                        [innerStrokeColor]="'rgba(255,255,255,.07)'"
                        [animation]="true"
                        [responsive]="true"
                        [showSubtitle]="false"
                        [titleFontSize]="42"
                        [unitsFontSize]="29"
                        [showBackground]="false"
                        [showSubtitle]="true"
                        [titleColor]="'rgba(255,255,255,.7)'"
                        [unitsColor]="'rgba(255,255,255,.45)'"
                        [animationDuration]="600"
                ></circle-progress>
            </div>
            <div class="text-white-50">Analytics statistics</div>
        </div>
    </div>
</div>
