<div class="row">
    <div class="col-xl-4 col-lg-6">
        <div class="card m-3">
            <span class="ribbon-horizontal ribbon-horizontal--first"><span>Special Offer</span></span>
            <a [routerLink]=""  class="ribbon-horizontal btn btn-danger ribbon-horizontal--bottom ribbon-horizontal--danger"><span>Bottom positioned ribbon</span></a>
            <div class="card-img-wrapper">
                <img src="assets/images/stock-photos/stock-1.jpg" class="card-img-top rounded" alt="...">
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6">
        <div class="card m-3">
            <span class="ribbon-horizontal ribbon-horizontal--primary font-weight-normal font-size-lg"><span>Primary ribbon</span></span>
            <a [routerLink]=""  class="ribbon-horizontal btn btn-success ribbon-horizontal--bottom ribbon-horizontal--success"><span>Bottom success</span></a>
            <div class="card-img-wrapper">
                <img src="assets/images/stock-photos/stock-2.jpg" class="card-img-top rounded" alt="...">
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-12">
        <div class="card m-3">
            <span class="ribbon-horizontal ribbon-horizontal--warning"><span>Warning ribbon</span></span>
            <a [routerLink]=""  class="ribbon-horizontal btn btn-info ribbon-horizontal--bottom ribbon-horizontal--info"><span>Bottom info ribbon</span></a>
            <div class="card-img-wrapper">
                <img src="assets/images/stock-photos/stock-3.jpg" class="card-img-top rounded" alt="...">
            </div>
        </div>
    </div>
</div>
