<div class="row">
    <div class="col-lg-6">
        <div class="card card-box mb-5">
            <div class="card-header">
                <h4 class="font-size-lg mb-0 py-2 font-weight-bold">
                    Reports
                </h4>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between p-3">
                    <div>
                        <b>Stats</b>
                        <div class="text-black-50">Last month targets</div>
                    </div>
                    <div class="font-weight-bold text-warning font-size-xl">
                        $1,23M
                    </div>
                </div>
                <div class="divider"></div>
                <div class="d-flex align-items-center justify-content-between p-3">
                    <div>
                        <b>Payments</b>
                        <div class="text-black-50">Week's expenses</div>
                    </div>
                    <div class="font-weight-bold text-danger font-size-xl">
                        - $123,305
                    </div>
                </div>
                <div class="divider"></div>
                <div class="d-flex align-items-center justify-content-between p-3">
                    <div>
                        <b>Orders</b>
                        <div class="text-black-50">Total products ordered</div>
                    </div>
                    <div class="font-weight-bold text-warning font-size-xl">
                        65
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card card-box mb-5">
            <div class="card-header">
                <h4 class="font-size-lg mb-0 py-2 font-weight-bold">
                    Statistics
                </h4>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between p-3">
                    <div>
                        <b>Reports</b>
                        <div class="text-black-50">Monthly sales reports</div>
                    </div>
                    <div class="font-weight-bold text-danger font-size-xl">2363</div>
                </div>
                <div class="divider"></div>
                <div class="d-flex align-items-center justify-content-between p-3">
                    <div>
                        <b>User</b>
                        <div class="text-black-50">Visitors last week</div>
                    </div>
                    <div class="font-weight-bold text-success font-size-xl">584</div>
                </div>
                <div class="divider"></div>
                <div class="d-flex align-items-center justify-content-between p-3">
                    <div>
                        <b>Sales</b>
                        <div class="text-black-50">Total average weekly report</div>
                    </div>
                    <div class="font-weight-bold text-warning font-size-xl">483</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card card-box mb-5">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex">
                        <i-feather class="h1 d-block mr-3 text-success line-height-1" name="grid"></i-feather>
                        <div>
                            <b>User</b>
                            <div class="text-black-50">Visitors last week</div>
                        </div>
                    </div>
                    <div class="font-weight-bold text-success font-size-lg">235</div>
                </div>
                <div class="divider my-3"></div>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex">
                        <i-feather class="h1 d-block mr-3 text-first line-height-1" name="layers"></i-feather>
                        <div>
                            <b>Stats</b>
                            <div class="text-black-50">Last month targets</div>
                        </div>
                    </div>
                    <div class="font-weight-bold text-first font-size-lg"> $1,23M</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card card-box mb-5">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex">
                        <div class="d-flex align-items-center">
                            <div class="avatar-icon-wrapper mr-2">
                                <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar2.jpg"/></div>
                            </div>
                            <div><a [routerLink]="" class="font-weight-bold text-black" title="...">Inez Conley</a><span
                                    class="text-black-50 d-block">Project Manager</span></div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="font-weight-bold text-danger font-size-lg pr-2">584</div>
                        <fa-icon [icon]="['fas', 'arrow-down']" class="font-size-sm text-danger opacity-5"></fa-icon>
                    </div>
                </div>
                <div class="divider my-3"></div>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex">
                        <div class="d-flex align-items-center">
                            <div class="avatar-icon-wrapper mr-2">
                                <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar4.jpg"/></div>
                            </div>
                            <div><a [routerLink]="" class="font-weight-bold text-black" title="...">Beck
                                Simpson</a><span class="text-black-50 d-block">Senior Consultant</span></div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="font-weight-bold text-first font-size-lg pr-2"> $12,23M</div>
                        <fa-icon [icon]="['fas', 'arrow-up']" class="font-size-sm text-first opacity-5"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
