<app-page-title titleHeading='Buttons' titleDescription='Wide selection of buttons that feature different styles for backgrounds, borders and hover options!'></app-page-title>

<div class="row">
    <div class="col-xl-6">
        <app-example-wrapper-simple sectionHeading="Basic">
            <app-buttons-basic></app-buttons-basic>
            <div class="divider my-2"></div>
            <app-buttons-sizing></app-buttons-sizing>
        </app-example-wrapper-simple>
    </div>
    <div class="col-xl-6">
        <app-example-wrapper-simple sectionHeading="Button groups">
            <div class="text-center">
                <app-buttons-groups></app-buttons-groups>
                <div class="divider my-2"></div>
                <app-buttons-groups-sizing></app-buttons-groups-sizing>
            </div>
        </app-example-wrapper-simple>
    </div>
    <div class="col-xl-12">
        <app-example-wrapper-simple sectionHeading="Colors">
            <app-buttons-colors></app-buttons-colors>
        </app-example-wrapper-simple>
    </div>
</div>

<app-example-wrapper-simple sectionHeading="Gradients">
    <app-buttons-gradients></app-buttons-gradients>
</app-example-wrapper-simple>

<app-example-wrapper-simple sectionHeading="With icons">
    <app-buttons-icons></app-buttons-icons>
</app-example-wrapper-simple>

<app-example-wrapper-simple sectionHeading="Social buttons">
    <app-buttons-social></app-buttons-social>
</app-example-wrapper-simple>

<app-example-wrapper-simple sectionHeading="Links">
    <app-buttons-links></app-buttons-links>
</app-example-wrapper-simple>

<app-example-wrapper-simple sectionHeading="Loading buttons">
    <app-buttons-loading></app-buttons-loading>
</app-example-wrapper-simple>

<app-example-wrapper-simple sectionHeading="Outline">
    <app-buttons-outline></app-buttons-outline>
</app-example-wrapper-simple>

<app-example-wrapper-simple sectionHeading="Pills">
    <app-buttons-pills></app-buttons-pills>
</app-example-wrapper-simple>

<app-example-wrapper-simple sectionHeading="Square buttons">
    <app-buttons-square></app-buttons-square>
</app-example-wrapper-simple>

