<div class="row">
    <div class="col-xl-4">
        <div class="card card-box mb-5">
            <div class="px-4 pt-4 pb-3">
                <div class="text-uppercase text-muted">Laptops sales</div>
                <div class="d-flex align-items-center pt-3 font-weight-bold display-3">
                    <fa-icon [icon]="['far', 'dot-circle']" class="text-warning mr-2"></fa-icon>
                    $589
                    <span class="text-success pl-2 font-size-md">+ 54</span>
                </div>
            </div>
            <apx-chart
                    [chart]="{
                        type: 'area',
                        height: '150',
                        sparkline: {
                          enabled: true
                        }
                    }"
                    [colors]="['#f4772e']"
                    [fill]="{
                        color: '#f4772e'
                    }"
                    [series]="[
                      {
                        name: 'Sales',
                        data: [ 32, 52, 45, 32, 54, 56, 28, 25, 36, 62]
                      }
                    ]"
                    [stroke]="{
                        color: '#4191ff',
                        curve: 'smooth',
                        width: 2
                    }"

                    [xaxis]="{
                        crosshairs: {
                            width: 1
                        }
                    }"
                    [yaxis]="{
                        min: 0
                    }"
            ></apx-chart>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card card-box mb-5">
            <div class="px-4 pt-4 pb-3">
                <div class="text-uppercase text-muted">Stacked columns</div>
                <div class="d-flex align-items-center pt-3 font-weight-bold display-3">
                    <fa-icon [icon]="['fas', 'arrow-up']" class="text-success mr-2"></fa-icon>
                    $<span [countUp]="687"></span>
                    <span class="text-danger pl-2 font-size-md">- 20%</span>
                </div>
            </div>
            <div class="p-1">
                <apx-chart
                        [chart]="{
                                type: 'bar',
                                height: '142',
                                sparkline: {
                                  enabled: true
                                },
                                stacked: true
                            }"
                        [colors]="['#4191ff', 'rgba(65, 145, 255, 0.35)']"
                        [dataLabels]="{
                              enabled: false
                            }"
                        [fill]="{
                              opacity: 1
                            }"

                        [labels]="['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Last week', 'Last month', 'Last year', 'Last quarter']"
                        [legend]="{ show: false }"
                        [plotOptions]="{
                              bar: {
                                horizontal: false,
                                endingShape: 'rounded',
                                columnWidth: '90%'
                              }
                            }"

                        [series]="[
                              {
                                name: 'Net Profit',
                                data: [2.3, 3.1, 4.0, 3.8, 5.1, 3.6,4.0, 3.8, 5.1, 3.6, 3.2]
                              },
                              {
                                name: 'Net Loss',
                                data: [2.1, 2.1, 3.0, 2.8, 4.0, 3.8, 5.1, 3.6,4.1, 2.6, 1.2]
                              }
                            ]"

                        [stroke]="{
                              show: true,
                              width: 2,
                              colors: ['transparent']
                            }"
                ></apx-chart>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card card-box mb-5">
            <div class="px-4 pt-4 pb-3">
                <div class="text-uppercase text-muted">Horizontal bars</div>
                <div class="d-flex align-items-center pt-3 font-weight-bold display-3">
                    <fa-icon [icon]="['fas', 'chevron-down']" class="text-danger mr-2"></fa-icon>
                    $589
                    <span class="text-info pl-2 font-size-md">+ 56</span>
                </div>
            </div>
            <div class="p-1">
                <apx-chart
                        [chart]="{
                                type: 'bar',
                                height: '142',
                                sparkline: {
                                  enabled: true
                                },
                                stacked: true
                            }"
                        [colors]="['#1bc943', 'rgba(27, 201, 67, 0.35)']"
                        [dataLabels]="{
                              enabled: false
                            }"
                        [fill]="{
                              opacity: 1
                            }"

                        [labels]="['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Last week', 'Last month', 'Last year', 'Last quarter']"
                        [legend]="{ show: false }"
                        [plotOptions]="{
                              bar: {
                                horizontal: true,
                                endingShape: 'rounded',
                                columnWidth: '98%'
                              }
                            }"

                        [series]="[
                              {
                                name: 'Net Profit',
                                data: [2.3, 3.1, 4.0, 3.8, 5.1, 3.6,4.0, 3.8, 5.1, 3.6, 3.2]
                              },
                              {
                                name: 'Net Loss',
                                data: [2.1, 2.1, 3.0, 2.8, 4.0, 3.8, 5.1, 3.6,4.1, 2.6, 1.2]
                              }
                            ]"

                        [stroke]="{
                              show: true,
                              width: 2,
                              colors: ['transparent']
                            }"
                ></apx-chart>
            </div>
        </div>
    </div>
</div>
