<app-page-title titleHeading='Utilities &amp; Helpers' titleDescription='These are helpers that speed up the dev time for various components and effects.'></app-page-title>

<app-example-wrapper-simple sectionHeading="Brand colors">
  <app-utilities-helpers-brand-colors></app-utilities-helpers-brand-colors>
</app-example-wrapper-simple>

<app-example-wrapper-simple sectionHeading="Composed backgrounds">
  <app-utilities-helpers-composed-backgrounds></app-utilities-helpers-composed-backgrounds>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Gradients">
  <app-utilities-helpers-gradients></app-utilities-helpers-gradients>
</app-example-wrapper-simple>

<app-example-wrapper-simple sectionHeading="Neutral colors">
  <app-utilities-helpers-neutral-colors></app-utilities-helpers-neutral-colors>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Primary colors">
  <app-utilities-helpers-primary-colors></app-utilities-helpers-primary-colors>
</app-example-wrapper-simple>

