<div class="row text-center">
    <div class="col-sm-6 col-md-3 col-xl-6">
        <div class="gauge-wrapper">
        <circle-progress
                [percent]="34"
                [radius]="100"
                [outerStrokeWidth]="12"
                [innerStrokeWidth]="16"
                [outerStrokeColor]="'var(--primary)'"
                [innerStrokeColor]="'var(--secondary)'"
                [animation]="true"
                [responsive]="true"
                [showSubtitle]="false"
                [titleFontSize]="42"
                [unitsFontSize]="29"
                [showBackground]="false"
                [showSubtitle]="false"
                [animationDuration]="600"
        ></circle-progress>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 col-xl-6">
        <div class="gauge-wrapper">
        <circle-progress
                [percent]="58"
                [radius]="100"
                [outerStrokeWidth]="14"
                [innerStrokeWidth]="11"
                [outerStrokeColor]="'var(--success)'"
                [innerStrokeColor]="'var(--secondary)'"
                [animation]="true"
                [responsive]="true"
                [showSubtitle]="false"
                [titleFontSize]="42"
                [unitsFontSize]="29"
                [showBackground]="false"
                [showSubtitle]="false"
                [animationDuration]="600"
        ></circle-progress>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 col-xl-6">
        <div class="gauge-wrapper">
        <circle-progress
                [percent]="43"
                [radius]="100"
                [outerStrokeWidth]="14"
                [innerStrokeWidth]="12"
                [space]="-4"
                [outerStrokeColor]="'var(--danger)'"
                [innerStrokeColor]="'var(--light)'"
                [animation]="true"
                [responsive]="true"
                [showSubtitle]="false"
                [titleFontSize]="42"
                [unitsFontSize]="29"
                [showBackground]="false"
                [showSubtitle]="true"
                [subtitleFontSize]="28"
                [animationDuration]="600"
        ></circle-progress>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 col-xl-6">
        <div class="gauge-wrapper">
        <circle-progress
                [percent]="76"
                [radius]="100"
                [outerStrokeWidth]="15"
                [innerStrokeWidth]="13"
                [space]="-12"
                [outerStrokeColor]="'var(--warning)'"
                [innerStrokeColor]="'var(--light)'"
                [animation]="true"
                [responsive]="true"
                [showSubtitle]="false"
                [titleFontSize]="42"
                [unitsFontSize]="29"
                [showBackground]="false"
                [showSubtitle]="true"
                [animationDuration]="600"
        ></circle-progress>
        </div>
    </div>
</div>
