<div class="py-3 py-xl-5">
    <div class="container py-3 py-xl-5">
        <div class="row">
            <div class="col-xl-6 d-flex align-items-center text-center text-xl-left">
                <div class="mb-5 mb-xl-0">
                    <div class="mb-4">
                        <span class="badge badge-pill badge-warning">Latest release</span>
                        <h1 class="display-3 mt-3 font-weight-bold">
                            Bamburgh
                        </h1>
                        <div class="divider border-2 mx-auto mx-xl-0 my-3 border-light w-43"></div>
                        <p class="font-size-lg text-black-50">
                            Travelling day in and day out. Doing business like this takes much more effort than doing your own business.
                        </p>
                    </div>
                    <div>
                        <a [routerLink]="" class="btn btn-success d-block d-sm-inline-block">
                           <span class="btn-wrapper--label">
                                Read more
                            </span>
                            <span class="btn-wrapper--icon">
                                <fa-icon [icon]="['far', 'question-circle']"></fa-icon>
                            </span>
                        </a>
                        <a [routerLink]="" class="btn btn-link btn-link-first d-block d-sm-inline-block ml-0 mt-3 mt-sm-0 ml-sm-3" title="View documentation">
                            <span>
                                Documentation
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card shadow-xxl p-3">
                    <div class="card card-box demo-img-wrapper shadow-none" style="height: 350px;">
                        <fa-icon [icon]="['fas', 'camera-retro']"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
