<div class="row">
    <div class="col-md-6">
        <div class="color-swatch">
            <div class="color-swatch--bg h-auto bg-composed-wrapper bg-neutral-info">
                <div class="bg-composed-wrapper--image bg-composed-img-1"></div>
                <div class="bg-composed-wrapper--content p-5">
                    <h5 class="mb-1">Table of contents</h5>
                    <p class="mb-0 opacity-7">This is a subheading example</p>
                </div>
            </div>
            <h6 class="color-swatch--title">
                <span class="badge badge-pill badge-neutral-dark m-1 text-dark">bg-neutral-info</span>
                <span class="badge badge-pill badge-neutral-dark m-1 text-dark">bg-composed-img-1</span>
            </h6>
        </div>
    </div>
    <div class="col-md-6">
        <div class="color-swatch">
            <div class="color-swatch--bg h-auto bg-composed-wrapper bg-malibu-beach">
                <div class="bg-composed-wrapper--image bg-composed-img-2"></div>
                <div class="bg-composed-wrapper--content text-light p-5">
                    <h5 class="mb-1">Table of contents</h5>
                    <p class="mb-0 opacity-7">This is a subheading example</p>
                </div>
            </div>
            <h6 class="color-swatch--title">
                <span class="badge badge-pill badge-neutral-dark m-1 text-dark">bg-malibu-beach</span>
                <span class="badge badge-pill badge-neutral-dark m-1 text-dark">bg-composed-img-2</span>
            </h6>
        </div>
    </div>
    <div class="col-md-6">
        <div class="color-swatch">
            <div class="color-swatch--bg h-auto bg-composed-wrapper bg-danger">
                <div class="bg-composed-wrapper--image bg-composed-img-3"></div>
                <div class="bg-composed-wrapper--content text-light p-5">
                    <h5 class="mb-1">Table of contents</h5>
                    <p class="mb-0 opacity-7">This is a subheading example</p>
                </div>
            </div>
            <h6 class="color-swatch--title">
                <span class="badge badge-pill badge-neutral-dark m-1 text-dark">bg-danger</span>
                <span class="badge badge-pill badge-neutral-dark m-1 text-dark">bg-composed-img-3</span>
            </h6>
        </div>
    </div>
    <div class="col-md-6">
        <div class="color-swatch">
            <div class="color-swatch--bg h-auto bg-composed-wrapper bg-plum-plate">
                <div class="bg-composed-wrapper--image bg-composed-img-5"></div>
                <div class="bg-composed-wrapper--content text-light p-5">
                    <h5 class="mb-2">Table of contents</h5>
                    <p class="mb-0 opacity-7">This is a subheading example</p>
                </div>
            </div>
            <h6 class="color-swatch--title">
                <span class="badge badge-pill badge-neutral-dark m-1 text-dark">bg-plum-plate</span>
                <span class="badge badge-pill badge-neutral-dark m-1 text-dark">bg-composed-img-5</span>
            </h6>
        </div>
    </div>
</div>
