<div class="app-inner-content-layout app-inner-content-layout-fixed">
    <div class="d-flex d-lg-none p-4 order-0 justify-content-between align-items-center">
        <button (click)="toggleMobileSidebar = !toggleMobileSidebar" class="btn btn-sm btn-primary px-3" type="button">
            <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
        </button>
    </div>
    <div [ngClass]="{'layout-sidebar-open' : toggleMobileSidebar}" class="app-inner-content-layout--sidebar app-inner-content-layout--sidebar__lg bg-secondary border-right">
        <perfect-scrollbar [autoPropagation]="false">
            <div class="bg-white d-xl-block d-none p-4">
                <bs-datepicker-inline [bsConfig]="{ containerClass: 'theme-primary' }" [bsValue]="bsInlineValue" class="datepicker-wrapper-flush"></bs-datepicker-inline>
            </div>
            <div class="divider d-lg-block d-none"></div>
            <div class="px-4 pt-4 pb-3">
                <ul class="nav nav-neutral-primary nav-pills flex-column">
                    <li class="nav-header d-flex pb-3 align-items-center">
                        <div class="text-primary font-weight-bold">
                            Calendar Events
                        </div>
                        <div class="ml-auto font-size-xs">
                            <a [routerLink]="">
                                <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="" class="nav-link">
                            <span class="badge badge-circle-inner badge-success border-0 mr-2">1</span>
                            Upcoming events
                        </a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="" class="nav-link">
                            <span class="badge badge-circle-inner badge-warning border-0 mr-2">2</span>
                            Planned holidays
                        </a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="" class="nav-link">
                            <span class="badge badge-circle-inner badge-first border-0 mr-2">3</span>
                            Meetups near you
                        </a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="" class="nav-link">
                            <span class="badge badge-circle-inner badge-danger border-0 mr-2">4</span>
                            Other events
                        </a>
                    </li>
                </ul>
            </div>
            <div class="divider mt-2"></div>
            <div class="p-4 bg-white">
                <ul class="nav nav-neutral-primary nav-pills flex-column">
                    <li class="nav-header d-flex pb-3 align-items-center">
                        <div class="text-primary font-weight-bold">
                            Statistics
                        </div>
                        <div class="ml-auto font-size-xs">
                            <a [routerLink]="" class="text-success" placement="left" tooltip="Refresh stats">
                                <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                            </a>
                        </div>
                    </li>
                </ul>
                <div class="row font-size-xs">
                    <div class="col-lg-6">
                        <div class="card border-1 shadow-none bg-light text-center my-2 p-3">
                            <div>
                                <fa-icon [icon]="['far', 'user']" class="font-size-xxl text-success"></fa-icon>
                            </div>
                            <div class="mt-2 line-height-sm">
                                <b class="font-size-lg">345</b>
                                <span class="text-black-50 d-block">friends</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card border-1 shadow-none bg-light text-center my-2 p-3">
                            <div>
                                <fa-icon [icon]="['far', 'chart-bar']" class="font-size-xxl text-danger"></fa-icon>
                            </div>
                            <div class="mt-2 line-height-sm">
                                <b class="font-size-lg">2,693</b>
                                <span class="text-black-50 d-block">messages</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="p-4">
                <ul class="nav nav-neutral-primary nav-pills flex-column">
                    <li class="nav-header">
                        <div class="text-primary font-weight-bold">
                            Upcoming meetups
                        </div>
                    </li>
                </ul>
                <div class="card card-box mt-3 mb-4">
                    <div class="card-indicator bg-first"></div>
                    <div class="card-body px-4 py-3">
                        <div class="pb-3 d-flex justify-content-between">
                            <a [routerLink]="">
                                Presentation site design
                            </a>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <div class="badge badge-first px-3">On hold</div>
                            <div class="font-size-sm text-danger px-2">
                                <fa-icon [icon]="['far', 'clock']" class="mr-1"></fa-icon>
                                14:22
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-box mb-4">
                    <div class="card-indicator bg-success"></div>
                    <div class="card-body px-4 py-3">
                        <div class="pb-3 d-flex justify-content-between">
                            <a [routerLink]="">
                                Create UI mockups
                            </a>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <div class="badge badge-success px-3">Fixed</div>
                            <div class="font-size-sm text-dark px-2">
                                <fa-icon [icon]="['far', 'clock']" class="mr-1"></fa-icon>
                                09:41
                            </div>
                        </div>
                    </div>
                </div>
                <a [routerLink]="" class="btn btn-pill btn-block btn-sm btn-primary">
                    Add more events
                </a>
            </div>
        </perfect-scrollbar>
    </div>
    <div class="app-inner-content-layout--main bg-white p-0 card-box">
        <div class="app-inner-content-layout--main__header rounded-0 card-header bg-white p-4 border-bottom">
            <div class="card-header--title">
                <small>Events</small>
                <b class="font-size-lg">Events calendar</b>
            </div>
            <div class="card-header--actions">
                <a [routerLink]="" class="btn btn-sm btn-first" placement="left" tooltip="Add new event">
                    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                </a>
            </div>
        </div>
        <perfect-scrollbar [autoPropagation]="false">
            <div class="p-4">
                <app-calendars-full-width-basic></app-calendars-full-width-basic>
            </div>
        </perfect-scrollbar>
    </div>
    <div (click)="toggleMobileSidebar = !toggleMobileSidebar" [ngClass]="{'active' : toggleMobileSidebar}" class="sidebar-inner-layout-overlay"></div>
</div>
