<div class="bg-royal py-3 py-xl-5">
    <div class="container py-3 py-xl-5">
        <div class="card modal-content">
            <div class="card-header bg-light d-flex justify-content-center">
                <div class="text-center my-4">
                    <h1 class="display-4 text-black mb-2 font-weight-bold">
                        Plans & pricing
                    </h1>
                    <p class="font-size-lg mb-1 text-black-50">
                        Indignation and dislike men who are so beguiled and demoralized.
                    </p>
                </div>
            </div>
            <div class="card-body p-3">
                <ul class="nav my-2 nav-line nav-line-alt justify-content-center" id="myTab5" role="tablist">
                    <li class="nav-item">
                        <a [routerLink]="" class="nav-link active" >
                            Monthly plans
                            <div class="divider"></div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="" class="nav-link">
                            Yearly payments
                            <div class="divider"></div>
                        </a>
                    </li>
                </ul>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="divider-v divider-v-lg"></div>
                            <div class="py-3">
                                <div class="feature-box text-center mt-2 mb-5">
                                    <img src="assets/images/illustrations/business_plan.svg" class="w-50 mx-auto d-block img-fluid" alt="...">
                                    <h3 class="font-size-xxl font-weight-bold mt-4">Standard</h3>
                                    <p class="text-black-50 mb-4">
                                        But I must explain to you how all this mistaken.
                                    </p>
                                    <a [routerLink]="" class="btn btn-outline-first" title="Learn more"><span>Purchase now</span></a>
                                </div>
                                <div class="divider my-4"></div>
                                <ul class="list-unstyled text-left font-weight-bold font-size-sm">
                                    <li class="px-4 py-2">
                                        <span class="badge badge-circle-inner badge-success mr-2">Success</span>
                                        Unlimited Tasks
                                    </li>
                                    <li class="px-4 py-2">
                                        <span class="badge badge-circle-inner badge-success mr-2">Success</span>
                                        Unlimited Teams
                                    </li>
                                    <li class="px-4 py-2">
                                        <span class="badge badge-circle-inner badge-success mr-2">Success</span>
                                        All Integrations
                                    </li>
                                    <li class="px-4 py-2 text-black-50">
                                        <span class="badge badge-circle-inner badge-danger mr-2">Danger</span>
                                        Premium support
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="divider-v divider-v-lg"></div>
                            <div class="py-3">
                                <div class="feature-box text-center mt-2 mb-5">
                                    <img src="assets/images/illustrations/businesswoman.svg" class="w-50 mx-auto d-block img-fluid" alt="...">
                                    <h3 class="font-size-xxl font-weight-bold mt-4">Business</h3>
                                    <p class="text-black-50 mb-4">
                                        But I must explain to you how all this mistaken.
                                    </p>
                                    <a [routerLink]="" class="btn btn-first" title="Learn more"><span>Purchase now</span></a>
                                </div>
                                <div class="divider my-4"></div>
                                <ul class="list-unstyled text-left font-weight-bold font-size-sm">
                                    <li class="px-4 py-2">
                                        <span class="badge badge-circle-inner badge-success mr-2">Success</span>
                                        Unlimited Tasks
                                    </li>
                                    <li class="px-4 py-2">
                                        <span class="badge badge-circle-inner badge-success mr-2">Success</span>
                                        Unlimited Teams
                                    </li>
                                    <li class="px-4 py-2">
                                        <span class="badge badge-circle-inner badge-success mr-2">Success</span>
                                        All Integrations
                                    </li>
                                    <li class="px-4 py-2 text-black-50">
                                        <span class="badge badge-circle-inner badge-danger mr-2">Danger</span>
                                        Premium support
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="py-3">
                                <div class="feature-box text-center mt-2 mb-5">
                                    <img src="assets/images/illustrations/powerful.svg" class="w-50 mx-auto d-block img-fluid" alt="...">
                                    <h3 class="font-size-xxl font-weight-bold mt-4">Enterprise</h3>
                                    <p class="text-black-50 mb-4">
                                        But I must explain to you how all this mistaken.
                                    </p>
                                    <a [routerLink]="" class="btn btn-outline-first" title="Learn more"><span>Purchase now</span></a>
                                </div>
                                <div class="divider my-4"></div>
                                <ul class="list-unstyled text-left font-weight-bold font-size-sm">
                                    <li class="px-4 py-2">
                                        <span class="badge badge-circle-inner badge-success mr-2">Success</span>
                                        Unlimited Tasks
                                    </li>
                                    <li class="px-4 py-2">
                                        <span class="badge badge-circle-inner badge-success mr-2">Success</span>
                                        Unlimited Teams
                                    </li>
                                    <li class="px-4 py-2">
                                        <span class="badge badge-circle-inner badge-success mr-2">Success</span>
                                        All Integrations
                                    </li>
                                    <li class="px-4 py-2 text-black-50">
                                        <span class="badge badge-circle-inner badge-danger mr-2">Danger</span>
                                        Premium support
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
