<div class="heading-3">Pills menu</div>
<ul class="nav nav-pills mb-4">
  <li class="nav-item">
    <a class="nav-link d-block mr-1 active" [routerLink]="">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link d-block mr-1" [routerLink]="">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link d-block mr-1" [routerLink]="">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link d-block mr-1 disabled" [routerLink]="">Disabled</a>
  </li>
</ul>

<div class="divider mb-4"></div>

<div class="heading-3">Justified menu</div>
<ul class="nav nav-pills nav-justified">
  <li class="nav-item">
    <a class="nav-link d-block mr-1 active" [routerLink]="">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link d-block mr-1" [routerLink]="">Longer nav link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link d-block mr-1" [routerLink]="">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link d-block mr-1 disabled" [routerLink]="">Disabled</a>
  </li>
</ul>
