<div class="row">
    <div class="col-md-6">
        <pagination class="pagination-icons mb-4 pagination-warning" [totalItems]="30" [rotate]="rotate"></pagination>
        <pagination class="pagination-icons mb-4 pagination-success" [totalItems]="30" [rotate]="rotate"></pagination>
        <pagination class="pagination-icons mb-4 pagination-info" [totalItems]="30" [rotate]="rotate"></pagination>
        <pagination class="pagination-icons mb-4 pagination-dark" [totalItems]="30" [rotate]="rotate"></pagination>
    </div>
    <div class="col-md-6">
        <pagination class="pagination-icons mb-4 pagination-primary" [totalItems]="30" [rotate]="rotate"></pagination>
        <pagination class="pagination-icons mb-4 pagination-danger" [totalItems]="30" [rotate]="rotate"></pagination>
        <pagination class="pagination-icons mb-4 pagination-first" [totalItems]="30" [rotate]="rotate"></pagination>
        <pagination class="pagination-icons mb-4 pagination-second" [totalItems]="30" [rotate]="rotate"></pagination>
    </div>
</div>
