<div class="btn-group btn-group-sm m-2" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary">Left</button>
  <button type="button" class="btn active btn-primary">Middle</button>
  <button type="button" class="btn btn-primary">Right</button>
</div>

<div class="divider my-2"></div>

<div class="btn-group btn-group-lg m-2" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary">Left</button>
  <button type="button" class="btn active btn-primary">Middle</button>
  <button type="button" class="btn btn-primary">Right</button>
</div>
