<div class="hero-wrapper bg-composed-wrapper bg-vicious-stance min-vh-100">
    <div class="header-nav-wrapper header-nav-wrapper-xl bg-white-50 w-100 navbar-dark">
        <div class="text-center w-100 d-block font-weight-bold text-white-50 text-uppercase">Header menu placeholder</div>
    </div>
    <div class="flex-grow-1 w-100 d-flex align-items-center">
        <div class="bg-composed-wrapper--image opacity-3" style="background-image: url('assets/images/hero-bg/hero-5.jpg');"></div>
        <div class="bg-composed-wrapper--bg bg-second opacity-1"></div>
        <div class="bg-composed-wrapper--content py-5">
            <div class="container text-center py-5">
                <span class="badge badge-pill badge-neutral-danger px-4 h-auto py-1">Hero Section</span>
                <div class="text-white mt-3 px-2 px-xl-5">
                    <h1 class="display-3 py-3 px-2 px-xl-5 font-weight-bold">
                        Pleasure rationally encounter consequences
                    </h1>
                    <p class="font-size-lg text-white-50 mt-2 mb-4 d-block px-2 px-xl-5">
                        On the other hand, we denounce with righteous indignation and dislike.
                    </p>
                    <div class="divider border-2 my-5 border-light opacity-2 mx-auto rounded-circle w-25"></div>
                    <div>
                        <a [routerLink]="" class="btn btn-lg px-4 btn-danger">
                            <span class="btn-wrapper--icon">
                                <fa-icon [icon]="['far', 'object-group']"></fa-icon>
                            </span>
                            <span class="btn-wrapper--label">
                                Plans &amp; Pricing
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-footer">
        <div class="container">
            <div class="row pt-3">
                <div class="col-xl-4">
                    <div class="feature-box text-white mb-5 text-center">
                        <div class="bg-deep-blue text-center text-white font-size-xl mx-auto d-50 rounded-circle">
                            <fa-icon [icon]="['fas', 'bomb']"></fa-icon>
                        </div>
                        <h3 class="font-size-lg font-weight-bold mt-4">Widgets</h3>
                        <p class="text-white-50 mt-2">
                            But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and account of the system.
                        </p>
                        <button class="btn btn-pill btn-sm btn-outline-secondary shadow-none mt-1" type="button">Continue reading</button>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="feature-box text-white mb-5 text-center">
                        <div class="bg-grow-early text-center text-white font-size-xl mx-auto d-50 rounded-circle">
                            <fa-icon [icon]="['fas', 'network-wired']"></fa-icon>
                        </div>
                        <h3 class="font-size-lg font-weight-bold mt-4">Components</h3>
                        <p class="text-white-50 mt-2">
                            The master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.
                        </p>
                        <button class="btn btn-pill btn-sm btn-outline-secondary shadow-none mt-1" type="button">Continue reading</button>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="feature-box text-white mb-5 text-center">
                        <div class="bg-strong-bliss text-white font-size-xl mx-auto d-50 rounded-circle">
                            <fa-icon [icon]="['fas', 'birthday-cake']"></fa-icon>
                        </div>
                        <h3 class="font-size-lg font-weight-bold mt-4">Blocks</h3>
                        <p class="text-white-50 mt-2">
                            Who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee.
                        </p>
                        <button class="btn btn-pill btn-sm btn-outline-secondary shadow-none mt-1" type="button">Continue reading</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
