<div class="row">
  <div class="col-lg-6">
    <div class="p-2 text-center">
      <a [routerLink]="" class="m-3 btn btn-primary p-0 d-inline-block text-center font-size-xxl d-70 rounded" tooltip="Menu Example">
        <fa-icon [icon]="['far', 'building']" class="font-size-xxl text-white"></fa-icon>
      </a>
      <a [routerLink]="" class="m-3 btn btn-success p-0 d-inline-block text-center font-size-xxl d-70 rounded" tooltip="Menu Example">
        <fa-icon [icon]="['far', 'question-circle']" class="font-size-xxl text-white"></fa-icon>
      </a>
      <a [routerLink]="" class="m-3 btn btn-danger p-0 d-inline-block text-center font-size-xxl d-70 rounded" tooltip="Menu Example">
        <fa-icon [icon]="['far', 'user-circle']" class="font-size-xxl text-white"></fa-icon>
      </a>
      <a [routerLink]="" class="m-3 btn btn-primary border-0 p-0 shadow-sm bg-sunny-morning d-inline-block text-center d-70 rounded" tooltip="Menu Example">
        <fa-icon [icon]="['far', 'object-group']" class="font-size-xxl text-white"></fa-icon>
      </a>
      <a [routerLink]="" class="m-3 btn btn-primary border-0 p-0 shadow-sm bg-strong-bliss d-inline-block text-center d-70 rounded" tooltip="Menu Example">
        <fa-icon [icon]="['far', 'keyboard']" class="font-size-xxl text-white"></fa-icon>
      </a>
      <a [routerLink]="" class="m-3 btn btn-primary border-0 p-0 shadow-sm bg-night-sky d-inline-block text-center d-70 rounded" tooltip="Menu Example">
        <fa-icon [icon]="['far', 'comment-dots']" class="font-size-xxl text-white"></fa-icon>
      </a>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card card-box bg-premium-dark border-0">
      <div class="p-2 text-center">
        <a [routerLink]="" class="m-3 btn btn-link p-0 border-0 bg-love-kiss d-inline-block text-center d-70 rounded-circle card-box-hover-rise-alt" tooltip="Menu Example">
            <fa-icon [icon]="['far', 'question-circle']" class="font-size-xxl text-white"></fa-icon>
        </a>
        <a [routerLink]="" class="m-3 btn btn-link p-0 border-0 bg-ripe-malin d-inline-block text-center d-70 rounded-circle card-box-hover-rise-alt" tooltip="Menu Example">
            <fa-icon [icon]="['far', 'building']" class="font-size-xxl text-white"></fa-icon>
        </a>
        <a [routerLink]="" class="m-3 btn btn-link p-0 border-0 bg-grow-early d-inline-block text-center d-70 rounded-circle card-box-hover-rise-alt" tooltip="Menu Example">
            <fa-icon [icon]="['far', 'bell']" class="font-size-xxl text-white"></fa-icon>
        </a>
        <a [routerLink]="" class="m-3 btn btn-link p-0 border-0 bg-arielle-smile d-inline-block text-center d-70 rounded-circle card-box-hover-rise-alt" tooltip="Menu Example">
            <fa-icon [icon]="['far', 'file-excel']" class="font-size-xxl text-white"></fa-icon>
        </a>
        <a [routerLink]="" class="m-3 btn btn-link p-0 border-0 bg-night-fade d-inline-block text-center d-70 rounded-circle card-box-hover-rise-alt" tooltip="Menu Example">
            <fa-icon [icon]="['far', 'eye']" class="font-size-xxl text-white"></fa-icon>
        </a>
        <a [routerLink]="" class="m-3 btn btn-link p-0 border-0 bg-strong-bliss d-inline-block text-center d-70 rounded-circle card-box-hover-rise-alt" tooltip="Menu Example">
            <fa-icon [icon]="['far', 'chart-bar']" class="font-size-xxl text-white"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</div>
