<div class="timeline-list timeline-list-horizontal">
    <perfect-scrollbar [autoPropagation]="false" class="scroll-area-sm shadow-overflow-horizontal">
        <ul>
            <li class="timeline-item">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon"></div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">Lunch with investors</h4>
                    <p>
                        Mosaic, the first graphical browser, is introduced to the average consumer.
                    </p>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon bg-danger"></div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">Create new accounts</h4>
                    <p>
                        MySpace becomes the most popular social network.
                    </p>
                    <div class="mt-3">
                        <a [routerLink]=""><img alt="Rounded image" class="img-fluid rounded mr-3 shadow-sm"
                                                src="assets/images/stock-photos/people-3.jpg"
                                                width="70"></a>
                        <a [routerLink]=""><img alt="Rounded image" class="img-fluid rounded shadow-sm"
                                                src="assets/images/stock-photos/people-2.jpg"
                                                width="70"></a>
                    </div>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon"></div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">Lunch with investors</h4>
                    <p>
                        Mosaic, the first graphical browser, is introduced to the average consumer.
                    </p>
                    <div class="mt-2">
                        <button class="btn btn-sm btn-primary" type="button">Submit Report</button>
                    </div>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon bg-midnight-bloom"></div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">Learning round table gathering</h4>
                    <p>
                        Bill Clinton's presidential scandal makes it online.
                    </p>
                    <div class="avatar-wrapper-overlap d-flex justify-content-center mt-2 mb-1">
                        <div class="avatar-icon-wrapper avatar-icon-sm">
                            <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar1.jpg"/></div>
                        </div>
                        <div class="avatar-icon-wrapper avatar-icon-sm">
                            <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar2.jpg"/></div>
                        </div>
                        <div class="avatar-icon-wrapper avatar-icon-sm">
                            <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar6.jpg"/></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon"></div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">Lunch with investors</h4>
                    <p>
                        Mosaic, the first graphical browser, is introduced to the average consumer.
                    </p>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon bg-danger"></div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">Create new accounts</h4>
                    <p>
                        MySpace becomes the most popular social network.
                    </p>
                    <div class="mt-3">
                        <a [routerLink]=""><img alt="Rounded image" class="img-fluid rounded mr-3 shadow-sm"
                                                src="assets/images/stock-photos/people-3.jpg"
                                                width="70"></a>
                        <a [routerLink]=""><img alt="Rounded image" class="img-fluid rounded shadow-sm"
                                                src="assets/images/stock-photos/people-2.jpg"
                                                width="70"></a>
                    </div>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon"></div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">Lunch with investors</h4>
                    <p>
                        Mosaic, the first graphical browser, is introduced to the average consumer.
                    </p>
                    <div class="mt-2">
                        <button class="btn btn-sm btn-primary" type="button">Submit Report</button>
                    </div>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-item--content">
                    <div class="timeline-item--icon bg-midnight-bloom"></div>
                    <h4 class="timeline-item--label mb-2 font-weight-bold">Learning round table gathering</h4>
                    <p>
                        Bill Clinton's presidential scandal makes it online.
                    </p>
                    <div class="avatar-wrapper-overlap mt-2 mb-1">
                        <div class="avatar-icon-wrapper avatar-icon-sm">
                            <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar1.jpg"/></div>
                        </div>
                        <div class="avatar-icon-wrapper avatar-icon-sm">
                            <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar2.jpg"/></div>
                        </div>
                        <div class="avatar-icon-wrapper avatar-icon-sm">
                            <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar6.jpg"/></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </perfect-scrollbar>
</div>
