<div class="row">
    <div class="col-xl-6">
        <div class="card card-box mb-5">
            <div class="list-group list-group-flush">
                <perfect-scrollbar [autoPropagation]="true" class="scroll-area rounded bg-white shadow-overflow">
                    <div class="list-group-item py-3 border-0">
                        <div class="align-box-row w-100">
                            <div class="mr-3">
                                <div class="bg-neutral-dark text-primary text-center font-size-xl d-60 rounded-sm">
                                    <fa-icon [icon]="['far', 'bell']"></fa-icon>
                                </div>
                            </div>
                            <div>
                                <div class="font-weight-bold d-block opacity-8">Customers</div>
                                <div class="text-dark opacity-5">
                                    A wonderful serenity has taken possession of my entire soul.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="list-group-item py-3 border-0">
                        <div class="align-box-row w-100">
                            <div class="mr-3">
                                <div class="bg-neutral-dark text-primary text-center font-size-xl d-60 rounded-sm">
                                    <fa-icon [icon]="['far', 'object-group']"></fa-icon>
                                </div>
                            </div>
                            <div>
                                <div class="font-weight-bold d-block opacity-8">New articles</div>
                                <div class="text-dark opacity-5">
                                    I am alone, and feel the charm of existence in this spot.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="list-group-item py-3 border-0">
                        <div class="align-box-row w-100">
                            <div class="mr-3">
                                <div class="bg-neutral-dark text-primary text-center font-size-xl d-60 rounded-sm">
                                    <fa-icon [icon]="['far', 'chart-bar']"></fa-icon>
                                </div>
                            </div>
                            <div>
                                <div class="font-weight-bold d-block opacity-8">Blog posts</div>
                                <div class="text-dark opacity-5">
                                    When, while the lovely valley teems with vapour around me.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="list-group-item py-3 border-0">
                        <div class="align-box-row w-100">
                            <div class="mr-3">
                                <div class="bg-neutral-dark text-primary text-center font-size-xl d-60 rounded-sm">
                                    <fa-icon [icon]="['far', 'map']"></fa-icon>
                                </div>
                            </div>
                            <div>
                                <div class="font-weight-bold d-block opacity-8">Google maps</div>
                                <div class="text-dark opacity-5">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </div>
                            </div>
                        </div>
                    </div>
                </perfect-scrollbar>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card card-box mb-5">
            <perfect-scrollbar [autoPropagation]="true" class="scroll-area rounded bg-white shadow-overflow">
                <div class="p-3">
                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="font-weight-bold">
                                <a [routerLink]="" class="text-black">
                                    Wrong product price
                                </a>
                            </div>
                            <small class="d-flex pt-2 align-items-center">
                                <div class="avatar-icon-wrapper avatar-icon-xs mr-2">
                                    <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar1.jpg"/>
                                    </div>
                                </div>
                                <a [routerLink]="">Nazim Kidd</a>
                                <span class="pl-2 text-muted">opened 20 minutes ago</span>
                            </small>
                        </div>
                        <div>
                            <div class="badge badge-success">Completed</div>
                        </div>
                    </div>
                    <div class="divider my-3"></div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="font-weight-bold">
                                <a [routerLink]="" class="text-black">
                                    Active IE8 issues
                                </a>
                            </div>
                            <small class="d-flex pt-2 align-items-center">
                                <div class="avatar-icon-wrapper avatar-icon-xs mr-2">
                                    <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar2.jpg"/>
                                    </div>
                                </div>
                                <a [routerLink]="">Charlton Oconnell</a>
                                <span class="pl-2 text-muted">opened two hours ago</span>
                            </small>
                        </div>
                        <div>
                            <div class="badge badge-success">Completed</div>
                        </div>
                    </div>
                    <div class="divider my-3"></div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="font-weight-bold">
                                <a [routerLink]="" class="text-black">
                                    My account doesn't work
                                </a>
                            </div>
                            <small class="d-flex pt-2 align-items-center">
                                <div class="avatar-icon-wrapper avatar-icon-xs mr-2">
                                    <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar3.jpg"/>
                                    </div>
                                </div>
                                <a [routerLink]="">Isha Rollins</a>
                                <span class="pl-2 text-muted">opened three hours ago</span>
                            </small>
                        </div>
                        <div>
                            <div class="badge badge-info">On Hold</div>
                        </div>
                    </div>
                    <div class="divider my-3"></div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="font-weight-bold">
                                <a [routerLink]="" class="text-black">
                                    Unpaid invoice status
                                </a>
                            </div>
                            <small class="d-flex pt-2 align-items-center">
                                <div class="avatar-icon-wrapper avatar-icon-xs mr-2">
                                    <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar4.jpg"/>
                                    </div>
                                </div>
                                <a [routerLink]="">Celine Goulding</a>
                                <span class="pl-2 text-muted">opened 3 days ag0</span>
                            </small>
                        </div>
                        <div>
                            <div class="badge badge-warning">Pending</div>
                        </div>
                    </div>
                    <div class="divider my-3"></div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="font-weight-bold">
                                <a [routerLink]="" class="text-black">
                                    Mobile app problems
                                </a>
                            </div>
                            <small class="d-flex pt-2 align-items-center">
                                <div class="avatar-icon-wrapper avatar-icon-xs mr-2">
                                    <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar5.jpg"/>
                                    </div>
                                </div>
                                <a [routerLink]="">Kush Malone</a>
                                <span class="pl-2 text-muted">opened one week ago</span>
                            </small>
                        </div>
                        <div>
                            <div class="badge badge-danger">Rejected</div>
                        </div>
                    </div>
                    <div class="divider my-3"></div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="font-weight-bold">
                                <a [routerLink]="" class="text-black">
                                    Responsive issues on Firefox
                                </a>
                            </div>
                            <small class="d-flex pt-2 align-items-center">
                                <div class="avatar-icon-wrapper avatar-icon-xs mr-2">
                                    <div class="avatar-icon"><img alt="..." src="assets/images/avatars/avatar6.jpg"/>
                                    </div>
                                </div>
                                <a [routerLink]="">Celine Goulding</a>
                                <span class="pl-2 text-muted">opened one week ago</span>
                            </small>
                        </div>
                        <div>
                            <div class="badge badge-info">On Hold</div>
                        </div>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
    </div>
</div>
