<apx-chart
        [chart]="{
                    type: 'line',
                    height: '350',
                    shadow: {
                      enabled: false,
                      color: '#bbb',
                      top: 3,
                      left: 2,
                      blur: 3,
                      opacity: 1
                  }
                            }"
        [xaxis]="{
                type: 'datetime',
                categories: ['1/11/2000', '2/11/2000', '3/11/2000', '4/11/2000', '5/11/2000', '6/11/2000', '7/11/2000', '8/11/2000', '9/11/2000', '10/11/2000', '11/11/2000', '12/11/2000', '1/11/2001', '2/11/2001', '3/11/2001','4/11/2001' ,'5/11/2001' ,'6/11/2001']
        }"
        [fill]="{
                  type: 'gradient',
                  gradient: {
                      shade: 'dark',
                      gradientToColors: [ '#FFA41B'],
                      shadeIntensity: 1,
                      type: 'horizontal',
                      opacityFrom: 1,
                      opacityTo: 1,
                      stops: [0, 100, 100, 100]
                  }
        }"

        [markers]="{
            size: 6,
            opacity: 0.9,
            colors: ['#FFA41B'],
            strokeColor: '#fff',
            strokeWidth: 2,

            hover: {
              size: 10
            }
        }"

        [grid]="{
                    borderColor: 'rgba(125, 138, 156, 0.4)'
                }"
        [series]="[
                    {
                      name: 'Likes',
                      data: [4, 3, 10, 9, 29, 19, 22, 9, 12, 7, 19, 5, 13, 9, 17, 2, 7, 5]
                    }
                  ]"

        [stroke]="{
                    width: 7,
                    curve: 'smooth'
                  }"
></apx-chart>
