<div class="row">
    <div class="col-xl-6">
        <div class="card card-box mb-5">
            <div class="card-header-alt d-flex justify-content-between p-4">
                <div>
                    <h6 class="font-weight-bold font-size-lg mb-1 text-black">Weekly Sales</h6>
                    <p class="text-black-50 mb-0">Reports for what we sold this week.</p>
                </div>
                <div class="d-flex align-items-center">
                    <div class="btn-group" dropdown placement="bottom right">
                        <button class="btn btn-link btn-link-second p-0 font-size-xl text-muted dropdown-toggle no-caret"
                                dropdownToggle
                                type="button">
                            <fa-icon [icon]="['fas', 'ellipsis-h']" class="font-size-lg"></fa-icon>
                        </button>
                        <div *dropdownMenu
                             class="dropdown-menu dropdown-menu-right dropdown-menu-xxl overflow-hidden p-0">
                            <div class="grid-menu grid-menu-2col">
                                <div class="no-gutters row">
                                    <div class="col-sm-6">
                                        <button class="btn border-0 w-100 btn-transition-none rounded-0 shadow-none btn-outline-gray py-4 px-1"
                                                type="button">
                                            <fa-icon [icon]="['far', 'file-excel']"
                                                     class="h2 d-block mb-2 mt-1 text-first"></fa-icon>
                                            <div class="font-weight-bold text-black">Statistics</div>
                                            <div class="font-size-md mb-1 text-black-50">Customers stats</div>
                                        </button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button class="btn border-0 w-100 btn-transition-none rounded-0 shadow-none btn-outline-gray py-4 px-1"
                                                type="button">
                                            <fa-icon [icon]="['far', 'chart-bar']"
                                                     class="h2 d-block mb-2 mt-1 text-first"></fa-icon>
                                            <div class="font-weight-bold text-black">Tasks</div>
                                            <div class="font-size-md mb-1 text-black-50">Pending items</div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="sparkline-full-wrapper sparkline-full-wrapper--xl px-5 pt-3 m-0 bg-secondary">
                <canvas [chartType]="'line'"
                        [colors]="chartSuccessColor"
                        [datasets]="chartDataset1"
                        [labels]="chartLabels1"
                        [options]="chartOptions1"
                        baseChart></canvas>
            </div>
            <div class="divider"></div>
            <div class="p-4">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-1 font-weight-bold font-size-xl">76%</div>
                        <progressbar [animate]="true" [value]="76" class="progress-xs"
                                     type="danger">
                        </progressbar>
                        <div class="text-muted pt-1">
                            Sales
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-1 font-weight-bold font-size-xl">23%</div>
                        <progressbar [animate]="true" [value]="23" class="progress-xs"
                                     type="info">
                        </progressbar>
                        <div class="text-muted pt-1">
                            Profiles
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-1 font-weight-bold font-size-xl">51%</div>
                        <progressbar [animate]="true" [value]="51" class="progress-xs"
                                     type="warning">
                        </progressbar>
                        <div class="text-muted pt-1">
                            Tickets
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="row">
            <div class="col-lg-6">
                <div class="card px-3 pt-3 mb-5">
                    <div class="d-flex justify-content-between">
                        <div class="pr-5 flex-grow-1 text-nowrap">
                            <div class="text-uppercase text-muted font-weight-bold font-size-sm mb-2">
                                Bitcoin
                            </div>
                            <div class="font-weight-bold">
                                <div class="text-success">
                                    <span>54%</span>
                                    <fa-icon [icon]="['fas', 'angle-up']" class="ml-2"></fa-icon>
                                </div>
                                <div class="font-size-xl mb-0">$8,764</div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center pt-2 px-3">
                            <apx-chart
                                    [chart]="{
                                        type: 'line',
                                        height: 90,
                                        sparkline: {
                                            enabled: true
                                        }
                                    }"
                                    [colors]="['#f4772e']"
                                    [markers]="{
                                        size: 0
                                    }"
                                    [series]="[
                                      {
                                        name: 'Orders',
                                        data: [47, 38, 56, 24, 56, 24, 65]
                                      }
                                    ]"
                                    [stroke]="{
                                            color: '#4191ff',
                                            width: 3
                                    }"
                                    [xaxis]="{
                                        crosshairs: {
                                            width: 0
                                        }
                                    }"
                                    [yaxis]="{
                                        min: 0
                                    }"
                            ></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card px-3 pt-3 mb-5">
                    <div class="d-flex justify-content-between">
                        <div class="pr-5 flex-grow-1 text-nowrap">
                            <div class="text-uppercase text-muted font-weight-bold font-size-sm mb-2">
                                Cardano
                            </div>
                            <div class="font-weight-bold">
                                <div class="text-success">
                                    <span>67%</span>
                                    <fa-icon [icon]="['fas', 'angle-up']" class="ml-2"></fa-icon>
                                </div>
                                <div class="font-size-xl mb-0">$6,324</div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center pt-2 px-3">
                            <apx-chart
                                    [chart]="{
                                        type: 'line',
                                        height: 90,
                                        sparkline: {
                                            enabled: true
                                        }
                                    }"
                                    [colors]="['#11c5db']"
                                    [markers]="{
                                        size: 0
                                    }"
                                    [series]="[
                                      {
                                        name: 'Orders',
                                        data: [ 38, 44,56,47, 26, 24, 45]
                                      }
                                    ]"
                                    [stroke]="{
                                            color: '#11c5db',
                                            width: 3
                                    }"
                                    [xaxis]="{
                                        crosshairs: {
                                            width: 0
                                        }
                                    }"
                                    [yaxis]="{
                                        min: 0
                                    }"
                            ></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card px-3 pt-3 mb-5">
                    <div class="d-flex justify-content-between">
                        <div class="pr-5 flex-grow-1 text-nowrap">
                            <div class="text-uppercase text-muted font-weight-bold font-size-sm mb-2">
                                Ethereum
                            </div>
                            <div class="font-weight-bold">
                                <div class="text-danger">
                                    <span>32%</span>
                                    <fa-icon [icon]="['fas', 'angle-down']" class="ml-2"></fa-icon>
                                </div>
                                <div class="font-size-xl mb-0">$456</div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center pt-2 px-3">
                            <apx-chart
                                    [chart]="{
                                        type: 'line',
                                        height: 90,
                                        sparkline: {
                                            enabled: true
                                        }
                                    }"
                                    [colors]="['#1bc943']"
                                    [markers]="{
                                        size: 0
                                    }"
                                    [series]="[
                                      {
                                        name: 'Ethereum price:',
                                        data: [ 38, 43, 24, 56, 35, 56, 65]
                                      }
                                    ]"
                                    [stroke]="{
                                            color: '#1bc943',
                                            width: 3
                                    }"
                                    [xaxis]="{
                                        crosshairs: {
                                            width: 0
                                        }
                                    }"
                                    [yaxis]="{
                                        min: 0
                                    }"
                            ></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card px-3 pt-3 mb-5">
                    <div class="d-flex justify-content-between">
                        <div class="pr-5 flex-grow-1 text-nowrap">
                            <div class="text-uppercase text-muted font-weight-bold font-size-sm mb-2">
                                Ripple
                            </div>
                            <div class="font-weight-bold">
                                <div class="text-danger">
                                    <span>21%</span>
                                    <fa-icon [icon]="['fas', 'angle-down']" class="ml-2"></fa-icon>
                                </div>
                                <div class="font-size-xl mb-0">$674</div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center pt-2 px-3">
                            <apx-chart
                                    [chart]="{
                                        type: 'line',
                                        height: 90,
                                        sparkline: {
                                            enabled: true
                                        }
                                    }"
                                    [colors]="['#4191ff']"
                                    [markers]="{
                                        size: 0
                                    }"
                                    [series]="[
                                      {
                                        name: 'Ripple price:',
                                        data: [33, 56, 24, 23, 24, 65, 43 ]
                                      }
                                    ]"
                                    [stroke]="{
                                            color: '#4191ff',
                                            width: 3
                                    }"
                                    [xaxis]="{
                                        crosshairs: {
                                            width: 0
                                        }
                                    }"
                                    [yaxis]="{
                                        min: 0
                                    }"
                            ></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card px-3 pt-3 mb-5">
                    <div class="d-flex justify-content-between">
                        <div class="pr-5 flex-grow-1 text-nowrap">
                            <div class="text-uppercase text-muted font-weight-bold font-size-sm mb-2">
                                Tether
                            </div>
                            <div class="font-weight-bold">
                                <div class="text-success">
                                    <span>15%</span>
                                    <fa-icon [icon]="['fas', 'angle-up']" class="ml-2"></fa-icon>
                                </div>
                                <div class="font-size-xl mb-0">$12</div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center pt-2 px-3">
                            <apx-chart
                                    [chart]="{
                                        type: 'line',
                                        height: 90,
                                        sparkline: {
                                            enabled: true
                                        }
                                    }"
                                    [colors]="['#f83245']"
                                    [markers]="{
                                        size: 0
                                    }"
                                    [series]="[
                                      {
                                        name: 'Tether price:',
                                        data: [32, 43, 33, 61, 23, 24, 39 ]
                                      }
                                    ]"
                                    [stroke]="{
                                            color: '#f83245',
                                            width: 3
                                    }"
                                    [xaxis]="{
                                        crosshairs: {
                                            width: 0
                                        }
                                    }"
                                    [yaxis]="{
                                        min: 0
                                    }"
                            ></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card px-3 pt-3 mb-5">
                    <div class="d-flex justify-content-between">
                        <div class="pr-5 flex-grow-1 text-nowrap">
                            <div class="text-uppercase text-muted font-weight-bold font-size-sm mb-2">
                                Litecoin
                            </div>
                            <div class="font-weight-bold">
                                <div class="text-warning">
                                    <span>0%</span>
                                    <fa-icon [icon]="['fas', 'angle-right']" class="ml-2"></fa-icon>
                                </div>
                                <div class="font-size-xl mb-0">76</div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center pt-2 px-3">
                            <apx-chart
                                    [chart]="{
                                        type: 'line',
                                        height: 90,
                                        sparkline: {
                                            enabled: true
                                        }
                                    }"
                                    [colors]="['#070919']"
                                    [markers]="{
                                        size: 0
                                    }"
                                    [series]="[
                                      {
                                        name: 'Litecoin price:',
                                        data: [24, 33, 24, 56,  23, 65, 43 ]
                                      }
                                    ]"
                                    [stroke]="{
                                            color: '#070919',
                                            width: 3
                                    }"
                                    [xaxis]="{
                                        crosshairs: {
                                            width: 0
                                        }
                                    }"
                                    [yaxis]="{
                                        min: 0
                                    }"
                            ></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
