<div class="ui-g card-container">
    <div class="ui-g-12 ui-md-6 ui-lg-3 card highlight-card">
        <div class="title">Chiffres d'Affaires Journalier</div>
        <div class="data">1500 €</div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3 card highlight-card">
        <div class="title">Chiffres d'Affaires Hebdomadaire</div>
        <div class="data">12000 €</div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3 card highlight-card">
        <div class="title">Chiffres d'Affaires Mensuel</div>
        <div class="data">32500 €</div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3 card highlight-card">
        <div class="title">Chiffres d'Affaires Annuel</div>
        <div class="data">324000 €</div>
    </div>
</div>
<div class="ui-g card-container">
    <div class="ui-g-12 ui-md-6 ui-lg-3 card highlight-card">
        <div class="title">Volume envoyé Journalier</div>
        <div class="data">124</div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3 card highlight-card">
        <div class="title">Volume envoyé Hebdomadaire</div>
        <div class="data">1253</div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3 card highlight-card">
        <div class="title">Volume envoyé Mensuel</div>
        <div class="data">4207</div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3 card highlight-card">
        <div class="title">Volume envoyé Annuel</div>
        <div class="data">41237</div>
    </div>
</div>