<progressbar type="primary" [value]="25" class="mb-4"></progressbar>
<progressbar type="success" [value]="35" class="mb-4"></progressbar>
<progressbar type="danger" [value]="45" class="mb-4"></progressbar>
<progressbar type="info" [value]="55" class="mb-4"></progressbar>
<progressbar type="warning" [value]="65" class="mb-4"></progressbar>
<progressbar type="dark" [value]="75" class="mb-4"></progressbar>
<progressbar type="first" [value]="85" class="mb-4"></progressbar>
<progressbar type="second" [value]="95"></progressbar>
