<div class="card card-box mb-5">
    <div class="list-group list-group-flush">
        <div class="list-group-item text-center text-md-left p-4 d-block d-md-flex justify-content-between align-items-center">
            <a [routerLink]="" class="avatar-icon-wrapper mr-0 mr-md-3">
                <div class="d-block p-0 avatar-icon-wrapper m-0 d-100">
                    <span class="badge badge-circle badge-success p-top-a">Online</span>
                    <div class="rounded overflow-hidden">
                        <img alt="..." class="img-fluid" src="assets/images/avatars/avatar6.jpg"/>
                    </div>
                </div>
            </a>
            <div class="d-flex flex-grow-1 pl-1 flex-column">
                <div class="d-flex flex-column flex-xl-row justify-content-between">
                    <div>
                        <a [routerLink]="" class="font-size-lg mx-0 my-3 my-xl-0 font-weight-bold btn text-black p-0">Trystan
                            Russo</a>
                        <div class="d-block d-md-flex align-items-center my-2">
                            <fa-icon [icon]="['far', 'envelope']" class="mr-2"></fa-icon>
                            <span class="text-black-50 pr-4">russotry@russo.com</span>

                            <fa-icon [icon]="['far', 'address-card']" class="mr-2"></fa-icon>
                            <span class="text-black-50 pr-4">Project Manager</span>

                            <fa-icon [icon]="['far', 'map']" class="mr-2"></fa-icon>
                            <span class="text-black-50">San Francisco, USA</span>
                        </div>
                    </div>
                    <div class="pb-3 pt-1 py-xl-0">
                        <button class="btn btn-primary shadow-none btn-sm mr-2 text-uppercase font-size-xs font-weight-bold">
                            Chat
                        </button>
                        <button class="btn btn-neutral-danger btn-sm text-uppercase font-size-xs font-weight-bold">
                            Profile
                        </button>
                    </div>
                </div>
                <div class="d-block d-xl-flex justify-content-between align-items-center">
                    <p class="text-black-50 mb-0 font-size-sm pr-0 pr-xl-4">
                        McClintock's eye for detail certainly helped narrow the whereabouts.
                    </p>
                    <div class="d-flex flex-grow-1 pl-0 pl-xl-5 align-items-center">
                        <div class="text-black-50">Progress</div>
                        <progressbar [animate]="true" [value]="56"
                                     class="progress-bar-rounded progress-xs progress-animated-alt mx-2"
                                     type="danger"></progressbar>
                        <div class="font-weight-bold font-size-lg">56%</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group-item text-center text-md-left p-4 d-block d-md-flex justify-content-between align-items-center">
            <a [routerLink]="" class="avatar-icon-wrapper mr-0 mr-md-3">
                <div class="d-block p-0 avatar-icon-wrapper m-0 d-100">
                    <span class="badge badge-position badge-position--bottom-right badge-circle badge-info">Offline</span>
                    <div class="rounded overflow-hidden bg-neutral-danger font-size-lg text-center font-weight-bold text-danger d-flex justify-content-center flex-column">
                        <span>HS</span>
                    </div>
                </div>
            </a>
            <div class="d-flex flex-grow-1 pl-1 flex-column">
                <div class="d-flex flex-column flex-xl-row justify-content-between">
                    <div>
                        <a [routerLink]="" class="font-size-lg mx-0 my-3 my-xl-0 font-weight-bold btn text-black p-0">Zara
                            Wagstaff</a>
                        <div class="d-block d-md-flex align-items-center my-2">
                            <fa-icon [icon]="['far', 'envelope']" class="mr-2"></fa-icon>
                            <span class="text-black-50 pr-4">zara@wags.com</span>

                            <fa-icon [icon]="['far', 'address-card']" class="mr-2"></fa-icon>
                            <span class="text-black-50 pr-4">UX Consultant</span>

                            <fa-icon [icon]="['far', 'map']" class="mr-2"></fa-icon>
                            <span class="text-black-50">London, UK</span>
                        </div>
                    </div>
                    <div class="pb-3 pt-1 py-xl-0">
                        <button class="btn btn-primary shadow-none btn-sm mr-2 text-uppercase font-size-xs font-weight-bold">
                            Chat
                        </button>
                        <button class="btn btn-neutral-danger btn-sm text-uppercase font-size-xs font-weight-bold">
                            Profile
                        </button>
                    </div>
                </div>
                <div class="d-block d-xl-flex justify-content-between align-items-center">
                    <p class="text-black-50 mb-0 font-size-sm pr-0 pr-xl-4">
                        A 1914 English translation by Harris Rackham reads.
                    </p>
                    <div class="d-flex flex-grow-1 pl-0 pl-xl-5 align-items-center">
                        <div class="text-black-50">Progress</div>
                        <progressbar [animate]="true" [value]="32"
                                     class="progress-bar-rounded progress-xs progress-animated-alt mx-2"
                                     type="warning"></progressbar>
                        <div class="font-weight-bold font-size-lg">32%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
