<div class="feature-section">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="feature-box text-center mb-5">
                    <img src="assets/images/illustrations/business_plan.svg" class="w-25 mx-auto d-block img-fluid" alt="...">
                    <h3 class="font-size-lg font-weight-bold my-3">Widgets</h3>
                    <p class="text-black-50 mb-3">
                        But I must explain to you how all this mistaken.
                    </p>
                    <a [routerLink]="" class="btn btn-first btn-sm" title="Learn more"><span>Learn more</span></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-box text-center mb-5">
                    <img src="assets/images/illustrations/businesswoman.svg" class="w-25 mx-auto d-block img-fluid" alt="...">
                    <h3 class="font-size-lg font-weight-bold my-3">Components</h3>
                    <p class="text-black-50 mb-3">
                        So blinded by desire, that they cannot foresee.
                    </p>
                    <a [routerLink]="" class="btn btn-first btn-sm" title="Learn more"><span>Learn more</span></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-box text-center mb-5">
                    <img src="assets/images/illustrations/powerful.svg" class="w-25 mx-auto d-block img-fluid" alt="...">
                    <h3 class="font-size-lg font-weight-bold my-3">Blocks</h3>
                    <p class="text-black-50 mb-3">
                        It takes a trivial example, which of us.
                    </p>
                    <a [routerLink]="" class="btn btn-first btn-sm" title="Learn more"><span>Learn more</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
