<div class="feature-box py-3 py-xl-5">
    <div class="container py-3 py-xl-5">
        <div class="row">
            <div class="col-xl-6">
                <div class="py-0 pb-5 py-xl-5">
                    <div class="pr-0 pr-xl-5">
                        <h1 class="display-3 mb-3 font-weight-bold">
                            Wonderful serenity has possession
                        </h1>
                        <p class="font-size-lg text-black-50">
                            A free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best.
                        </p>
                    </div>
                    <div class="d-block mt-4">
                        <ngx-slick-carousel [config]='
                                {
                                    "slidesToShow": 2,
                                    "slidesToScroll": 2,
                                    "dots": true,
                                    "prevArrow": "<button type=\"button\" class=\"slick-prev\"><i class=\"ion-ios-arrow-back font-size-xl\"></i></button>",
                                    "nextArrow": "<button type=\"button\" class=\"slick-next\"><i class=\"ion-ios-arrow-forward font-size-xl\"></i></fa-icon></button>"
                                }' class="slick-slider slick-slider-left">
                            <div ngxSlickItem>
                                <div class="feature-box pr-4">
                                    <h3 class="font-size-lg font-weight-bold my-3">
                                        <a class="text-first" [routerLink]="" title="">
                                            Elements
                                        </a>
                                    </h3>
                                    <p class="text-black-50 mb-3">
                                        It takes a trivial example, which of us ever undertakes.
                                    </p>
                                </div>
                            </div>
                            <div ngxSlickItem>
                                <div class="feature-box pr-4">
                                    <h3 class="font-size-lg font-weight-bold my-3">
                                        <a class="text-first" [routerLink]="" title="">
                                            Widgets
                                        </a>
                                    </h3>
                                    <p class="text-black-50 mb-3">
                                        Occur in which toil and pain can procure him some great pleasure.
                                    </p>
                                </div>
                            </div>
                            <div ngxSlickItem>
                                <div class="feature-box pr-4">
                                    <h3 class="font-size-lg font-weight-bold my-3">
                                        <a class="text-first" [routerLink]="" title="">
                                            Components
                                        </a>
                                    </h3>
                                    <p class="text-black-50 mb-3">
                                        Nor again is there anyone who loves or pursues or desires.
                                    </p>
                                </div>
                            </div>
                            <div ngxSlickItem>
                                <div class="feature-box pr-4">
                                    <h3 class="font-size-lg font-weight-bold my-3">
                                        <a class="text-first" [routerLink]="" title="">
                                            Pages
                                        </a>
                                    </h3>
                                    <p class="text-black-50 mb-3">
                                        On the other hand, we denounce with righteous indignation.
                                    </p>
                                </div>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                </div>
            </div>
            <div class="d-flex col-xl-6 align-items-center">
                <img alt="..." class="img-fluid" src="assets/images/illustrations/projections.svg">
            </div>
        </div>
    </div>
</div>
