<div class="row">
    <div class="col-xl-6">
        <div class="heading-3 text-center">Three columns example</div>
        <div class="card card-box shadow-none mb-3 mx-3">
            <div class="grid-menu grid-menu-3col">
                <div class="no-gutters row">
                    <div class="col-sm-6 col-xl-4 p-3">
                        <button class="btn border-0 w-100 btn-outline-primary">
                            <i class="ion-ios-cellular font-size-xxl d-block mb-2"></i>
                            <span>Primary</span>
                        </button>
                    </div>
                    <div class="col-sm-6 col-xl-4 p-3">
                        <button class="btn border-0 w-100 btn-outline-first">
                            <i class="ion-ios-chatboxes font-size-xxl d-block mb-2"></i>
                            <span>First</span>
                        </button>
                    </div>
                    <div class="col-sm-6 col-xl-4 p-3">
                        <button class="btn border-0 w-100 btn-outline-success">
                            <i class="ion-ios-finger-print font-size-xxl d-block mb-2"></i>
                            <span>Success</span>
                        </button>
                    </div>
                    <div class="col-sm-6 col-xl-4 p-3">
                        <button class="btn border-0 w-100 btn-outline-info">
                            <i class="ion-ios-medal font-size-xxl d-block mb-2"></i>
                            <span>Info</span>
                        </button>
                    </div>
                    <div class="col-sm-6 col-xl-4 p-3">
                        <button class="btn border-0 w-100 btn-outline-warning">
                            <i class="ion-ios-speedometer font-size-xxl d-block mb-2"></i>
                            <span>Warning</span>
                        </button>
                    </div>
                    <div class="col-sm-6 col-xl-4 p-3">
                        <button class="btn border-0 w-100 btn-outline-danger">
                            <i class="ion-ios-sunny font-size-xxl d-block mb-2"></i>
                            <span>Danger</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="heading-3 text-center">Two columns example</div>
        <div class="card card-box shadow-none mb-3 mx-3">
            <div class="grid-menu grid-menu-2col">
                <div class="no-gutters row">
                    <div class="col-sm-6 p-3">
                        <button class="btn border-0 w-100 btn-outline-primary">
                            <i class="ion-ios-flame font-size-xxl d-block mb-2"></i>
                            <span>Primary</span>
                        </button>
                    </div>
                    <div class="col-sm-6 p-3">
                        <button class="btn border-0 w-100 btn-outline-info">
                            <i class="ion-ios-images font-size-xxl d-block mb-2"></i>
                            <span>Info</span>
                        </button>
                    </div>
                    <div class="col-sm-6 p-3">
                        <button class="btn border-0 w-100 btn-outline-success">
                            <i class="ion-ios-people font-size-xxl d-block mb-2"></i>
                            <span>Success</span>
                        </button>
                    </div>
                    <div class="col-sm-6 p-3">
                        <button class="btn border-0 w-100 btn-outline-danger">
                            <i class="ion-ios-rocket font-size-xxl d-block mb-2"></i>
                            <span>Danger</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
