<div class="app-wrapper bg-secondary">
    <div class="app-main">
        <div class="app-content p-0">
            <div class="app-inner-content-layout--main">
                <div class="flex-grow-1 w-100 d-flex align-items-center">
                    <div class="bg-composed-wrapper--content">
                        <div class="hero-wrapper bg-composed-wrapper min-vh-100">
                            <div class="flex-grow-1 w-100 d-flex align-items-center">
                                <div class="col-lg-6 col-md-9 px-4 mx-auto text-center text-black">
                                    <img src="assets/images/illustrations/505.svg" class="w-50 mx-auto d-block my-5 img-fluid" alt="...">

                                    <h1 class="display-1 mb-3 px-4 font-weight-bold">
                                        505 Forbidden
                                    </h1>
                                    <h3 class="font-size-xxl line-height-sm font-weight-light d-block px-3 mb-3 text-black-50">
                                        Something is broken.
                                    </h3>
                                    <p>
                                        We've been automatically alerted of the issue and will work to fix it as soon as possible.
                                    </p>
                                    <a href="javascript:history.back()" class="btn px-5 btn-first mt-4 mb-3 btn-lg">
                                        <span class="btn-wrapper--icon">
                                            <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>
                                        </span>
                                        <span class="btn-wrapper--label">Back to previous page</span>
                                    </a>
                                </div>
                            </div>
                            <div class="hero-footer py-4">
                                <ul class="nav nav-pills nav-neutral-first">
                                    <li class="nav-item">
                                        <a class="nav-link rounded-sm font-size-lg text-black-50" [routerLink]="" tooltip="Facebook">
                                            <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link rounded-sm font-size-lg text-black-50" [routerLink]="" tooltip="Twitter">
                                            <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link rounded-sm font-size-lg text-black-50" [routerLink]="" tooltip="Google">
                                            <fa-icon [icon]="['fab', 'google']"></fa-icon>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link rounded-sm font-size-lg text-black-50" [routerLink]="" tooltip="Instagram">
                                            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
