<div class="row">
    <div class="col-xl-6">
        <div class="card mb-5">
            <div class="card-img-wrapper">
                <div class="card-badges card-badges-top">
                    <span class="badge badge-pill badge-info">NEW</span>
                </div>
                <div class="bg-composed-wrapper bg-vicious-stance border-0">
                    <div class="bg-composed-img-3 bg-composed-wrapper--image"></div>
                    <div class="bg-composed-wrapper--content text-center text-light p-5">
                        <h1 class="display-4 pt-3 pb-1 font-weight-bold mb-0">
                            Knowledgebase
                        </h1>
                        <p class="text-white-50 mb-3">Example heading description line here...</p>
                    </div>
                </div>
            </div>
            <div class="card-body text-center card-body-button">
                <div class="card-body-button-wrapper">
                    <button class="btn btn-lg btn-success btn-pill text-nowrap px-5 shadow-none border-3 border-white">
                        Send us a message
                    </button>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="bg-secondary p-3 text-center rounded">
                            <div>
                                <fa-icon [icon]="['far', 'user']" class="font-size-xxl text-warning"></fa-icon>
                            </div>
                            <div class="mt-2 line-height-sm">
                                <b class="font-size-lg">2,345</b>
                                <span class="text-black-50 d-block">users</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="bg-secondary p-3 text-center rounded">
                            <div>
                                <fa-icon [icon]="['fas', 'lemon']" class="font-size-xxl text-success"></fa-icon>
                            </div>
                            <div class="mt-2 line-height-sm">
                                <b class="font-size-lg">$3,586</b>
                                <span class="text-black-50 d-block">sales</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="bg-secondary p-3 text-center rounded">
                            <div>
                                <fa-icon [icon]="['far', 'chart-bar']" class="font-size-xxl text-info"></fa-icon>
                            </div>
                            <div class="mt-2 line-height-sm">
                                <b class="font-size-lg">$9,693</b>
                                <span class="text-black-50 d-block">revenue</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table text-left text-nowrap mt-4 table-alternate table-hover mb-0 table-borderless">
                        <tbody>
                        <tr>
                            <td>
                                <div class="d-flex">
                                    <div class="custom-checkbox custom-control align-self-center">
                                        <input class="custom-control-input" id="inputCheckbox188" type="checkbox">
                                        <label class="custom-control-label" for="inputCheckbox188">&nbsp;</label>
                                    </div>
                                    <div><a [routerLink]="" class="font-weight-bold text-black" title="...">Inez
                                        Conley</a><span
                                            class="text-black-50 d-block">Project Manager</span></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span class="font-weight-bold">$18,386</span>
                            </td>
                            <td class="text-center">
                                <span class="text-danger font-weight-bold">-6,310</span>
                            </td>
                            <td class="text-center">
                                <span class="badge badge-warning">Pending</span>
                            </td>
                            <td class="text-right">
                                <div class="d-flex align-items-center justify-content-end">
                                    <div [countUp]="584" class="font-weight-bold font-size-lg pr-2"></div>
                                    <fa-icon [icon]="['fas', 'arrow-down']"
                                             class="font-size-sm opacity-5"></fa-icon>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex">
                                    <div class="custom-checkbox custom-control align-self-center">
                                        <input class="custom-control-input" id="inputCheckbox177" type="checkbox">
                                        <label class="custom-control-label" for="inputCheckbox177">&nbsp;</label>
                                    </div>
                                    <div><a [routerLink]="" class="font-weight-bold text-black" title="...">Adyan
                                        Sosa</a><span
                                            class="text-black-50 d-block">User Experience Designer</span></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span class="font-weight-bold">$6,356</span>
                            </td>
                            <td class="text-center">
                                <span class="text-warning">-374</span>
                            </td>
                            <td class="text-center">
                                <span class="badge badge-first">Waiting</span>
                            </td>
                            <td class="text-right">
                                <div class="d-flex align-items-center justify-content-end">
                                    <div [countUp]="483" class="font-weight-bold font-size-lg pr-2"></div>
                                    <fa-icon [icon]="['fas', 'arrow-up']"
                                             class="font-size-sm opacity-5"></fa-icon>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex">
                                    <div class="custom-checkbox custom-control align-self-center">
                                        <input class="custom-control-input" id="inputCheckbox166" type="checkbox">
                                        <label class="custom-control-label" for="inputCheckbox166">&nbsp;</label>
                                    </div>
                                    <div><a [routerLink]="" class="font-weight-bold text-black" title="...">Beck
                                        Simpson</a><span class="text-black-50 d-block">Senior Consultant</span></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span class="font-weight-bold">$16,281</span>
                            </td>
                            <td class="text-center">
                                <span class="text-success">+684</span>
                            </td>
                            <td class="text-center">
                                <span class="badge badge-success">Done</span>
                            </td>
                            <td class="text-right">
                                <div class="d-flex align-items-center justify-content-end">
                                    <div class="font-weight-bold font-size-lg pr-2"> $12,23M</div>
                                    <fa-icon [icon]="['fas', 'arrow-up']"
                                             class="font-size-sm opacity-5"></fa-icon>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex">
                                    <div class="custom-checkbox custom-control align-self-center">
                                        <input class="custom-control-input" id="inputCheckbox166" type="checkbox">
                                        <label class="custom-control-label" for="inputCheckbox166">&nbsp;</label>
                                    </div>
                                    <div><a [routerLink]="" class="font-weight-bold text-black" title="...">Niyah
                                        Crossley</a><span class="text-black-50 d-block">Development Team Lead</span></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span class="font-weight-bold">$5,373</span>
                            </td>
                            <td class="text-center">
                                <span class="text-success">+47</span>
                            </td>
                            <td class="text-center">
                                <span class="badge badge-danger">Failed</span>
                            </td>
                            <td class="text-right">
                                <div class="d-flex align-items-center justify-content-end">
                                    <div class="font-weight-bold font-size-lg pr-2"> $346,457</div>
                                    <fa-icon [icon]="['fas', 'arrow-up']"
                                             class="font-size-sm opacity-5"></fa-icon>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card card-box pt-4 mb-5">
            <div class="card-tr-actions">
                <button class="btn btn-sm btn-neutral-dark" tooltip="Send Message" type="button">
                    <span class="btn-wrapper--icon">
                        <fa-icon [icon]="['far', 'envelope']"></fa-icon>
                    </span>
                </button>
            </div>
            <div class="text-center">
                <div class="avatar-icon-wrapper rounded-circle m-0">
                    <div class="d-block p-0 avatar-icon-wrapper m-0 d-90">
                        <div class="rounded-circle overflow-hidden">
                            <img alt="..." class="img-fluid" src="assets/images/avatars/avatar7.jpg">
                        </div>
                    </div>
                </div>
                <div>
                    <span class="badge my-2 badge-neutral-success text-success font-size-md px-4 py-1 h-auto">Online</span>
                </div>
                <h3 class="font-weight-bold mb-1 mt-3">Lacie-Mae Mckay</h3>
                <p class="mb-0 text-black-50">Senior Frontend Developer at <b>Google Inc.</b></p>
                <div class="pt-3">
                    <button class="btn d-50 m-2 p-0 btn-github" tooltip="Github" type="button">
                        <span class="btn-wrapper--icon">
                          <fa-icon [icon]="['fab', 'github']" class="font-size-lg"></fa-icon>
                        </span>
                    </button>
                    <button class="btn d-50 m-2 p-0 btn-instagram" tooltip="Instagram" type="button">
                        <span class="btn-wrapper--icon">
                          <fa-icon [icon]="['fab', 'instagram']" class="font-size-lg"></fa-icon>
                        </span>
                    </button>
                    <button class="btn d-50 m-2 p-0 btn-google" tooltip="Google" type="button">
                        <span class="btn-wrapper--icon">
                          <fa-icon [icon]="['fab', 'google']" class="font-size-lg"></fa-icon>
                        </span>
                    </button>
                </div>
                <div class="d-flex p-4 bg-secondary card-footer mt-4 flex-wrap">
                    <div class="w-50 p-2">
                        <button class="btn card card-box text-left d-flex justify-content-center px-4 py-3 w-100"
                                type="button">
                            <div>
                                <i-feather class="h1 d-block mb-4 text-warning line-height-1"
                                           name="settings"></i-feather>
                                <div class="font-weight-bold font-size-lg text-black">Reports</div>
                                <div class="font-size-md mb-1 text-black-50">Monthly Stats</div>
                            </div>
                        </button>
                    </div>
                    <div class="w-50 p-2">
                        <button class="btn card card-box text-left d-flex justify-content-center px-4 py-3 w-100"
                                type="button">
                            <div>
                                <i-feather class="h1 d-block mb-4 text-success line-height-1" name="grid"></i-feather>
                                <div class="font-weight-bold font-size-lg text-black">Statistics</div>
                                <div class="font-size-md mb-1 text-black-50">Customers stats</div>
                            </div>
                        </button>
                    </div>
                    <div class="w-50 p-2">
                        <button class="btn card card-box text-left d-flex justify-content-center px-4 py-3 w-100"
                                type="button">
                            <div>
                                <i-feather class="h1 d-block mb-4 text-danger line-height-1" name="users"></i-feather>
                                <div class="font-weight-bold font-size-lg text-black">Projects</div>
                                <div class="font-size-md mb-1 text-black-50">Manage servers</div>
                            </div>
                        </button>
                    </div>
                    <div class="w-50 p-2">
                        <button class="btn card card-box text-left d-flex justify-content-center px-4 py-3 w-100"
                                type="button">
                            <div>
                                <i-feather class="h1 d-block mb-4 text-first line-height-1" name="layers"></i-feather>
                                <div class="font-weight-bold font-size-lg text-black">Tasks</div>
                                <div class="font-size-md mb-1 text-black-50">Pending items</div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
