<div class="hero-wrapper bg-composed-wrapper bg-white">
    <div class="header-nav-wrapper header-nav-wrapper-lg w-100 navbar-dark">
        <div class="text-center w-100 d-block font-weight-bold text-white-50 text-uppercase">Header menu placeholder</div>
    </div>
    <div class="flex-grow-1 w-100 d-flex align-items-center">
        <div class="bg-composed-wrapper--image bg-composed-filter-rm opacity-9" style="background-image: url('assets/images/hero-bg/hero-6.jpg');"></div>
        <div class="bg-composed-wrapper--content py-5">
            <div class="container py-5">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="d-flex align-items-center">
                            <span class="badge badge-pill badge-success px-4 h-auto py-1">New version</span>
                            <span class="text-black-50 ml-3" tooltip="More info placeholder!">
                                <fa-icon [icon]="['far', 'question-circle']"></fa-icon>
                            </span>
                        </div>
                        <div class="text-black mt-3">
                            <h1 class="display-2 mb-3 font-weight-bold">
                                Bamburgh Angular Admin Dashboard with NGX Bootstrap PRO
                            </h1>
                            <p class="font-size-lg text-black-50">
                                It&#39;s the most complete frontend development solution that will help you build powerful &amp; scalable web applications or beautiful presentation websites.
                            </p>
                            <div class="divider border-2 border-dark my-5 border-light opacity-2 rounded-circle w-25"></div>
                            <div>
                                <a [routerLink]="" class="btn btn-lg btn-first d-block d-sm-inline-block">
                                    <span class="btn-wrapper--label">
                                        Browse gallery
                                    </span>
                                    <span class="btn-wrapper--icon">
                                        <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
                                    </span>
                                </a>
                                <a [routerLink]="" class="btn btn-lg btn-outline-second d-block d-sm-inline-block ml-0 mt-3 mt-sm-0 ml-sm-3">
                                    <span>
                                        Plans & pricing
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 px-0 d-none d-md-flex align-items-center">
                        <img alt="..." class="w-100 mx-auto d-block img-fluid" src="assets/images/illustrations/monitor.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-footer pt-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-4">
                    <div class="card card-box-hover-rise mb-5">
                        <div class="card-body">
                            <div class="bg-deep-blue text-center text-white display-4 d-60 rounded-circle">
                                <fa-icon [icon]="['far', 'building']"></fa-icon>
                            </div>
                            <h3 class="heading-6 mt-4 mb-3 font-weight-bold">Lightweight</h3>
                            <p class="card-text mb-3">
                                These matters to this principle of selection: he rejects pleasures to secure other.
                            </p>
                            <a [routerLink]="" class="btn btn-link btn-link-primary pl-0 pr-0" target="_blank" title="Learn more"><span>Learn more</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card card-box-hover-rise mb-5">
                        <div class="card-body">
                            <div class="bg-sunny-morning text-center text-white display-4 d-60 rounded-circle">
                                <fa-icon [icon]="['fas', 'lemon']"></fa-icon>
                            </div>
                            <h3 class="heading-6 mt-4 mb-3 font-weight-bold">Simple to use</h3>
                            <p class="card-text mb-3">
                                Greater pleasures, or else he endures pains to avoid worse pains. But I must explain.
                            </p>
                            <a [routerLink]="" class="btn btn-link btn-link-primary pl-0 pr-0" target="_blank" title="Learn more"><span>Learn more</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card card-box-hover-rise mb-5">
                        <div class="card-body">
                            <div class="bg-grow-early text-center text-white display-4 d-60 rounded-circle">
                                <fa-icon [icon]="['far', 'keyboard']"></fa-icon>
                            </div>
                            <h3 class="heading-6 mt-4 mb-3 font-weight-bold">Starter Templates</h3>
                            <p class="card-text mb-3">
                                To you how all this mistaken idea of denouncing pleasure and praising.
                            </p>
                            <a [routerLink]="" class="btn btn-link btn-link-primary pl-0 pr-0" target="_blank" title="Learn more"><span>Learn more</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
