<form>
    <div class="position-relative row form-group"><label class="col-sm-2 col-form-label font-weight-bold" for="exampleEmail">Email</label>
        <div class="col-sm-10"><input class="form-control" id="exampleEmail" name="email"
                                      placeholder="with a placeholder" type="email"></div>
    </div>
    <div class="position-relative row form-group"><label class="col-sm-2 col-form-label font-weight-bold"
                                                         for="examplePassword">Password</label>
        <div class="col-sm-10"><input class="form-control" id="examplePassword" name="password"
                                      placeholder="password placeholder" type="password"></div>
    </div>
    <div class="position-relative row form-group"><label class="col-sm-2 col-form-label font-weight-bold" for="exampleSelect">Select</label>
        <div class="col-sm-10"><select class="form-control" id="exampleSelect" name="select"></select></div>
    </div>
    <div class="position-relative row form-group"><label class="col-sm-2 col-form-label font-weight-bold"
                                                         for="exampleSelectMulti">Select
        Multiple</label>
        <div class="col-sm-10"><select class="form-control" id="exampleSelectMulti" multiple="multiple"
                                       name="selectMulti"></select></div>
    </div>
    <div class="position-relative row form-group"><label class="col-sm-2 col-form-label font-weight-bold" for="exampleText">Text
        Area</label>
        <div class="col-sm-10"><textarea class="form-control" id="exampleText" name="text"></textarea></div>
    </div>
    <div class="position-relative row form-group"><label class="col-sm-2 col-form-label font-weight-bold"
                                                         for="exampleFile">File</label>
        <div class="col-sm-10"><input class="form-control-file" id="exampleFile" name="file" type="file">
            <small class="form-text text-muted">This is some placeholder block-level help text for the above
                input. It's a bit lighter and easily wraps to a new line.
            </small>
        </div>
    </div>
    <fieldset class="position-relative row form-group">
        <legend class="col-form-label font-weight-bold col-sm-2">Radio Buttons</legend>
        <div class="col-sm-10">
            <div class="position-relative form-check"><label class="form-check-label"><input class="form-check-input"
                                                                                             name="radio2"
                                                                                             type="radio">
                Option one is this and that—be sure to include why it's great</label></div>
            <div class="position-relative form-check"><label class="form-check-label"><input class="form-check-input"
                                                                                             name="radio2"
                                                                                             type="radio">
                Option two can be something else and selecting it will deselect option one</label></div>
            <div class="position-relative form-check disabled"><label class="form-check-label"><input
                    class="form-check-input" disabled="disabled" name="radio2" type="radio"> Option three is
                disabled</label></div>
        </div>
    </fieldset>
    <div class="position-relative row form-group">
        <div class="col-sm-10">
            <div class="position-relative form-check"><label class="form-check-label"><input class="form-check-input"
                                                                                             id="checkbox2"
                                                                                             type="checkbox">
                Check me out</label></div>
        </div>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>
