<alert type="success">
    <div class="d-flex align-items-center align-content-center">
        <span class="font-size-lg d-block d-40 mr-3 text-center bg-white-50 rounded-sm">
            <fa-icon [icon]="['far', 'object-group']"></fa-icon>
        </span>
        <span>
            <strong class="d-block">Success!</strong> This is a success alert—check it out!
        </span>
    </div>
</alert>
<alert type="info">
    <div class="d-flex align-items-center align-content-center">
        <span class="font-size-lg d-block d-40 mr-3 text-center bg-white-50 rounded-sm">
            <fa-icon [icon]="['far', 'building']"></fa-icon>
        </span>
        <span>
            <strong class="d-block">Info!</strong> This is an info alert—check it out!
        </span>
    </div>
</alert>
<alert type="warning">
    <div class="d-flex align-items-center align-content-center">
        <span class="font-size-lg d-block d-40 mr-3 text-center bg-white-50 rounded-sm">
            <fa-icon [icon]="['far', 'question-circle']"></fa-icon>
        </span>
        <span>
            <strong class="d-block">Warning!</strong> This is a warning alert—check it out!
        </span>
    </div>
</alert>
<alert type="danger">
    <div class="d-flex align-items-center align-content-center">
        <span class="font-size-lg d-block d-40 mr-3 text-center bg-white-50 rounded-sm">
            <fa-icon [icon]="['far', 'keyboard']"></fa-icon>
        </span>
        <span>
            <strong class="d-block">Danger!</strong> This is an error alert—check it out!
        </span>
    </div>
</alert>
