<div class="row">
    <div class="col-xl-6">
        <div class="card card-box mb-5">
            <div class="card-body"><h5 class="card-title font-weight-bold font-size-lg mb-4">Controls Types</h5>
                <form>
                    <div class="position-relative form-group"><label for="exampleEmail">Email</label><input class="form-control"
                                                                                                            id="exampleEmail"
                                                                                                            name="email"
                                                                                                            placeholder="with a placeholder"
                                                                                                            type="email">
                    </div>
                    <div class="position-relative form-group"><label for="examplePassword">Password</label><input
                            class="form-control" id="examplePassword" name="password" placeholder="password placeholder"
                            type="password"></div>
                    <div class="position-relative form-group"><label for="exampleSelect">Select</label><select
                            class="form-control" id="exampleSelect" name="select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select></div>
                    <div class="position-relative form-group"><label for="exampleSelectMulti">Select
                        Multiple</label><select class="form-control" id="exampleSelectMulti" multiple="multiple"
                                                name="selectMulti">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select></div>
                    <div class="position-relative form-group"><label for="exampleText">Text Area</label><textarea
                            class="form-control" id="exampleText" name="text"></textarea></div>
                    <div class="position-relative form-group"><label for="exampleFile">File</label><input class="form-control-file"
                                                                                                          id="exampleFile"
                                                                                                          name="file"
                                                                                                          type="file">
                        <small class="form-text text-muted">This is some placeholder block-level help text for the above
                            input. It's a bit lighter and easily wraps to a new line.
                        </small>
                    </div>
                    <button class="mt-1 btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card card-box mb-5">
            <div class="card-body"><h5 class="card-title font-weight-bold font-size-lg mb-4">Sizing</h5>
                <form><input class="mb-2 form-control-lg form-control" placeholder="lg" type="text"><input
                        class="mb-2 form-control" placeholder="default" type="text"><input class="mb-2 form-control-sm form-control" placeholder="sm"
                                                                                           type="text">
                    <div class="divider"></div>
                    <select class="mb-2 form-control-lg form-control">
                        <option>Large Select</option>
                    </select><select class="mb-2 form-control">
                        <option>Default Select</option>
                    </select><select class="form-control-sm form-control">
                        <option>Small Select</option>
                    </select></form>
            </div>
        </div>
        <div class="card card-box mb-5">
            <div class="card-body"><h5 class="card-title font-weight-bold font-size-lg mb-4">Checkboxes &amp; Radios</h5>
                <form>
                    <fieldset class="position-relative form-group">
                        <div class="position-relative form-check"><label class="form-check-label"><input class="form-check-input"
                                                                                                         name="radio1"
                                                                                                         type="radio">
                            Option one is this and that—be sure to include why it's great</label></div>
                        <div class="position-relative form-check"><label class="form-check-label"><input class="form-check-input"
                                                                                                         name="radio1"
                                                                                                         type="radio">
                            Option two can be something else and selecting it will deselect option one</label></div>
                        <div class="position-relative form-check disabled"><label class="form-check-label"><input
                                class="form-check-input" disabled="disabled" name="radio1" type="radio"> Option three is disabled</label>
                        </div>
                    </fieldset>
                    <div class="position-relative form-check"><label class="form-check-label"><input class="form-check-input"
                                                                                                     type="checkbox">
                        Check me out</label></div>
                </form>
            </div>
        </div>
        <div class="card card-box mb-5">
            <div class="card-body"><h5 class="card-title font-weight-bold font-size-lg mb-4">Inline</h5>
                <div class="position-relative form-group">
                    <div>
                        <div class="custom-checkbox custom-control mb-3 custom-control-inline"><input class="custom-control-input"
                                                                                                      id="exampleCustomInline"
                                                                                                      type="checkbox"><label
                                class="custom-control-label" for="exampleCustomInline">An inline custom input</label></div>
                        <div class="custom-checkbox custom-control mb-3 custom-control-inline"><input class="custom-control-input"
                                                                                                      id="exampleCustomInline2"
                                                                                                      type="checkbox"><label
                                class="custom-control-label" for="exampleCustomInline2">and another one</label></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form>
    <div class="row">
        <div class="col-xl-6">
            <div class="card card-box mb-5">
                <div class="card-body"><h5 class="card-title font-weight-bold font-size-lg mb-4">Checkboxes</h5>
                    <div class="position-relative form-group">
                        <div>
                            <div class="custom-checkbox custom-control mb-3"><input class="custom-control-input" id="exampleCustomCheckbox"
                                                                               type="checkbox"><label
                                    class="custom-control-label" for="exampleCustomCheckbox">Check this custom checkbox</label>
                            </div>
                            <div class="custom-checkbox custom-control mb-3"><input class="custom-control-input" id="exampleCustomCheckbox2"
                                                                               type="checkbox"><label
                                    class="custom-control-label" for="exampleCustomCheckbox2">Or this one</label></div>
                            <div class="custom-checkbox custom-control"><input class="custom-control-input" disabled="disabled"
                                                                               id="exampleCustomCheckbox3"
                                                                               type="checkbox"><label
                                    class="custom-control-label" for="exampleCustomCheckbox3">But not this disabled one</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-box mb-5">
                <div class="card-body"><h5 class="card-title font-weight-bold font-size-lg mb-4">Radios</h5>
                    <div class="position-relative form-group">
                        <div>
                            <div class="custom-radio custom-control mb-3"><input class="custom-control-input" id="exampleCustomRadio"
                                                                            name="customRadio"
                                                                            type="radio"><label
                                    class="custom-control-label" for="exampleCustomRadio">Select this custom radio</label></div>
                            <div class="custom-radio custom-control mb-3"><input class="custom-control-input" id="exampleCustomRadio2"
                                                                            name="customRadio"
                                                                            type="radio"><label
                                    class="custom-control-label" for="exampleCustomRadio2">Or this one</label></div>
                            <div class="custom-radio custom-control"><input class="custom-control-input" disabled="disabled"
                                                                            id="exampleCustomRadio3"
                                                                            type="radio"><label
                                    class="custom-control-label" for="exampleCustomRadio3">But not this disabled one</label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card card-box mb-5">
                <div class="card-body"><h5 class="card-title font-weight-bold font-size-lg mb-4">Form Select</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="position-relative form-group"><label for="exampleCustomSelect">Custom
                                Select</label><select class="custom-select" id="exampleCustomSelect" name="customSelect"
                                                      type="select">
                                <option value="">Select</option>
                                <option>Value 1</option>
                                <option>Value 2</option>
                                <option>Value 3</option>
                                <option>Value 4</option>
                                <option>Value 5</option>
                            </select></div>
                            <div class="position-relative form-group"><label for="exampleCustomMutlipleSelect">Custom Multiple
                                Select</label><select class="custom-select" id="exampleCustomMutlipleSelect" multiple="multiple"
                                                      name="customSelect" type="select">
                                <option value="">Select</option>
                                <option>Value 1</option>
                                <option>Value 2</option>
                                <option>Value 3</option>
                                <option>Value 4</option>
                                <option>Value 5</option>
                            </select></div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group"><label for="exampleCustomSelectDisabled">Custom Select
                                Disabled</label><select class="custom-select" disabled="disabled" id="exampleCustomSelectDisabled"
                                                        name="customSelect" type="select">
                                <option value="">Select</option>
                                <option>Value 1</option>
                                <option>Value 2</option>
                                <option>Value 3</option>
                                <option>Value 4</option>
                                <option>Value 5</option>
                            </select></div>
                            <div class="position-relative form-group"><label for="exampleCustomMutlipleSelectDisabled">Custom
                                Multiple Select Disabled</label><select class="custom-select" disabled="disabled"
                                                                        id="exampleCustomMutlipleSelectDisabled"
                                                                        multiple="multiple" name="customSelect"
                                                                        type="select">
                                <option value="">Select</option>
                                <option>Value 1</option>
                                <option>Value 2</option>
                                <option>Value 3</option>
                                <option>Value 4</option>
                                <option>Value 5</option>
                            </select></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
