<div class="row">
    <div class="col-md-6 col-xl-4">
        <div class="text-center mb-3">
            <button class="btn btn-sm btn-outline-primary m-2" (click)="showSpinner(sp1)">Show</button>
            <button class="btn btn-sm btn-outline-primary m-2" (click)="hideSpinner(sp1)">Hide</button>
        </div>
        <div class="card card-box p-5 mb-5 text-center overflow-hidden">
            <ngx-spinner [fullScreen]="false" [name]="sp1" size="medium" type="ball-clip-rotate-multiple"></ngx-spinner>
            <div class="font-weight-bold font-size-lg mb-2">
                Block loading example 1
            </div>
            <p class="text-black-50 mb-0">Click the buttons above to see this loader in action.</p>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="text-center mb-3">
            <button class="btn btn-sm btn-outline-primary m-2" (click)="showSpinner(sp2)">Show</button>
            <button class="btn btn-sm btn-outline-primary m-2" (click)="hideSpinner(sp2)">Hide</button>
        </div>
        <div class="card card-box p-5 mb-5 text-center overflow-hidden">
            <ngx-spinner [fullScreen]="false" name="sp2" size="medium" type="ball-fussion"></ngx-spinner>
            <div class="font-weight-bold font-size-lg mb-2">
                Block loading example 2
            </div>
            <p class="text-black-50 mb-0">Click the buttons above to see this loader in action.</p>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="text-center mb-3">
            <button class="btn btn-sm btn-outline-primary m-2" (click)="showSpinner(sp3)">Show</button>
            <button class="btn btn-sm btn-outline-primary m-2" (click)="hideSpinner(sp3)">Hide</button>
        </div>
        <div class="card card-box p-5 mb-5 text-center overflow-hidden">
            <ngx-spinner [fullScreen]="false" name="sp3" size="medium" type="ball-spin-clockwise"></ngx-spinner>
            <div class="font-weight-bold font-size-lg mb-2">
                Block loading example 3
            </div>
            <p class="text-black-50 mb-0">Click the buttons above to see this loader in action.</p>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="text-center mb-3">
            <button class="btn btn-sm btn-outline-primary m-2" (click)="showSpinner(sp4)">Show</button>
            <button class="btn btn-sm btn-outline-primary m-2" (click)="hideSpinner(sp4)">Hide</button>
        </div>
        <div class="card card-box p-5 mb-5 text-center overflow-hidden">
            <ngx-spinner [fullScreen]="false" name="sp4" size="medium" type="cog"></ngx-spinner>
            <div class="font-weight-bold font-size-lg mb-2">
                Block loading example 4
            </div>
            <p class="text-black-50 mb-0">Click the buttons above to see this loader in action.</p>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="text-center mb-3">
            <button class="btn btn-sm btn-outline-primary m-2" (click)="showSpinner(sp5)">Show</button>
            <button class="btn btn-sm btn-outline-primary m-2" (click)="hideSpinner(sp5)">Hide</button>
        </div>
        <div class="card card-box p-5 mb-5 text-center overflow-hidden">
            <ngx-spinner [fullScreen]="false" name="sp5" size="medium" type="square-jelly-box"></ngx-spinner>
            <div class="font-weight-bold font-size-lg mb-2">
                Block loading example 5
            </div>
            <p class="text-black-50 mb-0">Click the buttons above to see this loader in action.</p>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="text-center mb-3">
            <button class="btn btn-sm btn-outline-primary m-2" (click)="showSpinner(sp6)">Show</button>
            <button class="btn btn-sm btn-outline-primary m-2" (click)="hideSpinner(sp6)">Hide</button>
        </div>
        <div class="card card-box p-5 mb-5 text-center overflow-hidden">
            <ngx-spinner [fullScreen]="false" name="sp6" size="medium" type="timer"></ngx-spinner>
            <div class="font-weight-bold font-size-lg mb-2">
                Block loading example 6
            </div>
            <p class="text-black-50 mb-0">Click the buttons above to see this loader in action.</p>
        </div>
    </div>
</div>
