<div class="row">
  <div class="col-md-6">
    <span class="badge m-1 badge-circle badge-primary">Primary</span>
    <span class="badge m-1 badge-circle badge-second">Secondary</span>
    <span class="badge m-1 badge-circle badge-success">Success</span>
    <span class="badge m-1 badge-circle badge-danger">Danger</span>
    <span class="badge m-1 badge-circle badge-warning">Warning</span>
    <span class="badge m-1 badge-circle badge-info">Info</span>
    <span class="badge m-1 badge-circle badge-dark">Dark</span>
  </div>
  <div class="col-md-6">
    <span class="badge m-1 badge-circle-inner badge-primary">Primary</span>
    <span class="badge m-1 badge-circle-inner badge-second">Secondary</span>
    <span class="badge m-1 badge-circle-inner badge-success">Success</span>
    <span class="badge m-1 badge-circle-inner badge-danger">Danger</span>
    <span class="badge m-1 badge-circle-inner badge-warning">Warning</span>
    <span class="badge m-1 badge-circle-inner badge-info">Info</span>
    <span class="badge m-1 badge-circle-inner badge-dark">Dark</span>

  </div>
</div>
