<button class="btn m-2 btn-pill btn-primary" type="button">Primary</button>
<button class="btn m-2 btn-pill btn-secondary" type="button">Secondary</button>
<button class="btn m-2 btn-pill btn-first" type="button">Primary Alt</button>
<button class="btn m-2 btn-pill btn-second" type="button">Secondary Alt</button>
<button class="btn m-2 btn-pill btn-info" type="button">Info</button>
<button class="btn m-2 btn-pill btn-success" type="button">Success</button>
<button class="btn m-2 btn-pill btn-warning" type="button">Warning</button>
<button class="btn m-2 btn-pill btn-danger" type="button">Danger</button>
<button class="btn m-2 btn-pill btn-dark" type="button">Dark</button>

<div class="divider my-3"></div>

<button class="btn m-2 btn-pill btn-outline-primary" type="button">Primary</button>
<button class="btn m-2 btn-pill btn-outline-first" type="button">Primary Alt</button>
<button class="btn m-2 btn-pill btn-outline-second" type="button">Secondary Alt</button>
<button class="btn m-2 btn-pill btn-outline-info" type="button">Info</button>
<button class="btn m-2 btn-pill btn-outline-success" type="button">Success</button>
<button class="btn m-2 btn-pill btn-outline-warning" type="button">Warning</button>
<button class="btn m-2 btn-pill btn-outline-danger" type="button">Danger</button>
<button class="btn m-2 btn-pill btn-outline-dark" type="button">Dark</button>

