<div class="row">
  <div class="col-md-6">
    <bar-rating [(rate)]="ratingV1" [theme]="'rating-vertical'" [showText]="true" class="rating-success" [max]="8"></bar-rating>

    <bar-rating [(rate)]="ratingV1" [theme]="'rating-vertical'" [showText]="true" class="rating-first" [max]="8"></bar-rating>
  </div>
  <div class="col-md-6">
    <bar-rating [(rate)]="ratingV1" [theme]="'rating-vertical'" [showText]="true" class="rating-danger" [max]="8"></bar-rating>

    <bar-rating [(rate)]="ratingV1" [theme]="'rating-vertical'" [showText]="true" class="rating-warning" [max]="8"></bar-rating>
  </div>
</div>
